<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<section class="congrates">
    <div class="container">
        <div class="row">
            <div class="col-md-12 space50 ">
                <p class="text-center fsize22 lighter-grey proximanova-regular">Terms of Services</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-12">
                <div class="congrates-box"><!-- start congrates box -->
                    <div class="space20"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <form class="answer-form text-center" ng-submit="paymentsSave()"><!-- start answer form -->
                                <div class="row">
                                    <div class="col-md-12 space20">
                                        <p align="justify">
                                            Terms of Service

                                            Your Local Cousin (“YLC,” “we,” “us,” “our”, “Company”) provides its Services (described

                                            below and in the website) to you through its website located at www.yourlocalcousin.com (the

                                            “Site”) and is subject to the following Terms of Service (as amended from time to time, the

                                            “Terms of Service” or “Service”). We reserve the right, at our sole discretion, to change or

                                            modify portions of these Terms of Service at any time. If we do this, we will post the changes

                                            on this page and will indicate at the top of this page the date these terms were last revised.

                                            We will also notify you, in an email notification or through other reasonable means. Any such

                                            changes will become effective no earlier than fourteen (14) days after they are posted, except

                                            that changes addressing new functions of the Services or changes made for legal reasons

                                            will be effective immediately. Your continued use of the Service after the date any such

                                            changes become effective constitutes your acceptance of the new Terms of Service. 

                                            In addition, when using certain services, you will be subject to any additional terms applicable

                                            to such services that may be posted on the Service from time to time, including, without

                                            limitation, the Privacy Policy. All such terms are hereby incorporated by reference into these

                                            Terms of Service. 
                                        </p>
                                        <p align="left">
                                            If you do not agree to these Terms of Service do not use Your Local Cousin. If you are

                                            accepting these Terms of Service on behalf of a business, you represent and warrant that you

                                            have sufficient authority to bind the business, and that your acceptance of these Terms shall

                                            bind the company on whose behalf you are accepting these Terms.
                                        </p>
                                        <p align="left">
                                            Nature of Services:

                                            Your Local Cousin's responsibilities are limited to:
                                        </p>

                                            <li align="left">
                                                Providing first hand and un-biased advice and recommendations to Travelers (“Users”) as

                                                they plan their vacation. 
                                            </li>
                                            <li align="left">
                                                Connect Users to Local Cousin ("Users") who are living or have lived in a specific city or

                                                locality and are / were familiar with a specific activity or attraction in the city the traveler is

                                                visiting.  
                                            </li>


                                            <p align="justify">
                                                Your Local Cousin is not an operator of tours, activities or experiences, nor is it a provider of

                                                tours or activities, and we do not own, sell, resell, furnish, provide, manage and/or control any

                                                transportation or tour services, including insurance. We also do not operate on the basis of

                                                commissions from hotels, restaurants and other tour services for the recommendations or

                                                advice that we or our Local Cousins provide to the Travelers.
                                            </p>


                                            <p align="justify">
                                                You understand and agree that Your Local Cousin is not a party to any agreements entered

                                                into between Travelers and Local Cousin(s), nor are we an agent or insurer. Our services are

                                                intended to facilitate enriching your travel experience by connecting you to local experts over

                                                a common method of communication such as Skype, email or text. Further, we do not control

                                                the content shared between the Traveler and the Local Cousin. The Traveler is solely

                                                responsible for planning, discussing and accepting the advice and recommendations provided

                                                by a Local Cousin at their own risk. Therefore, you agree that your access to and use of Your

                                                Local Cousin and its service is at your own risk. Your Local Cousin will have no responsibility

                                                for any harm that results from your access to or use of its site, any related site, its content, or

                                                its service.
                                            </p>

                                            <p align="justify">
                                                Traveler's Sign Up Obligations: You may be required to sign up with Your Local Cousin in

                                                order to provide us your travel interests and preferences so that we can serve you better. If

                                                you choose to sign up for the Service you agree to provide and maintain true, accurate,

                                                current and complete information about yourself as prompted by the Service’s sign up form.

                                                Sign up data and certain other information about you are governed by our Privacy Policy. If

                                                you are under 18 years of age, you are not authorized to use the Service, with or without

                                                signing up or with the approval of your parent or guardian. Based on the information provided

                                                by the Traveler, the Local Cousin and Traveler will connect over Skype, in-built messaging

                                                service or text. The Traveler acknowledges and agrees that Your Local Cousin is not a party

                                                to any agreement between the Traveler and the Local Cousin, and that, with the exception of

                                                its payment obligations and obligations related to Your Local Cousin, we disclaims all liability

                                                arising from or related to any such agreements. Further, by accepting these Terms of Service

                                                you agree to not meet the Local Cousin or his associates in person anywhere and at

                                                any point in time. Should you chose to do so, you do at your own free will and risk and hold

                                                Your Local Cousin harmless from any damages or harm caused to you.

                                            <p align="justify">


                                                Local Cousin's Responsibilities: If you are a Local Cousin, you are responsible for

                                                ensuring that you provide accurate and timely information to the Traveler and to the best of

                                                your knowledge you do not provide information that would jeopardize the health and safety of

                                                the Traveler. It is also the Local Cousin's responsibility to contact the Traveler should there be

                                                a change in the agreed time of call with the Traveler. Should the Local Cousin cancel, Your

                                                Local Cousin will endeavour to connect you to an alternate Local Cousin. Further, by

                                                accepting these Terms of Service you agree to not meet the Traveler or his associates in

                                                person anywhere and at any point in time. Should you chose to do so, you do at your own

                                                free will and risk and hold Your Local Cousin harmless from any damages or harm caused to

                                                you.

                                                Prohibited Use: Without limitation, while using the Service, you may not:
                                            </p>

                                            <li align="left">
                                                Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as, but

                                                not limited to, rights of privacy and publicity) of others, including Your Local Cousin staff.
                                            </li>
                                            <li align="left">
                                                Publish, post, upload, distribute or disseminate any profane, defamatory, infringing,

                                                obscene or unlawful topic, name, material or information.
                                            </li>
                                            <li align="left">
                                                Use the Service for any purpose, including, but not limited to posting content, which is in

                                                violation of local, state, national, or international law.
                                            </li>
                                            <li align="left">
                                                Upload files that contain software or other material that violates the intellectual property

                                                rights (or rights of privacy or publicity) of any third party.
                                            </li>
                                            <li align="left">
                                                Upload files that contain viruses, Trojan horses, corrupted files, or any other similar

                                                software that may damage the operation of another's computer.
                                            </li>
                                            <li align="left">
                                                Post or upload any content to which you have not obtained any necessary rights or

                                                permissions to use accordingly.
                                            </li>
                                            <li align="left">
                                                Advertise or offer to sell any goods or services for any commercial purpose through the

                                                Service, which are not relevant to the services offered by Your Local Cousin.
                                            </li>

                                            <li align="left">
                                                Conduct or forward surveys, contests, pyramid schemes, or chain letters.
                                            </li>
                                            <li align="left">
                                                Impersonate another person or a User or allow any other person or entity to use your
                                                identification to post or view comments.
                                            </li>
                                            <li align="left">
                                                Spamming is strictly prohibited.
                                            </li>

                                            <li align="left">
                                                Download any file posted by another User that a User knows, or reasonably should

                                                know, cannot be legally distributed through the Service.
                                            </li>
                                            <li align="left">
                                                Restrict or inhibit any other User from using and enjoying the Service.
                                            </li>
                                            <li align="left">
                                                Imply or state that any statements you make are endorsed by Your Local Cousin, without
                                                the prior written consent of Company.
                                            </li>
                                            <li align="left">
                                                Use a robot, spider, manual and/or automatic processes or devices to data-mine, data-
                                                crawl, scrape or index the Service in any manner.
                                            </li>
                                            <li align="left">
                                                Hack or interfere with the Service, its servers or any connected networks.
                                            </li>
                                            <li align="left">
                                                Adapt, alter, license, sublicense or translate the Service for your own personal or
                                                commercial use.
                                            </li>
                                            <li align="left">
                                                Remove or alter, visually or otherwise, any copyrights, trademarks or proprietary marks
                                                and rights owned by Company.
                                            </li>
                                            <li align="left">
                                                Upload content that is offensive and/or harmful, including, but not limited to, content that
                                                advocates, endorses, condones or promotes racism, bigotry, hatred or physical harm of
                                                any kind against any individual or group of individuals.
                                            </li>
                                            <li align="left">
                                                Upload content that provides materials or access to materials that exploit people under
                                                the age of 18 in an abusive, violent or sexual manner.
                                            </li>
                                            <li align="left">
                                                Use the Service to solicit for any other business, website or service, or otherwise contact
                                                Users for employment, contracting or any purpose not related to use of the Service as
                                                set forth herein.
                                            </li>
                                            <li align="left">
                                                Use the Service to collect usernames and or/email addresses of Users by electronic or
                                                other means.
                                            </li>
                                            <li align="left">
                                                Register under different usernames or identities, after your account has been suspended
                                                or terminated.
                                            </li>

                                            <p align="left">
                                                You understand that all submissions made to Public Areas will be public and that you will be

                                                publicly identified by your name or login identification when communicating in Public Areas,

                                                and Company will not be responsible for the action of any Users with respect to any

                                                information or materials posted in Public Areas.

                                                Termination and Suspension: Your Local Cousin may terminate or suspend your right to

                                                use the Service at any time for any or no reason by providing you with written or email notice

                                                of such termination, and termination will be effective immediately upon delivery of such

                                                notice.
                                            </p>
                                            <p align="left">
                                                Without limitation, Company may terminate or suspend your right to use the Service if you

                                                breach any term of this Agreement or any policy of Company posted through the Service from

                                                time to time, or if Company otherwise finds that you have engaged in inappropriate and/or

                                                offensive behavior. If Company terminates or suspends your right to use the Service for any

                                                of these reasons, you will not be entitled to any refund of unused balance in your account. If

                                                Company terminates or suspends your account for any reason, you are prohibited from

                                                registering and creating a new account under your name, a fake or borrowed name, or the

                                                name of any third party, even if you may be acting on behalf of the third party. In addition to

                                                terminating or suspending your account, Company reserves the right to take appropriate legal

                                                action, including without limitation pursuing civil, criminal, and injunctive redress.

                                                Even after your right to use the Service is terminated or suspended, this Agreement will

                                                remain enforceable against you.
                                            </p>
                                            <p align="left">
                                                You may terminate this Agreement at any time by ceasing all use of the Service. All sections

                                                which by their nature should survive the expiration or termination of this Agreement shall

                                                continue in full force and effect subsequent to and notwithstanding the expiration or

                                                termination of this Agreement.
                                            </p>
                                            <p align="left">
                                                Privacy Policy: Your Local Cousin takes reasonable steps to protect the Personal

                                                Information provided via the Services from loss, misuse, and unauthorized access,

                                                disclosure, alteration, or destruction. However, no Internet or email transmission is ever fully

                                                secure or error free. In particular, email sent to or from the Services may not be secure.

                                                Therefore, you should take special care in deciding what information you send to us via email.

                                                Please keep this in mind when disclosing any Personal Information to Your Local Cousin via

                                                the Internet. You are also the sole authorized user of your account. You are responsible for

                                                maintaining the confidentiality of any password and account number provided by you for

                                                accessing the Service. You are solely and fully responsible for all activities that occur under

                                                your password or account. Your Local Cousin has no control over the use of any User's

                                                account and expressly disclaims any liability derived therefrom. Should you suspect that any

                                                unauthorized party may be using your password or account or you suspect any other breach

                                                of security, you will contact us immediately.
                                            </p>
                                            <p align="left">
                                                By providing your mobile phone number and using the Service, you hereby affirmatively

                                                consent to our use of your mobile phone number for calls and texts in order to perform and

                                                improve upon the Service. Your Local Cousin will not assess any charges for calls or texts,

                                                but standard message charges or other charges from your wireless carrier may apply. You

                                                may opt-out of receiving text messages from us by modifying your account settings on the

                                                Site or by emailing info@yourlocalcousin.com.
                                            </p>

                                            <p align="left">
                                                You also hereby grant Your Local Cousin a non-exclusive, worldwide, perpetual, irrevocable,

                                                royalty-free, sub-licensable (through multiple tiers) right to exercise all copyright, publicity

                                                rights, and any other rights you have in Your Information, in any media now known or not

                                                currently known in order to perform and improve upon the Service.

                                                Each User (Traveler and Local Cousin) who provides to the Company any videotape, film,

                                                record, photograph, voice, or all related instrumental, musical, or other sound effects, in

                                                exchange for the right to use the Service, hereby irrevocably grants to the Company the non-

                                                exclusive, fully-paid, royalty-free, transferable, sub-licensable, worldwide, unrestricted, and

                                                perpetual right to:
                                            </p>

                                            <li align="left">
                                                Use any videotape, film, record or photograph that such User provides to the Company,

                                                and use, reproduce, modify, or creative derivatives of such User’s picture, silhouette and

                                                other reproductions of their physical likeness (as the same may appear in any still

                                                camera photograph and/or motion picture film or video) (collectively the “Physical

                                                Likeness”), in and in connection with the exhibition, distribution, display, performance,

                                                transmission, broadcasting on any and all media, including, without limitation, the

                                                internet, of any videos or images of such User in connection with the Service.
                                            </li>

                                            <li align="left">
                                                Reproduce in all media any recordings of such User’s voice, and all related instrumental,

                                                musical, or other sound effects (collectively, the “Voice”), made in connection with the

                                                Service.
                                            </li>

                                            <li align="left">
                                                Use, and permit to be used, such User’s Physical Likeness and Voice in the advertising,
                                                marketing, and/or publicizing of the Service in any media.
                                            </li>
                                            <li align="left">
                                                Use, and permit to be used, such User’s name and identity in connection with the

                                                Service.
                                            </li>
                                            <li align="left">
                                                Each User hereby waives all rights and releases the Company from, and shall neither

                                                sue nor bring any proceeding against any such parties for, any claim or cause of action,

                                                whether now known or unknown, for defamation, invasion of right to privacy, publicity or

                                                personality or any similar matter, or based upon or relating to the use and exploitation of

                                                such User’s identity, likeness or voice in connection with the Service.
                                            </li>
                                            <p align="left">
                                                Each User acknowledges that Your Local Cousin shall not owe any financial or other

                                                remuneration for using the recordings provided hereunder by such User, either for initial or

                                                subsequent transmission or playback, and further acknowledges that the Company is not

                                                responsible for any expense or liability incurred as a result of such User’s recordings or

                                                participation in any recordings, including any loss of such recording data.

                                                Third Party Websites: Our Site may contain links to other websites. If you choose to visit an

                                                advertiser by “clicking on” a banner ad or other type of advertisement, or click on another third

                                                party link, you will be directed to that third party's website. The fact that we link to a website or

                                                present a banner ad or other type of advertisement is not an endorsement, authorization or

                                                representation of our affiliation with that third party, nor is it an endorsement of their privacy or

                                                information security policies or practices. We do not exercise control over third party

                                                websites. These other websites may place their own cookies or other files on your computer,

                                                collect data or solicit personal information from you. Other websites follow different rules

                                                regarding the use or disclosure of the personal information you submit to them. We

                                                encourage you to read the privacy policies or statements of the other websites you visit. 

                                                Intellectual Property Rights: All text, graphics, editorial content, data, formatting, graphs,

                                                designs, HTML, look and feel, photographs, music, sounds, images, software, videos,

                                                designs, typefaces and other content (collectively “Proprietary Material”) that Users see or

                                                read through the Service is owned by Your Local Cousin, excluding User Generated Content

                                                that Company has the right to use. Proprietary Material is protected in all forms, media and

                                                technologies now known or hereinafter developed. Company owns all Proprietary Material, as

                                                well as the coordination, selection, arrangement and enhancement of such Proprietary

                                                Materials as a Collective Work under the United States Copyright Act, as amended. The

                                                Proprietary Material is protected by the domestic and international laws of copyright, patents,

                                                and other proprietary rights and laws. Users may not copy, download, use, redesign,

                                                reconfigure, or retransmit anything from the Service without Company's express prior written

                                                consent and, if applicable, the holder of the rights to the User Generated Content. Any use of

                                                such Proprietary Material, other than as permitted therein, is expressly prohibited without the

                                                prior permission of Company and, if applicable, the holder of the rights to the User Generated

                                                Content.
                                            </p>
                                            <p align="left">
                                                The service marks and trademarks of Company, including without limitation Company and the

                                                Company logos are service marks owned by Company. Any other trademarks, service marks,

                                                logos and/or trade names appearing via the Service are the property of their respective

                                                owners. You may not copy or use any of these marks, logos or trade names without the

                                                express prior written consent of Your Local Cousin.
                                            </p>
                                            <p align="left">
                                                Disclaimer of Warranties: USE OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK.

                                                THE SERVICE IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY

                                                KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,

                                                WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND

                                                NON-INFRINGEMENT. COMPANY MAKES NO WARRANTIES OR REPRESENTATIONS

                                                ABOUT THE ACCURACY OR COMPLETENESS OF THE CONTENT PROVIDED

                                                THROUGH THE SERVICE OR THE CONTENT OF ANY SITES LINKED TO THE SERVICE

                                                AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES,

                                                OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE,

                                                OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF

                                                THE SERVICE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE

                                                SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL

                                                INFORMATION STORED THEREIN. COMPANY DOES NOT WARRANT, ENDORSE,

                                                GUARANTEE OR ASSUME RESPONSIBILITY FOR ANY SERVICE ADVERTISED OR

                                                OFFERED BY A THIRD PARTY THROUGH THE SERVICE OR ANY HYPERLINKED

                                                WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING AND COMPANY

                                                WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY

                                                TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR

                                                SERVICES, OTHER THAN AS PROVIDED HEREIN. AS WITH THE PURCHASE OF A

                                                PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU

                                                SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE

                                                APPROPRIATE.
                                            </p>
                                            <p align="left">
                                                WITHOUT LIMITING THE FOREGOING, NEITHER COMPANY NOR ITS AFFILIATES OR

                                                LICENSORS WARRANT THAT ACCESS TO THE SERVICE WILL BE UNINTERRUPTED

                                                OR THAT THE SERVICE WILL BE ERROR-FREE; NOR DO THEY MAKE ANY WARRANTY

                                                AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE, OR

                                                AS TO THE TIMELINESS, ACCURACY, RELIABILITY, COMPLETENESS OR CONTENT

                                                OF ANY SERVICE, INFORMATION OR MATERIALS PROVIDED THROUGH OR IN

                                                CONNECTION WITH THE USE OF THE SERVICE.
                                            </p>

                                            <p align="left">
                                                NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE

                                                CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER.

                                                NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS WARRANT THAT THE

                                                SERVICE IS FREE FROM VIRUSES, WORMS, TROJAN HORSES, OR OTHER HARMFUL

                                                COMPONENTS.

                                                YOUR LOCAL COUSIN AND ITS AFFILIATES AND LICENSORS CANNOT AND DO NOT

                                                GUARANTEE THAT ANY PERSONAL INFORMATION SUPPLIED BY YOU WILL NOT BE

                                                MISAPPROPRIATED, INTERCEPTED, DELETED, DESTROYED OR USED BY OTHERS.

                                                IN ADDITION, EACH CLIENT IS RESPONSIBLE FOR SELECTING THEIR LOCAL COUSIN

                                                AND COMPANY DOES NOT WARRANT ANY GOODS OR SERVICES PURCHASED BY A

                                                CLIENT AND DOES NOT RECOMMEND ANY PARTICULAR LOCAL COUSIN. COMPANY

                                                DOES NOT PROVIDE ANY WARRANTIES OR GUARANTEES REGARDING ANY LOCAL

                                                COUSIN’S PROFESSIONAL ACCREDITATION, REGISTRATION OR LICENCE.
                                            </p>
                                            <p align="left">
                                                Limitation on Liability: in no event will Your Local Cousin, its affiliates, or their licensors,

                                                service providers, employees, agents, members, managers, officers, or directors be liable for

                                                damages of any kind, under any legal theory, arising out of or in connection with your use, or

                                                inability to use, the website, any websites linked to it, any content on the website or such

                                                other websites or any services or items obtained through the website or such other websites,

                                                including any direct, indirect, special, incidental, consequential, or punitive damages,

                                                including but not limited to, personal injury, pain and suffering, emotional distress, loss of

                                                revenue, loss of profits, loss of business or anticipated savings, loss of use, loss of goodwill,

                                                loss of data, and whether caused by tort (including negligence), breach of contract, or

                                                otherwise, even if foreseeable. The foregoing does not affect any liability which cannot be

                                                excluded or limited under applicable law.

                                                Indemnification: You agree to defend, indemnify, and hold harmless Your Local Cousin, its

                                                affiliates, licensors, and service providers, and its and their respective officers, directors,

                                                members, managers, employees, contractors, agents, licensors, suppliers, successors, and

                                                assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs,

                                                expenses or fees (including reasonable attorneys' fees) arising out of or relating to your

                                                violation of these Terms of Service or your use of the Website, including, but not limited to,

                                                your User Contributions, any use of the Website's content, services, and products other than

                                                as expressly authorized in these Terms of Service, or your use of any information obtained

                                                from the Website, or the violation of these Terms of Service by a third party to whom you

                                                granted your access to Your Local Cousin.

                                                Refund Policy: Our team at Your Local Cousin is extremely knowledgeable and we will do

                                                our best to answer all your questions and provide you great recommendations. Our goal is to

                                                make our Travelers have an authentic and customized travel experience. If you are not

                                                satisfied we will give you a full refund.

                                                Modifications to our Service: Your Local Cousin reserves the right to modify or discontinue,

                                                temporarily or permanently, the Service (or any part thereof) with or without notice. You agree

                                                that Your Local Cousin will not be liable to you or to any third party for any modification,

                                                suspension or discontinuance of the Service.

                                                Worker Classification and Withholdings: Users do not have authority to enter into written

                                                or oral — whether implied or express — contracts on behalf of Your Local Cousin. Each User

                                                acknowledges that Company does not, in any way, supervise, direct, or control a User’s work

                                                or recommendations in any manner. Company does not set a Local Cousin’s work hours or

                                                location of work. Company will not provide any equipment, labor or materials needed for a

                                                particular order.

                                                The Service is not an employment service and Company does not serve as an employer of

                                                any User. As such, Company will not be liable for any tax or withholding, including but not

                                                limited to unemployment insurance, employer’s liability, social security or payroll withholding

                                                tax in connection with your use of Users’ services. Your Local Cousin cannot and does not

                                                offer tax-related advice to any users of the Service. Additionally, each Local Cousin is

                                                responsible for determining local indirect taxes and for including any applicable taxes to be

                                                collected or obligations relating to applicable taxes.
                                            </p>
                                     </div>
                                    </div>
                                </div>
                            </form><!-- end answer form -->
                        </div>
                    </div>
                </div>	<!-- end congrates box -->
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>

    </div>
</section>
