<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">Have our locals write for you</h2>
                <br>
                <p>Not only do our 1,400+ locals plan custom trips for travelers but many also create original content for companies, news outlets and other media organizations.  We have a team of locals in over 110 countries and 230+ cities, many of which work in the travel industry and have writing experience.  Some popular topics include, food/beverage, "I wish I knew" lists, day trips around popular cities, safety tips, local hang out spots etc.  If you need help finding the perfect local to create something for you just <a href="" ui-sref="contact">contact us!</a> </p>
                <br>
                <h3 class="text-center">Our travel content partners</h3>
            </div>
        </div>
    </div>
</section>

<section><!-- blog- image start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!---->

                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">TravelSafe Insurance</h4>
                    <div class="blog-contain">
                        <a href="http://resources.travelsafe.com/blog/11-foods-you-need-to-try-in-thailand" class="blog-text1">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/sM3MgA7BSnu6EmH5aFVD" alt="">
                        </a>
                        <a href="http://resources.travelsafe.com/blog/a-locals-guide-to-visiting-paris"><h3 class="blog-text colabtext">11 Foods You Need to Try In Thailand</h3></a>
                    </div>
                </div>

                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">TravelSafe Insurance</h4>
                    <div class="blog-contain">
                        <a href="http://resources.travelsafe.com/blog/travel-safety-in-peru" class="blog-text1">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/6hCyVJN4StR7bC8VASnA" alt="">
                        </a>
                        <a href="http://resources.travelsafe.com/blog/travel-safety-in-peru"><h3 class="blog-text colabtext">Told by a Local: Travel Safety in Peru</h3></a>
                    </div>
                </div>

                <div class="col-md-6 colabHeight space40 mobSpace40">
                    <h4 class="text-center">TravelSafe Insurance</h4>
                    <div class="blog-contain">
                        <a href="http://resources.travelsafe.com/blog/7-restaurants-you-cant-miss-when-in-peru">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/fe6U3A5QQaDC4pYRB9xx">
                        </a>
                        <a href="http://resources.travelsafe.com/blog/7-restaurants-you-cant-miss-when-in-peru"><h3 class="blog-text colabtext">7 Restaurants You Can’t Miss When in Peru</h3></a>

                    </div>
                </div>





                <!---->
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">TravelSafe Insurance</h4>
                    <div class="blog-contain">
                        <a href="http://resources.travelsafe.com/blog/a-locals-guide-to-visiting-paris" class="blog-text1">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/H9YnsJu9RTaalV5EQcjj" alt="">
                        </a>
                        <a href="http://resources.travelsafe.com/blog/a-locals-guide-to-visiting-paris"><h3 class="blog-text colabtext">A Local’s Guide to Visiting Paris</h3></a>
                    </div>
                </div>

                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">TravelSafe Insurance</h4>
                    <div class="blog-contain">
                        <a href="http://resources.travelsafe.com/blog/told-by-a-local-what-to-know-before-going-to-south-africa" class="blog-text1">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/mekB67SYRheYOXpvbz8s" alt="">
                        </a>
                        <a href="http://resources.travelsafe.com/blog/told-by-a-local-what-to-know-before-going-to-south-africa"><h3 class="blog-text colabtext">What to Know Before Going to South Africa</h3></a>
                    </div>
                </div>

                <div class="col-md-6 colabHeight space40 mobSpace40">
                    <h4 class="text-center">Allianz Travel Insurance</h4>
                    <div class="blog-contain">
                        <a href="https://www.allianztravelinsurance.com/travel/guides/corsica-guide.htm">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/c8LwTwn4RhmJgIionMwB">
                        </a>
                        <a href="https://www.allianztravelinsurance.com/travel/guides/corsica-guide.htm"><h3 class="blog-text colabtext">Beauty of Corsica</h3></a>

                    </div>
                </div>

                <div class="col-md-6 colabHeight space40 mobSpace40">
                    <h4 class="text-center">BBC Travel</h4>
                    <div class="blog-contain">
                        <a href="http://www.bbc.com/travel/story/20160229-the-city-of-187-different-countries">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/3fPbn5DBQfutXebz9tpO">
                        </a>
                        <a href="http://www.bbc.com/travel/story/20160229-the-city-of-187-different-countries"><h3 class="blog-text colabtext">Geneva: The City of 187 different countries</h3></a>

                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">BBC Travel</h4>
                    <div class="blog-contain">
                        <a href="http://www.bbc.com/travel/story/20160524-five-cities-beloved-by-digital-nomads">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/ZMnUot6qQUqqeQeXK5gb">
                        </a>
                        <a href="http://www.bbc.com/travel/story/20160524-five-cities-beloved-by-digital-nomads"><h3 class="blog-text colabtext">Best Cities for Digital Nomads</h3></a>

                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">BBC Travel</h4>
                    <div class="blog-contain">
                        <a href="http://www.bbc.com/travel/story/20161209-south-americas-most-underrated-city">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/eBCYteThSLy5YCoSlIAt">
                        </a>
                        <a href="http://www.bbc.com/travel/story/20161209-south-americas-most-underrated-city"><h3 class="blog-text colabtext">South America’s most underrated city</h3></a>
                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">Pink Pangea</h4>
                    <div class="blog-contain">
                        <a href="http://www.pinkpangea.com/2016/09/perfect-week-penang/">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/bow4p7TxRX6IqDfHmIYZ">
                        </a>
                        <a href="http://www.pinkpangea.com/2016/09/perfect-week-penang/"><h3 class="blog-text colabtext">Your Guide to a Perfect Week in Penang</h3></a>
                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">Pink Pangea</h4>
                    <div class="blog-contain">
                        <a href="http://www.pinkpangea.com/2016/07/off-beaten-path-uzbekistan-conversation-neeraja-jain/">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/tdYBVJQ1TH6Xap6Ehm57">
                        </a>
                        <a href="http://www.pinkpangea.com/2016/07/off-beaten-path-uzbekistan-conversation-neeraja-jain/"><h3 class="blog-text colabtext">Off the Beaten Path in Uzbekistan</h3></a>
                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">Pink Pangea</h4>
                    <div class="blog-contain">
                        <a href="http://www.pinkpangea.com/2016/06/work-leisure-manila-conversation-berrin-teo/">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/RK44Q4gGQpu1IRpMiYQQ">
                        </a>
                        <a href="http://www.pinkpangea.com/2016/06/work-leisure-manila-conversation-berrin-teo/"><h3 class="blog-text colabtext">Work and Leisure in Manila</h3></a>
                    </div>
                </div>
                <div class="col-md-6 colabHeight space40">
                    <h4 class="text-center">The Surge</h4>
                    <div class="blog-contain">
                        <a href="http://thesurge.com/stories/settling-cairo-foodies">
                            <img class="img-responsive cloabImg" src="https://www.filepicker.io/api/file/zYy4CuctRIiTASBh3QI2">
                        </a>
                        <a href="http://thesurge.com/stories/settling-cairo-foodies"><h3 class="blog-text colabtext">Where to find the best food in Cairo</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog image end -->

<section class="space40">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Benefits to you:</h3>
                <div class="space30"></div>
                <p><strong>Authority:</strong> As opposed to research based articles written by people who’ve been to a destination once (and sometimes never!), our content is written by actual locals who call it their home and are experts in the topic being written about.</p>
                <div class="space30"></div>
                <p><strong>Up-to-date Intel:</strong> Your readers want up-to-date intel and we know how difficult that is to get given the info overload online. Our locals, share the latest and not so greatest in their city. They will tell you things that others won’t. Out content is engaging and up-to-date as opposed to generic info like carry a multi-purpose charger or bug spray or visit these 'top 7' touristy attractions which are rampant online and not good for SEO.</p>
                <div class="space30"></div>
                <p><strong>Tap into new markets:</strong> Our ‘local cousins’ are spread across 110+ countries and come from various backgrounds, ethnicities, interests and speak multiple languages. If you're trying to reach a new demographic or a new market as part of your marketing strategy, then our wide reach and diversity in locals can help you achieve that.</p>
                <div class="space30"></div>
                <p>Please contact us at <a href="" ui-sref="contact">info@yourlocalcousin.com</a> for more information on our travel content collaboration.</p>

            </div>
        </div>
    </div>
</section>
