<div class="container">
    <div class="row">
        <div class="col-md-8 space30"><!-- Content-->
            <h2 class="fmob">
                Beyond Barcelona : Offbeat travel destinations
            </h2>
            <br>
            <figcaption>
                <img class="img-responsive blog-img "src="https://www.filepicker.io/api/file/DsGcL5gWR7uGjwJiIwcr" alt="Hotel Helios Lloret de Mar Party Urlaub, Mediterranean beaches, Spain">
                <figcaption>Lloret de Mar

                </figcaption>
            </figcaption>
            <div class="space20">

            </div>

            <p align="justify">Purba Nagar &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 19 July, 2015

            </p>
            <div class="social1">
                <ul class="list-inline">
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/beyond-barcelona-offbeat-travel-destinations'
                           data-picture='https://www.filepicker.io/api/file/DsGcL5gWR7uGjwJiIwcr'
                           data-source='https://www.filepicker.io/api/file/DsGcL5gWR7uGjwJiIwcr'
                           data-caption='Beyond Barcelona : Offbeat travel destinations'
                           data-layout='icon'
                           data-description='From ancient yet colorful city of Girona to village of Castellfollit de la Roca atop a basalt cliff, theres so much you can explore on your next trip to Barcelona.'>


                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/beyond-barcelona-offbeat-travel-destinations'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Beyond Barcelona : Offbeat travel destinations'>
                        </a>
                    </li>
                 </ul>
            </div>
            <div class="space10">

            </div>
            <h3 class="fmob-sub">
                <a href="http://www.girona.cat/turisme/eng/">
                    Girona

                </a>

            </h3>
            <div class="space20">

            </div>
            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/5wanNmejSvOL6lJFVBgb" alt="Aeropuerto Girona Turismo, Noticias Gerona, Spain">
                <figcaption>Girona</figcaption>
            </figcaption>
            <div class="space20">

            </div>

            <p align="justify">Next on our plan was the ancient, yet colourful city of Girona. We just roamed around the cobbled streets of the city and ate the delicious hot chestnuts sold by the street vendors. Just outside our hotel, there was a small square were people selling paintings. We spotted some fortifications around the city, which immersed us into medieval Spain. But there were better things in store ahead.

            </p>
            <div class="space20">

            </div>

            <p align="justify">If you want to take a break from partying on the beaches of Barcelona and just want to relax, please do plan a stay in Girona.

            </p>
            <div class="space20">

            </div>

            <h3 class="fmob-sub">
                <a href="https://en.wikipedia.org/wiki/Castellfollit_de_la_Roca">
                    Castellfollit de la Roca
                </a>

            </h3>
            <div class="space20">

            </div>
            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/30zUoO1hTce1xeOrI4mK" alt="Hoteles en Castellfollit de la Roca Espana, Spain">
                <figcaption>View of Castellfollit de la Roca

                </figcaption>
            </figcaption>

            <div class="space20">

            </div>

            <p align="justify">Castellfollit de la Roca is a very unique village because of its location. It is a village located on top of a basalt cliff, with the latter situated between two rivers. The top of the cliff is just wide enough to accommodate two rows of houses and a narrow road in between. It is one of the most picturesque locations that I have ever visited. Due to lack of time, we were unable to trek to the top of the cliff, but we got amazing views from below.

            </p>
            <div class="space20">

            </div>

            <p align="justify">Our experience of travelling from Girona to Castellfollit de la Roca is worth mentioning. Enroute to the village, we discovered a medieval fortress and experienced the beautiful heart of the locals.

            </p>
            <div class="space20">

            </div>

            <p align="justify">Before getting on the bus from Girona, I picked up a copy of the bus time-table so that we could catch the bus back at a reasonable time. When we got on the bus, we realized that there was not a single tourist. Every single person on the bus, including the driver and conductor, spoke only Spanish and were local villagers.

            </p>
            <div class="space20">

            </div>

            <p align="justify">We were getting a little worried as to how we will manage without knowing a single word of Spanish, and going to a place which was not really touristy, when we caught a glance of this beautiful medieval fort. This was Besalu. As we circuited around the fort, we realized we just had to visit this place on our way back.

            <p align="justify">
            <div class="space20">

            </div>

            <p align="justify">To plan our trip back, I reached into my bag to check for the time table but could not find it anywhere. I realized I might have dropped it somewhere. When we got off at Castellfollit de la Roca, there was one more local who got off with us. We tried asking him for return bus timings, and after some efforts when he realized our trouble, he took out his own copy of the time table and handed it over to us.

            </p>
            <div class="space20"></div>
            <h3 class="fmob-sub">Besalu

            </h3>

            <p align="justify">We were so busy soaking up on the beauty of the surroundings, the fortress, the river, the streets and the fall colours, that we did not realize it till after a few hours that Besalu is really a town, with houses and all, and not just a big fortress.

            </p>

            <div class="space20">

            </div>

            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/hOQwlob3QQ6OI9z4Z0Tw" alt="Hoteles Besalu Medieval, Rural turisme, Girona">
                <figcaption>Besalu Town</figcaption>
            </figcaption>

            <div class="space20">

            </div>

            <p align="justify">Besalu is a town that finds its place in the Middle Ages. The town is extremely beautiful. There are lanes of old cobbled roads, leading to various shops and you can just get happily lost on those lanes. Small shops inside the fortress town sell miniature medieval knight figurines. We just went crazy walking up and down the lanes of the town and clicking pictures.

            </p>
            <div class="space20"></div>

            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/LJqiZY3RnOyDlx9xidDN" alt="Besalu bridge, restaurants, camping and tourism">
                <figcaption>Besalu Bridge

                </figcaption>
            </figcaption>

            <div class="space20">

            </div>

            <p align="justify">The most significant feature of the town is the bridge with a gateway at the centre. There is a small river stream flowing below the bridge. Here again we did not find any English-speaking tourists, but we had no problems at all. I will recommend spending a day here, to fully explore the complete town.

            </p>
            <div class="space20">

            </div>

            <p align="justify">How to Reach: Take a bus from Girona

            </p>

            <br>
            <div class="social1">
                <ul class="list-inline">
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/beyond-barcelona-offbeat-travel-destinations'
                           data-picture='https://www.filepicker.io/api/file/DsGcL5gWR7uGjwJiIwcr'
                           data-source='https://www.filepicker.io/api/file/DsGcL5gWR7uGjwJiIwcr'
                           data-caption='Beyond Barcelona : Offbeat travel destinations'
                           data-layout='icon'
                           data-description='From ancient yet colorful city of Girona to village of Castellfollit de la Roca atop a basalt cliff, theres so much you can explore on your next trip to Barcelona.'>


                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/beyond-barcelona-offbeat-travel-destinations'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Beyond Barcelona : Offbeat travel destinations'>
                        </a>
                    </li>
                 </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Connect with one of our Barcelona local cousins if you're planning a trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/locations/Barcelona-Spain" class="call-to-action-button btn btn-lg">Find a local in Barcelona</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author

            </h3>
            <br>

            <p align="justify"><strong>PURBA NAGAR</strong> - is one of our best ‘Local Cousins’ for Cologne (Germany), Pune (India) and Seattle (Washington).  She is an IT professional specializing in user experience at one of India’s largest consultancies and is a passionate traveler having visited over 15 countries.  Purba is an expert on museums, sightseeing, beaches, restaurants and specializes in expat life, budget travel and teaching English.  To connect with Purba about how to make your next trip special visit her profile page <a href="https://www.yourlocalcousin.com/#/>here</a>. She also writes about her travels at <a href="http://fourblissfulfeet.com/">Four Blissful Feet</a> and you can follow her on social media:

            </p>
            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/beyond-barcelona-offbeat-travel-destinations" data-numposts="5"></div>

        </div><!-- END CONTENT-->

        <div class="space150 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->

    </div><!--row-->
</div><!--Main container-->
