<div class="container">

    <div class="row">
        <div class="col-md-8 space30"><!-- Content-->
            <h2 class="fmob">
                Beyond Times Square & The Brooklyn Bridge
            </h2>
            <div class="space30">

            </div>
            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/gkXCeLiZTMmn7JMi2EmO" alt="Dumbo Arts Festival, Custome Fabric Center, Art Show and Galleries, Brooklyn">
                <figcaption>Dumbo Arts Festival: Photo Credit, Dumbo Arts Festival

                </figcaption>
            </figcaption>

            <div class="space20">

            </div>
            <p align="justify">Margarita Irene Zulueta &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 5 July, 2015

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/beyond-times-square-and-the-brooklyn-bridge'
                           data-picture='https://www.filepicker.io/api/file/gkXCeLiZTMmn7JMi2EmO'
                           data-source='https://www.filepicker.io/api/file/gkXCeLiZTMmn7JMi2EmO'
                           data-caption="Beyond Times Square & The Brooklyn Bridge"
                           data-description='Anyone headed to New York is bombarded with information about what to do, when to do it, where to do it and why.  Read how to have a more authentic NYC experience.'>
                            <i class="fa fa-facebook-square"></i>
                         </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/beyond-times-square-and-the-brooklyn-bridge'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Beyond Times Square & The Brooklyn Bridge'>
                        </a>
                    </li>
               </ul>
            </div>

            <div class="space10">

            </div>

            <p align="justify">Anyone headed to New York is bombarded with information about what to do, when to do it, where to do it and why. With so much information, it is difficult to figure out what exactly you want to do after you finish looking at the main attractions.

            </p>

            <div class="space20">

            </div>

            <p align="justify">We, at Your Local Cousin, want you to have a more authentic NYC experience. If you are a first time visitor, we definitely want you to check out the attractions that have made New York an internationally famous location. But if you want to explore a little more then we’ve got you covered too.

            </p>
            <div class="space20">

            </div>

            <p align="justify">Here are samplings of some of our favorite local experiences nearby Times Square & the Brooklyn Bridge:

            </p>

            <div class="space20">

            </div>
            <h3 class="fmob-sub">Manhattan:

            </h3>

            <div class="space20">

            </div>

            <p align="justify">Okay so you’ve hit up Times Square, saw a couple of <a href="http://www.broadway.com/">Broadway shows</a>, snapped some pictures of Rockefeller Center, and pretty much feel like you’ve conquered Midtown. What do you do next?

            </p>

            <div class="space20">

            </div>
            <h3 class="fmob-sub">MUST TRY IN MANHATTAN:

            </h3>

            <div class="space20">

            </div>

            <p align="justify"><strong>* The quick eats:</strong> Midtown is known as the tourist area, but it is also the area where many NYC residents go to work, which means that there are a ton of delicious but fast places to grab a meal. In the summer Madison Square Park Eats features a ton of small local restaurants showing off their delicious food. Just head down Times Square in between 40th street and 42nd street and sample some of the yummy foods.

            </p>

            <div class="space20">

            </div>
            <figcaption>
                <img src="https://www.filepicker.io/api/file/iVQtbWSoQAC2xmOzMuZN" class="img-responsive" alt="Best restaurants in Manhattan NY, Food and Catering, Places to eat">
                <figcaption>Wafels & Dinges: Photo courtesy of Danny P., Yelp

                </figcaption>
            </figcaption>
            <div class="space20">

            </div>

            <p align="justify"><strong>* Bryant Park:</strong>Yes this is a major tourist attraction because it is a gorgeous park and it is located next to the famous New York Public Library building, but Bryant Park features a lot of activities that are a great way to while the time away. Head to the games corner for a game of chess, try your hand at Ping Pong or get a waffle from the <a href="http://www.wafelsanddinges.com/">Wafels & Dinges</a>  stand. No matter what it’ll definitely be a good time. Additionally, for all Game of Thrones fans, the <a href="http://store.hbo.com/">HBO store</a> is located on 43rd and 6th avenue and has got a ton of GoT swag available for purchase.

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">Brooklyn:

            </h3>

            <div class="space20">

            </div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/oq10kzgqRGaeGrfl2HXm" alt="Brooklyn ice cream factory, Brooklyn bridge ice cream flavors"><br>

            <p align="justify">So you go to Brooklyn, have a fun stroll across the Brooklyn Bridge, ride the carousel in the park, and grab some ice cream at the <a href="http://www.brooklynicecreamfactory.com/">Brooklyn Ice Cream Factory</a>. But now you want to do a little something more. We’ve got some options for you!

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">MUST TRY IN THE DUMBO AREA:

            </h3>
            <div class="space20">

            </div>

            <p align="justify"><strong>* <a href="https://www.powerhousearena.com/">The POWERHOUSE Arena:</a></strong> A great bookstore that features a wide selection of art books and Brooklyn pride products. They also sometimes host art exhibits that are perfect for getting a taste of the Brooklyn art

            </p>
            <div class="space20">

            </div>

            <p align="justify"><strong>* <a href="http://www.onegirlcookies.com/">One Girl Cookies:</a></strong> a dessert bakery located near the Brooklyn Bridge Park that is actually, yes well known for their cookies, but also famous for their whoopee pies. The pies aren’t very big but man they are tasty. They’re great to munch on when strolling around the DUMBO area.

            </p>
            <div class="space20">

            </div>

            <p align="justify"><strong>* Go Gallery Hopping:</strong> Okay, this is not an establishment, but it is a fun activity to do in <a href="http://dumbonyc.com/">DUMBO</a> when you’ve got the time. The area under the Brooklyn Bridge holds a yearly arts festival called the <a href="http://dumboartsfestival.com/">DUMBO Arts Fest</a> every fall, so if you’re there during that time go check it out. If not then hey you’ve still got some amazing galleries in the DUMBO area that you can go and take a look at.

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">If you want to try a different neighborhood:

            </h3><br>

            <p align="justify"><a href="http://www.nytimes.com/2014/09/28/realestate/fort-greene-brooklyn-a-neighborhood-with-many-faces.html?_r=0">Go to Fort Greene!</a> Just a five to ten minute walk from Barclays Center and around a 20-minute walk from the Brooklyn Bridge, this neighborhood has some well-known but relatively offbeat establishments to interest all sorts of travelers.

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">WHAT'S UNIQUE IN NYC:

            </h3>

            <div class="space20">

            </div>
            <figcaption>
                <img src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF"  class="img-responsive" alt="Cafe habana outpost cuban restaurant nyc">
                <figcaption>Habana Outpost: Photo courtesy of Kenny C., Yelp

                </figcaption>
            </figcaption>

            <div class="space20">

            </div>

            <p align="justify"><strong>* <a href="http://www.habanaoutpost.com/">Habana Outpost</a>:</strong> On days when the weather is great and even when it’s not, this Cuban restaurant has some delicious eats that you and your party can enjoy in their outdoor picnic table area. Take in the Fort Greene atmosphere with a delicious frozen margarita and some fantastic grilled corn all ready to make your mouth water.

            </p>
            <div class="space20">

            </div>
            <p align="justify"><strong>* <a href="https://www.urbanglass.org/">UrbanGlass</a>:</strong> A glassblowing studio in Fort Greene, that is located right next to the Brooklyn Academy of Music (more on that later), UrbanGlass is an awesome spot to grab some coffee and treats and stare at the amazing glasswork on display. The exhibit is located on the ground floor of the building, which also houses the workspaces on higher floors. For all those that are interested, you can check their calendar to sign up for weekend workshops and test out your glassblowing skills!

            </p>
            <div class="space20">

            </div>
            <p align="justify"><strong>* <a href="http://www.bam.org/">Brooklyn Academy of Music</a>:</strong> Well-known amongst the locals, the BAM as it is affectionately called, hosts a variety of events that appeal to anyone who loves the arts. From film talks to concerts to dance performances, the BAM’s awesome calendar is a great source to find cool local events.​

            </p>

            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/beyond-times-square-and-the-brooklyn-bridge'
                           data-picture='https://www.filepicker.io/api/file/gkXCeLiZTMmn7JMi2EmO'
                           data-source='https://www.filepicker.io/api/file/gkXCeLiZTMmn7JMi2EmO'
                           data-caption="Beyond Times Square & The Brooklyn Bridge"
                           data-description='Anyone headed to New York is bombarded with information about what to do, when to do it, where to do it and why.  Read how to have a more authentic NYC experience.'>
                            <i class="fa fa-facebook-square"></i>
                         </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/beyond-times-square-and-the-brooklyn-bridge'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Beyond Times Square & The Brooklyn Bridge'>
                        </a>
                    </li>
               </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Connect with your local cousin Margarita if you're planning a trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/50415877-8dee-41cc-ac4c-17ef1db9b731" class="call-to-action-button btn btn-lg">Contact the Writer</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">
                About The Author
            </h3>
            <div class="space20">

            </div>

            <p align="justify"><strong>MARGARITA IRENE ZULUETA</strong> - is a recent graduate of New York University. She loves to explore restaurants, bars, art & culture in NYC. She is very well traveled and has lived in Japan, Prague & Hong Kong Margarita is currently a designer and you can follow her <a href="">here</a>.

            </p>

            <div class="hr1">

            </div>
            <br>
            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/beyond-times-square-and-the-brooklyn-bridge" data-numposts="5"></div>

            </iframe>
        </div><!-- END CONTENT-->
        <div class="space150 mspace">

        </div>
        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->

</div><!--Main container-->
