<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                River safari in croc-infested waters!
            </h2>
            <br>
            <!-- Some image here -->
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw" alt="River safari in croc-infested waters!">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Kunal &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 26th December, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/chambal-river-safari'
                           data-picture='https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw'
                           data-source='https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw'
                           data-caption="River safari in croc-infested waters!"
                           data-description="We got your attention, didn’t we? You can now do a river safari on the once notorious Chambal River.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/chambal-river-safari'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='River safari in croc-infested waters!'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                The legendary Chambal River, feared by many for decades as the region was notoriously known for dacoits (bandits), gang wars, sand mining mafia, feudal and caste rivalries and dirty politics. Unfortunately, not many know or appreciate Chambal as one of the best river based eco-systems in India, supporting several species of wildlife both endemic and migratory to the region. Some of the species include the ‘gharial’ or the fish-eating crocodile, ‘mugger’ or the Indian marsh crocodile, seven species of fresh-water turtles, several species of birds including the skimmer and also the extremely rare South Asian river dolphin.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Bv40nAPSQsefJuSeAm36" alt="A juvenile ‘Mugger’ Crocodile at the National Chambal Sanctuary">
                <strong>A juvenile ‘Mugger’ Crocodile at the National Chambal Sanctuary</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Thanks to the fear caused by bandits of the Chambal Valley, the river was un-touched by pollution and human abuse for several decades. If you’re keen to learn more about the bandits of the Chambal see the movie – The Bandit Queen.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/kQ6ewNxSsUo6bNCQYH8Q" alt="Bar-headed Geese flying over the Chambal River">
                <strong>Bar-headed Geese flying over the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                In the late 20th century the government made a concerted effort and several gangs were brought to justice and some surrendered as well. With the bandit menace over, tourism and other industries arrived in hordes and one such hidden gem and a must see for all nature and wildlife enthusiasts is the Chambal River Safari in the National Chambal Sanctuary. The river safari is an eco-tourism initiative launched by the tourism departments of Madhya Pradesh and Rajasthan.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/oEmFhdOQTrSQSuo6JyoJ" alt="Chambal River Safari Landmark">
                <strong>Chambal River Safari Landmark</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                I believe there are a few areas along the Chambal River where you can do the river safari. I visited the one less than an hour from Agra and four kilometers after the town of Dholpur in Madhya Pradesh. You will know you’re there when you approach a bridge and along the river’s bank you will see several cars and boats. Depending on the weather conditions, the first boat leaves at 8:00 hours and the last trip is around 16:30 hours. The best time to do the safari is in the winter – November to early March. I wouldn’t recommend going for the safari on days when there is heavy fog – you won’t see much and the drive to the safari may not be very safe.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/RMt6RIBSLup7w4nNIe0V" alt="Massive dunes overlooking the Chambal River">
                <strong>Massive dunes overlooking the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                My first safari was for an hour (three kilometer up-stream and back). This cost us about INR 500 per person and maximum of eight adults (including the boatman and a guide) can be in the boat at a time. The entire boat costs INR 2,400 (US$35) for an hour and if you have a camera, that’s another INR 50. If you really like nature and are into wildlife photography then I would recommend doing the three-hour safari which goes on for 18 Km on the river (one way).
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0CXGksgFQqGvXuQ2Qoa1" alt="Getting ready to board our boat for the Chambal River Safari">
                <strong>Getting ready to board our boat for the Chambal River Safari</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                After filling in some minor paperwork, we were given life jackets and soon got into one of these boats. Carry lots of water, a hat and put on sunscreen if your skin is sensitive. If you’re going for the three-hour safari you can bring some food as well. The boats didn’t look very sturdy at first and I thought twice about what I was getting myself in to – cruising in this boat with crocodiles lurking below the brackish water! Man, I must be out of my mind!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/94bNfMwjQWO2P0WIPB9b" alt="Indian marsh crocodile sun-bathing">
                <strong>Indian marsh crocodile sun-bathing</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                However, our guide assured us that there have been no incidents of crocodiles attacking the boats since the safari program was launched and without wasting a second, we set sail.
            </p>
            <div class="space20"></div>

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/yJuwT7nucMY" frameborder="0" allowfullscreen></iframe>
                <strong>Cruising on the Chambal River</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                We hadn’t even gone much further when we saw our first adult ‘mugger’ crocodile – hanging tight and right next to the where we on-boarded the boat! This river safari is no joke!
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/VfO6RYaoSn6mX41k4DUX" alt="Mouth wide open, Indian River Crocodile, Chambal River">
                <strong>Mouth wide open, Indian River Crocodile, Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                The crocodiles were used to seeing humans on boats and did not make a dash for the water as we cruised down the river. 
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/LKf06GAMS65FzgwWssmQ" alt="Flock of Bar-headed Geese by the Chambal River">
                <strong>Flock of Bar-headed Geese by the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                We also saw several species of migratory birds like the Ruddy Shelduck or Brahminy duck which is a resident of Central Asia, bar-headed geese, also from Central Asia, grey heron, stone plover, river lapwing and others.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/hrff63WmQTufjES3aSUf" alt="Bonell’s Eagle – National Chambal Sanctuary">
                <strong>Bonelli’s Eagle – National Chambal Sanctuary</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Amongst the raptors in this region, we spotted the Osprey and the Bonelli’s Eagle.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/4f7aO3h9TemEETUU3fU4" alt="Indian Skimmers – an endangered species of the Chambal River">
                <strong>Indian Skimmers – an endangered species of the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                On my second visit to the National Chambal Sanctuary, we were lucky to spot some 20 Indian Skimmers. This time I accompanied the extremely knowledgeable - Delhi Bird Photographers, a Facebook group of hardcore birders from various walks of life and we did the three-hour safari as recommended by the local guides. 
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/cVg4EjzSx2GXF25zfxLg" alt="Softshell Turtles also called Pancake Turtles, National Chambal Sanctuary">
                <strong>Softshell Turtles also called Pancake Turtles, National Chambal Sanctuary</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Out of the seven species of fresh water turtles that reside in the Chambal we saw two – the bigger ones are the Trionychidae or softshells or pancake turtle and the smaller - Indian tent turtle
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/xVTb5KVgSgeOtPt1ckp2" alt="Development over the Chambal River">
                <strong>Development over the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                On the way back I couldn’t but imagine what this place would have been in the 1960s / 1970s. My father used to go to Gwalior for work when he was in his teens and when boats were used as the major mode of transport to ferry people, automobiles, bullock carts etc. across the river.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/rnmm8IdET529cz5GLwgw" alt="Mugger and Gharial face-off, Chambal River Safari">
                <strong>Mugger and Gharial face-off, Chambal River Safari</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                He also mentioned that no one dared step into the murky waters of the Chambal river back then unlike these brave folks on rubber tyres and tubes who risk their lives everyday to collect lose change thrown by people in to the river.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ev14ViAsQW6y1qa3GhZw" alt="Locals using magnets to collect coins thrown in the Chambal River">
                <strong>Locals using magnets to collect coins thrown in the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Today, bridges have been constructed for automobiles and trains and several villages have popped up along the banks of the Chambal.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/pGaFZ1DNSemh3r53Lm6c" alt="Agricultural development along the Chambal River">
                <strong>Agricultural development along the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                The river’s water is used for agricultural and personal purposes while some use the river for it’s rich sand deposits which is transported often illegally from the river banks by sand mining mafia.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/F89HvnjoSTe17E3ZVnQQ" alt="Sand mining in the Chambal River">
                <strong>Sand mining in the Chambal River</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Sand mining is only authorized during the monsoon season when the sand deposited is abundant. However, I saw several people digging sand and loading it in tractors.
            </p>
            <div class="space20"></div>

            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/nBy29E84QlmJlKGqxAoI" alt="Co-existence of man and Gharial at the National Chambal Sanctuary">
                <strong>Co-existence of man and Gharial at the National Chambal Sanctuary</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Seeing this co-existence of man with animal may surprise and may make many angry and although from a distance it may seem like everything is working perfectly fine but in reality – it is us, humans who are winning this race!
            </p>
            <div class="space20"></div>


            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/chambal-river-safari'
                           data-picture='https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw'
                           data-source='https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw'
                           data-caption="River safari in croc-infested waters!"
                           data-description="We got your attention, didn’t we? You can now do a river safari on the once notorious Chambal River.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/chambal-river-safari'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='River safari in croc-infested waters!'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Click below to contact Kunal if you have any questions about planning your trip to Chambal.</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/27545058-f683-41d9-9eaf-90bffe1739c2" class="call-to-action-button btn btn-lg">Ask Kunal</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                <strong>Kunal Jain </strong> - Kunal’s deep love for travel led to him to create Your Local Cousin. He has worked, lived and studied in seven cities across three continents and as a result he can bust out his German while drinking craft beer in NYC, find the best street food in Singapore, track elephants in the jungles of South India and drive through the insane traffic in Agra, his hometown.
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/chambal-river-safari" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
