
<section><!-- blog banner -->
    <div class="blog-banner">
        <!--<img src="https://www.filepicker.io/api/file/NrvfpLaeThSOCx93bQUA" class="img-responsive" alt="contact-header" width="100%">-->
    </div>
</section><!-- end blog banner -->
<!--<section>&lt;!&ndash;start blog-bg &ndash;&gt;-->
<!--<div class="blog-bg padding15">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<h3 class="whiteclr text-center proximanova-regular text-upp">contact us</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>&lt;!&ndash;end blog-bg &ndash;&gt;-->
<!-- form section -->
<div class="space50"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-box  answer-form ">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12 contactborder padding30">
                            <div class="contact">
                                <form ng-submit="contactUs()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="blackclr">Name*:</label>
                                        <input type="text"
                                               class="form-control space5"
                                               id="exampleInputEmail1"
                                               placeholder="Name"
                                               data-ng-model="name"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="blackclr">Email Address*:</label>
                                        <input type="email"
                                               class="form-control space5"
                                               id="exampleInputPassword1"
                                               placeholder="Email Address"
                                               data-ng-model="email"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="blackclr">Subject*:<span style="font-size:12px; color:#FF0000;"> This can be title of your blog post</span></label>
                                        <input type="text"
                                               class="form-control space5"
                                               id="exampleInputPassword1"
                                               placeholder="Subject"
                                               data-ng-model="subject"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Message*:<span style="font-size:12px; color:#FF0000;"> Let us know what you want to write about! This does NOT gurantee we will accept it</span></label>
                                        <textarea rows="30"
                                                  colspan="10"
                                                  style="height:200px;"
                                                  class="form-control"
                                                  placeholder="Message"
                                                  data-ng-model="message"
                                                  required>
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="blackclr">Blog or Personal Website : <span style="font-size:12px; color:#FF0000;"> It is ok if you do not have one</span></label>
                                        <input type="text"
                                               class="form-control space5"
                                               id="exampleInputPassword1"
                                               placeholder="https://www.xyz.com"
                                               data-ng-model="website"
                                               >
                                    </div>

                                    <button type="submit" class="blockbtn pull-right">
                                        SEND MESSAGE
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 space30">

                                <div class="social">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                                            </a>
                                        </li>

                                        <li>
                                            <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--Right NAV Start-->
                            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                                <div class="col-md-12 btop">
                                    <div class="cousin-btn1 text-center">
                                        <a ui-sref='blog.requirements'>
                                            SUBMIT YOUR STORY
                                        </a>
                                    </div>
                                </div>
                                <div class="space95"></div>
                                <h3>OUR OTHERS STORIES

                                </h3>
                                <div class="hr2">

                                </div><br>

                                <!-- Start indexing-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <a ui-sref="blog.dellybelly"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                                                <h5 class="right-text">&nbsp;Local Indian Street Food that wont<br> &nbsp;give you a Delhi-Belly!

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                                                <h5 class="right-text">&nbsp;The most beautiful trek in india -<br> &nbsp;triund, himachal pradesh!

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                                                <h5 class="right-text">&nbsp;Local insights on why kolkata is<br> &nbsp;india's most charming city!

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <a href="#"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ifjXlRXTEmThzBkaHyIA">

                                                <h5 class="right-text">&nbsp;Why You're never out of reasons to<br> &nbsp;love Hanoi

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">

                                                <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>

                                        <div class="row">
                                            <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">

                                                <h5 class="right-text">&nbsp;BEyond Times Square & The &nbsp;Brooklyn Bridge

                                                </h5>
                                            </a>
                                        </div>
                                        <hr>


                                        <div class="row">
                                            <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">

                                                <h5 class="right-text">&nbsp;PHNOM PEnh: the pearl of asia

                                                </h5>
                                            </a>
                                        </div>
                                        <div class="space100"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space100"></div>
</section>

