<div class="container">
    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob text-center">
                The Beauty of Corsica
            </h2>
            <br>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK" alt="">
            <div class="space20">

            </div>

            <p align="justify">ANNE M &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 21 May, 2016

            </p>
            <div class="social1">
                <ul class="list-inline">
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/the-beauty-of-corsica'
                           data-picture='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-source='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-caption='The Beauty of Corsica'
                           data-layout='icon'
                           data-description='Famous for being the birthplace of Napoleon, the Corsica island is also known for its gorgeous beach as well as mountain spots, wines and strong cultural identity.'>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/the-beauty-of-corsica'
                           data-via='yourlocalcousin'
                           data-picture='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-source='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-size="medium"
                           data-text='The Beauty of Corsica'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="space20"></div>

            <p align="justify">Corsica Island is one of the best gems of the Mediterranean and has built its reputation as the Island of Beauty. Famous for being the birthplace of Napoleon, the island is also known for its natural wonders and its strong cultural identity. And it is true that Corsica gathers an amazing concentration of activities and things to do on such a small territory: the island is only 180 kilometers long and 80 kilometers wide! Best time to visit Corsica would be either June or September, making the most of the pleasant summer weather while avoiding the crowds of Europe’s school vacation, as holidays in Corsica has become a very popular option for travelers.</p>

            <div class="space20"></div>

            <h3 class="fmob-sub">What to Do in Corsica?</h3>

            <div class="space20"></div>

            <p align="justify">Corsica offers the luxury of combining both stunning, picture-perfect beaches and superb mountain landscape for nature lovers. Ideally a visit to Corsica would include a couple of days at the seaside, a couple of days hiking in the protected mountain parks and some day trip visits to famous and scenic villages.</p>
            <div class="space20"></div>
            <p align="justify">The most gorgeous <a href="https://www.allianztravelinsurance.com/travel/beaches/">beach spots</a> include the Palombaggia and the surrounding <a href="http://www.ot-portovecchio.com/?lang=en">Porto Vecchio</a>, a fancy little town on the East Coast, as well as the region southwest of Ajaccio on the Western Coast. Over there, head for the most accessible beach paradise, Propriano, or take some extra time to reach the more secluded beaches of Tizzano and Campomoro. Most of them will offer diving excursions off the coast. Watch out for the Genovese towers on the coastline everywhere around the island: they are one of the remaining signs of the Italian occupation. Once a military infrastructure aimed at guarding the coast, nowadays they sit quietly over most beaches and look like the distinctive signs of Corsica. Some of them are open to visitors.</p>

            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/iDT76omNQTitIepKzE6i" alt="">
            <div class="space20"></div>

            <p align="justify" class="space10">Hikers will enjoy walking parts of or the entire infamous <a href="http://corsica.forhikers.com/gr20">GR-20</a>, one of Europe’s most challenging high altitude hikes, culminating at 2700 meters at the Monte Cinto. The entire trek takes about 15 days but most people usually select their favorite sections for 2 or 3 days. GR-20 crosses some of the island’s most beautiful mountain spots, including the Bavella peaks, the Vizzavona forest and the Restonica valley. Various options are available, from carrying all your material and sleeping in a tent, to more comfortable arranged hikes where food and shelter will be waiting for you every night at shepherds’ houses along the way.</p>

            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/XMhfqZjTRRuP4O5OHUx5" alt="">
            <div class="space20"></div>

            <p align="justify">For less adventurous walkers, the three gorgeous “<a href="http://corsica.forhikers.com/mare-monti-nord">Mare e Monti</a>” paths cross the island from East to West, in the North, the middle and the South of Corsica, offering an easier option while still getting fantastic views and spectacular sightseeing.</p>

            <p align="justify" class="space10">A day trip to Corsica’s historical town would include the breath-taking Bonifacio, a traditional village built and hanging on spotless white cliffs on the Southern tip of the island. Make sure you take time for a sea trip so as to enjoy sightseeing along the cliffs’ caves and to get a view of the city from the sea. Another option includes a day-trip to the Lavezzi islands, Corsica’ most pristine and beautiful beaches, where travelers are not allowed to stay overnight.</p>

            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Pvy6VyKSEyWCzg2Uf4Xw" alt="">
            <div class="space20"></div>

            <p align="justify">Another scenic coastal town is <a href="http://www.corsicatravelguide.com/places/calvi.php">Calvi</a> in the North, gathering a historical fort and a leisure port, or Porto, further South on the West Coast. If visiting Porto, make sure you take time for a boat excursion through the Reserve de Scandola marine reserve and end your day watching Corsica’s most beautiful sunset over Calanches de Piana.</p>

            <div class="space20"></div>
            <p align="justify">Corsica’s most authentic spirit and culture are found in the mountain villages, where historically Corsican families have established their presence, hiding away from the recurrent French and Italian occupations of the Island until the 18th century. Sartene is probably one of the most traditional villages, known for its numerous churches, maze of little streets and the impressive Catenacciu religious ceremony of redemption held every year around Easter.</p>

            <div class="space20"></div>
            <p align="justify">Finally don’t miss the shopping opportunity to get some local souvenirs, food and local organic cosmetics on the markets of the main towns, Bastia and Ajaccio. And make sure you attend a traditional singing concert. Also called “polyphony” or “polyphonic music”, traditional Corsican singing gathers a group of men, preferably in church for best acoustics, performing impressive vocals of traditional songs. Most popular bands are I Muvrini and A Filetta.</p>
            <div class="space20"></div>

            <h3 class="fmob-sub">Where to Stay in Corsica?</h3>
            <div class="space20"></div>
            <p align="justify">Corsica provides plenty of accommodation options, ranging from the adventurous camping sites which are to be found everywhere on the island, to boutique bed & breakfast and hotels in the largest towns. Also, there are plenty of luxury hotels in Corsica.</p>
            <div class="space20"></div>
            <p align="justify">Splurge by renting your own villa in fancy places such as Porto Vecchio (<a href="https://www.tripadvisor.com/Hotel_Review-g196484-d293192-Reviews-Hotel_Casadelmar-Porto_Vecchio_Corse_du_Sud_Corsica.html">Hotel Casadelmar</a>), Calvi (<a href="https://www.tripadvisor.com/Hotel_Review-g196482-d196006-Reviews-La_Villa-Calvi_Haute_Corse_Corsica.html">La Villa</a> and <a href="https://www.tripadvisor.com/Hotel_Review-g196482-d266528-Reviews-La_Signoria-Calvi_Haute_Corse_Corsica.html">La Signoria</a>) or in the more secret <a href="https://www.tripadvisor.com/Hotel_Review-g644100-d2093164-Reviews-Domaine_de_Murtoli-Sartene_Corse_du_Sud_Corsica.html">Domaine Murtoli</a> near Sartene. Ajaccio also provides great Spa & Hotel options with the <a href="http://www.hotel-lesmouettes.com/en/">Hotel Les Mouettes</a> or the <a href="http://www.sofitel.com/gb/hotel-0587-sofitel-golfe-d-ajaccio-thalassa-sea-spa/index.shtml">Sofitel Resort</a>.</p>

            <div class="space20"></div>
            <h3 class="fmob-sub">What to Eat in Corsica?</h3>
            <div class="space20"></div>
            <p align="justify">Plenty of fresh seafood is available from coastal towns. However nowadays Corsicans make the most of the island’ resources, bear in mind that historically the culture and the people have thrived in the mountains.</p>
            <div class="space20"></div>

            <p align="justify">Traditional Corsican food is thus earthy and long lasting. Specialties include sheep and goat cheese (hard or freshly-made, the latter being called “brocciu”), famous cold cuts (also called “charcuterie” in French, watch for the “coppa”, “lonzu” and “figatellu” on the local market stalls) and dry little biscuits called “canistrelli” which are wonderful with a cup of tea or coffee.
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/4DCV2N3ThuNerG6Spxge" alt="">
            <div class="space20"></div>

            <p align="justify">Typical Corsican restaurants serve excellent mountain dishes such as meat stews, as well amazing Italian food like pizza and pasta. Last but not least, the island enjoys a warm and dry climate, providing plenty of fruits and vegetables, which you can buy fresh from road-side stores or get some of the tasteful jams and jellies.</p>
            <div class="space20"></div>

            <p align="justify">Curious travelers will also want to try local brews, including Colomba beer and Pietra beer and the pretty strong myrtle alcohol, usually enjoyed at the end of a heavy family meal. Corsican wines are also famous, particularly its rosé and red wines, such as the award-winning Domaine Fiumiccicoli near Sartene.</p>

            <br>
            <div class="social1">
                <ul class="list-inline">
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/the-beauty-of-corsica'
                           data-picture='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-source='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-caption='The Beauty of Corsica'
                           data-layout='icon'
                           data-description='Famous for being the birthplace of Napoleon, the Corsica island is also known for its gorgeous beach as well as mountain spots, wines and strong cultural identity.'>
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/the-beauty-of-corsica'
                           data-via='yourlocalcousin'
                           data-picture='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-source='https://www.filepicker.io/api/file/XdX9WS6IQj2CKvqIKjDK'
                           data-size="medium"
                           data-text='The Beauty of Corsica'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Connect with your local cousin Anne if you're planning a trip to Corsica </strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/eba000c7-4f78-4fab-ad23-2b315301fdbd" class="call-to-action-button btn btn-lg">Contact the writer</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h4>About The Author

            </h4>
            <br>
            <p align="justify"><strong><a href="https://www.yourlocalcousin.com/#/">ANNE M</a></strong> - studied in Paris and came back to the city after spending 5 years in China. Anne loves to help people travel like a local and is often seen sharing her local knowledge on not just Paris and Shanghai but also other parts of France such as Provence, Normandy, Corsica and the Toulouse region. Click <a href="https://www.yourlocalcousin.com/#/search/eba000c7-4f78-4fab-ad23-2b315301fdbd">here</a> if you want her to customize your travel plans according to your travel style and interests for any of the above destinations. </p>
            <div class="space20"></div>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/the-beauty-of-corsica" data-numposts="5"></div>


        </div><!-- END CONTENT-->

        <div class="space150 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">

                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in &nbsp;panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn &nbsp;only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in &nbsp;boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER &nbsp;TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>

        </div><!--END NAV BAR-->

    </div><!--row-->
</div><!--Main container-->
