<div class="container">
    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h3 class="fmob-sub" class="fmob-sub">
                Indian Street Food That wont give you a Delhi-Belly
            </h3>
            <br>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/etkcb5eUTJG0Ch9zAxzz">
            <div class="space20">

            </div>

            <p align="justify">Aarti Kanodia & Kunal Jain &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 17 May, 2015

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/indian-street-food-that-wont-give-you-a-delhi-belly'
                           data-picture='https://www.filepicker.io/api/file/etkcb5eUTJG0Ch9zAxzz'
                           data-source='https://www.filepicker.io/api/file/etkcb5eUTJG0Ch9zAxzz'
                           data-caption="Indian Street Food That won’t give you a Delhi-Belly"
                           data-description='Let’s face it, the best food in India is made on the streets and we bring to you options which safe for the traveler with a sensitive stomach.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/indian-street-food-that-wont-give-you-a-delhi-belly'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Indian Street Food That won’t give you a Delhi-Belly'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">Let’s face it, the best food in India is made on the streets by someone who has been making the same thing day in and day out for decades.  Unfortunately most of these establishments cause <a href="http://www.imdb.com/title/tt1934231/">"Delhi Belly"</a> - major stomach problems that can last days and ruin a vacation. There are, however several street stalls that have proven the test of time and that we would consider safe for the traveler with a sensitive stomach.  Many of the foods from these stalls are fully cooked and/or made with filtered water (that’s just the rumor on the street).

            </p>

            <div class="space20">

            </div>
            <p align="justify">A note about who we are:

            </p>
            <div class="space20">

            </div>

            <p align="justify"><strong>Kunal</strong> may have been born in<a href="http://agra.nic.in"> Agra</a> but has spent over a decade abroad in Germany, New York, Dubai and Singapore.  Despite being Indian by blood his exposure to the foreign world has rendered his stomach “sensitive” and he has little tolerance for Indian street food (he can barely eat American fast food without spending hours on the toilet).

            </p>
            <div class="space20">

            </div>

            <p align="justify"><strong>Aarti</strong> may be Indian by descent but she is a true “ABCD” born and raised in <a href="http://agra.nic.in">New York</a>. Her stomach is so sensitive when she travels to India that when she was younger she would brush her teeth with filtered Bisleri water – to the amusement of her family

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">New Delhi, M-block Market in Greater Kailash street stall: Momo-wala

            </h3>

            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/OX15hxhEQVqRjkRkOtkb">
            <div class="space20">

            </div>

            <p align="justify">You won’t be able to resist the fresh Momos from the street side shops as you make your way onto Greater Kailash Part 1 – M block market or GK1 M block as its popularly known to all the Delhites.  This momo place has been around for a very long time and was always a place checked out by Kunal when he visited Delhi. The momos come with an intense red chilli sauce and to the surprise of Kunal it never made him make a dash for the neighboring <a href="http://www.mcdonalds.com/us/en/home.html"> Mcdonald's</a> rest room!

            </p>

            <div class="space20">

            </div>
            <h3 class="fmob-sub">Agra, Uttar Pradesh Street stall: Dauji - Sri Dauji Mishthan Bhandar

            </h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/EtLLqhNIRdSjWYufLwJ6">
            <div class="space20">

            </div>

            <p align="justify">Dauji is a popular street stall in Agra specializing in rabri (a milk-based dessert available only in the summers), gajar ka halwa (a carrot dessert made only in the winter), samosas (fried triangles usually stuffed with potato) and jelebis (fried rings of crispy dough soaked in orange sugar syrup).  This is one of Kunal’s favorite places and he hasn’t gotten any stomach issues here!

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub"><a href="https://en.wikipedia.org/wiki/Bareilly">Bareilly</a>,Uttar Pradesh Street stall: <a href="https://deepansh.wordpress.com/tag/lassi/">Deenanath Lassi Wala</a>

            </h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/fXHOHWmST52NHUNOlCul">

            <div class="space20">

            </div>

            <p align="justify">Bareilly is home to this famous “Lassi Wala” – a man who specializes in the art of making sweet and savory yogurt-based drinks for generations. Kunal always made it a point to force his parents to stop for lassi on their way to Agra from Nainital every time despite the chaotic traffic in the city. This tangy, refreshing beverage comes in flavors like mango, saffron and pistachio and is worth the trouble!

            </p>

            <div class="space20">

            </div>
            <h3 class="fmob-sub">New Delhi, South Extension Part 1 Street stall: “Bhel Puri”</h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/TqSeIqnWSdmzIyPad9VB">
            <div class="space20">

            </div>

            <p align="justify">Before Haldiram’s took over Delhi,  everyone would agree that the bhel puri in South Extension (South Ex) Part 1 was the place to visit if you were craving some. The bhel puri was so good that people didn’t mind eating here even in the summer and again Kunal never got Delhi belly from eating a plate or two of this delicious street-side food. The bhel puri was so good that there were long and often heated discussions in his family whether South Ex’s bhel puri was better than Mumbai’s street side bhel puri!

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">Chandni Chowk, New Delhi Street stall: Parathe Wali Gali (the road is full of people making stuffed breads)

            </h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/DPqwjfOSimgvDYYKhbyA">
            <div class="space20">

            </div>

            <p align="justify"><a href="https://en.wikipedia.org/wiki/Gali_Paranthe_Wali">Parathe Wali Gali</a> is an experience and the location alone is worth a trip. This tiny street is tucked away in “Old Delhi” otherwise known as Chandni Chowk and is surrounded by narrow winding streets that specialize in different foods and housewares.  However some would argue that Parathe Wali Gali is the best street since it is full of vendors serving hot, freshly made parathas, Indian style breads stuffed with everything from cauliflower to peas to radish.  We love it and never got sick!  Pick a stall and fill your tummy!

            </p>

            <div class="space20">

            </div>
            <h3 class="fmob-sub">Nainital (neat Tibetian Market), Uttaranchal Street Stall:<a href="https://www.tourmyindia.com/blog/top-20-things-see-and-do-in-nainital/">Sonam Fast Food</a>

            </h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/uDTftwEyTJqVhcy2mrBT">
            <div class="space20">

            </div>

            <p align="justify">Kunal frequented Sonam during his days in boarding school.  Not only were the momos and other Tibetian delicacies affordable but Sonam was also a great place to meet girls! Despite a number of new Tibetan stalls and restaurants that have opened up in Nainital, this one remains to be a hit with the locals - and doesn’t have us running for the bathroom!

            </p>
            <div class="space20">

            </div>
            <h3 class="fmob-sub">Kolkata, West Bengal Street Stall: “The pani puri guy on Russell Street”

            </h3>
            <div class="space20">

            </div>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/F969WELVSXKRONIYsaJH">
            <div class="space20">

            </div>

            <p align="justify">This is my favorite pani puri on the planet – hands down (don’t tell my aunt that!).  The best part is I haven’t gotten sick from this stall and I’ve eaten here more than seven times between 2009 and 2015.  The pani puris are very fresh and the water is sublime – not too spicy but very tangy and flavorful.  You might want to turn your head as workers dunk their entire hands in the metal pails of this minty, spicy water but you can’t beat this experience ANYWHERE.

            </p>
            <div class="space10">

            </div>
            <h3 class="fmob-sub">Kolkata, West Bengal Street Stall: “<a href="http://bitemunchslurpcrunch.blogspot.in/2014/05/share-bazaar-ki-chaiho-jaay.html">Share-bazaar ki chai</a>” (Chai by the Stock Exchange)

            </h3>
            <img class="img-responsive blog-img" alt="" src="https://www.filepicker.io/api/file/tMx24O9TIulBrohl0Vy2">
            <div class="space20">

            </div>

            <p align="justify">Sunday mornings (and any other mornings) are great for sipping this amazing chai by Kolkata’s Stock Exchange district.  Drive down this narrow lane past “The rich kids of Kolkata” driving all the luxury foreign cars and head over to this stall.  You don’t need to locate it since one of the “chai-wallas” will find you and ask for your order.  Order the chai – there is only one type – its milky, frothy and flavored with rich cardamom and saffron.  It also has the perfect amount of sweetness, which many chai-wallas can’t get right.  Also get the famous toast, which is thick, buttery and melts in your mouth.  This is the most perfect breakfast or snack that anyone could ask for – and perfectly fine on anyone’s sensitive stomach.

            </p>

            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/indian-street-food-that-wont-give-you-a-delhi-belly'
                           data-picture='https://www.filepicker.io/api/file/etkcb5eUTJG0Ch9zAxzz'
                           data-source='https://www.filepicker.io/api/file/etkcb5eUTJG0Ch9zAxzz'
                           data-caption="Indian Street Food That won’t give you a Delhi-Belly"
                           data-description='Let’s face it, the best food in India is made on the streets and we bring to you options which safe for the traveler with a sensitive stomach.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/indian-street-food-that-wont-give-you-a-delhi-belly'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Indian Street Food That won’t give you a Delhi-Belly'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Connect with one of our locals cousins for planning your next trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a ui-sref="home" class="call-to-action-button btn btn-lg">Find a Local Cousin</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <a href="https://www.yourlocalcousin.com/#/about">
                <h3 class="fmob-sub">About The Author

                </h3>
            </a>
            <br>


            <p align="justify"><strong>AARTI KANODIA & KUNAL JAIN</strong> - Aarti and Kunal are the founders of Your Local Cousin.  They are actual cousins who love to explore the world and absolutely love global street food - and sometimes they have an iron stomach! You can connect with them for trip advice about <a href="https://www.yourlocalcousin.com/#/search/ae2fb698-c5f1-4e8d-b214-52b96425851d">New York</a>, <a href="https://www.yourlocalcousin.com/#/search/ae2fb698-c5f1-4e8d-b214-52b96425851d">Los Angeles</a>, <a href="https://www.yourlocalcousin.com/#/search/27545058-f683-41d9-9eaf-90bffe1739c2">New Delhi</a> and <a href="https://www.yourlocalcousin.com/#/search/27545058-f683-41d9-9eaf-90bffe1739c2">Agra</a>.

            </p>

            <div class="hr1 space20">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/indian-street-food-that-wont-give-you-a-delhi-belly" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <!--<div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>-->
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->

</div><!--Main container-->
