<div class="container">


    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                SEVEN #foodporn worthy eats in boston
            </h2>
            <br>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/QDsBaD8sSqyorJEj1nsD" alt="Boston food restaurant cafe bakery">


            <div class="space20"></div>
            <p align="justify"> &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 31 July, 2015

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/seven-foodporn-worthy-eats-in-boston'
                           data-picture='https://www.filepicker.io/api/file/QDsBaD8sSqyorJEj1nsD'
                           data-source='https://www.filepicker.io/api/file/QDsBaD8sSqyorJEj1nsD'
                           data-caption="SEVEN #foodporn worthy eats in boston"
                           data-description='Boston is home to an extremely diverse culinary scene that will leave you craving dishes – even on the ride back home.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/seven-foodporn-worthy-eats-in-boston'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='SEVEN #foodporn worthy eats in boston'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="space10">

            </div>

            <p align="justify"><a href="http://www.boston.com/">Boston</a> is one of the most beautiful cities in the US and what’s better is that it makes for the perfect weekend getaway.  It’s a cultural powerhouse, chockfull of <a href="#">American history</a> but what you might not know is that <a href="#">Boston</a> is home to an extremely diverse culinary scene that will leave you craving dishes – even on the ride back home.  I’m a native New Yorker and even though I’m surrounded by some of the best food on the planet, I still dream of the following seven foods I ate in Boston.</p>
            <div class="space20"></div>

               <h3 class="fmob-sub">1)	Lobster Tail - Maria’s Pastry Shop, North End</h3>
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/eiRVxFZfRmeT11Gv3qbJ" alt="Maria's lobster tail pastry, best bakery shop Boston ">
            <div class="space20"></div>
            <p align="justify">One of the most contested culinary debates in Boston is “who makes the best cannoli?” There are two rivals, <a href="#">Mike’s Pastry</a> and <a href="#">Maria’s Pastry Shop</a>.  The wait to get into either in the Italian part of town, North End, can exceed an hour even on a lull weekday afternoon.  While I’m not picking sides what I will say is that the more crave-worthy pastry is actually Maria’s ‘Lobster Tail’.  This beast weighing (what feels like) ½ a pound is crispy and buttery with a very flakey outside (watch out because when you crunch into it, it will get everywhere!), and a very rich and sweet <a href="http://www.marthastewart.com/351302/ricotta-cream">ricotta cream</a> hidden inside.  Just look at how it’s gargantuan size compares to the little cannoli! Poor little cannoli! This is an awesome pastry and definitely #foodporn worthy.</p>
            <div class="space20"></div>



               <h3 class="fmob-sub">2)	Szechuan Spicy Tofu - Gourmet Dumpling House</h3>
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/zw38QsXvSquW9jqNxEHK" alt="Szechuan Spicy Tofu Sliced Fish, Gourmet Dumpling House, Authentic Chinese food in Boston">
            <div class="space20"></div>
            <p align="justify">In a sea of amazing Italian restaurants I was craving authentic Chinese food one day.  My cousin recommended <a href="#">Gourmet Dumpling House</a> and I was very impressed! I’ve spent a lot of time in <a href="#">New York’s Chinatown</a> and <a href="#">Flushing</a> so I know a thing or two about what makes for a great dish and boy did the Szechuan Spicy Tofu deliver! This dish is actually the Szechuan Spicy Sliced Fish that is featured on the <a href="#">Food Network’s Best Thing I Ever Ate</a> but we subbed in tofu since I was dining with vegetarians.  Spicy is not the word to describe it – it’s mouth numbing and induces a runny nose on impact but we kept going back for spoonfuls until the bowl was licked clean! Soft chunks of fresh tofu make a great vehicle for the pungent <a href="http://www.thespicehouse.com/spices-by-category/peppercorns">peppercorns</a> and red chilies that take over this dish.  Again, #foodporn worthy and worth the trip!</p>
            <div class="space20"></div>



               <h3 class="fmob-sub">3)	Lobster Fra Diavolo - The Daily Catch, North End</h3>
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/WMveY5wfRbejb7D4ib6w" alt="Lobster Fra Diavolo and Agio Olio, The Daily Catch, North End, best Italian restaurant in Boston ">
            <div class="space20"></div>
            <p align="justify">This is hands down, one of the best Italian restaurants I have ever been to! It can barely seat 10 people and there is often a wait (they have other locations but this is the original) and the aroma from the kitchen is absolutely mouthwatering.  Their signature dish is the <a href="http://www.saveur.com/article/Recipes/Lobster-Fra-Diavolo-Lobster-Spicy-Tomato-Sauce">Lobster Fra Diavolo</a>, which in Italian translates to “prepared with tomato sauce and usually seasoned with garlic, oregano and red hot pepper”.  This dish is loaded with littlenecks, mussels, and shrimp but the star of the show is the 1 ¼ lb. lobster who just screams “eat me!”  Try the other dishes including the <a href="http://www.refinery29.com/easy-spaghetti-recipe">Aglio Olio</a>, and the <a href="#">squid ink pasta with monkfish and mushrooms</a>. Can we say major #foodporn</p>
            <div class="space20"></div>


               <h3 class="fmob-sub">4)	Lobster Ravioli – Giacomo’s Restorante, North End</h3>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/7mc0tdggQJiJFZcFwzND" alt="Lobster Ravioli, Giacomo's Restorante, North End">
            <div class="space20"></div>

            <div class="space20"></div>
            <p align="justify">You know how in many Italian restaurants when you order lobster <a href="http://www.bbc.co.uk/food/ravioli">ravioli</a> you end up with miniscule little pieces of Lobster hidden in other junk?  Well that doesn’t happen here! There is an hour-long wait at <a href="#">Giacomo’s Restorante</a> for a reason – everything is fabulous, everything is super fresh and when you order lobster ravioli – you get LOBSTER ravioli.  The cream sauce is not overpowering and you can actually taste lobster! Again #foodporn</p>
            <div class="space20"></div>



               <h3 class="fmob-sub">5)	Any bread made at Bricco Panetteria, North End</h3>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0kSF3DaoTrG0rFvyeyJl" alt="Bricco Panettaria bread, North End, Boston">
            <div class="space20"></div>
            <p align="justify">I almost don’t want to give away my secret that is <a href="#">Bricco Panetteria</a>! Bricco has several restaurants under its name and its bread comes from a hidden gem tucked away in Boston’s North End.  Fortunately it’s open to the public and fortunately I wandered down a small, discrete alleyway to encounter this bread heaven! The first time I came I brought a hot, crusty baguette and polished the whole thing off with my cousins in 5 minutes! The next day I came back and did the same thing with the olive loaf.  My goal in life is to try all their bread and I will take another trip to Boston just for this! #foodporn #getinmybelly.</p>
            <div class="space20"></div>


               <h3 class="fmob-sub">6)	Egg in a Jar - West Bridge, Kendall Square</h3>
            <div class="space20"></div>

            <p align="justify">This is one of the coolest (duck) egg dishes I’ve eaten since this <a href="http://www.bbc.co.uk/food/recipes/umami_bomb_parmesan_and_62918">creamy, eggy, custard-like umami</a> explosion is neatly packaged in a mini mason jar at <a href="#">West Bridge</a>.  It comes topped with hen of the woods mushrooms, artichokes and “crispy skin”.  It’s like a jar of the best stuff on earth and is definitely something I crave! #foodpornBoston.</p>

            <div class="space20"></div>

               <h3 class="fmob-sub">7)	Any ice cream and gelato from Toscanini’s Ice Cream, Cambridge</h3>
            <div class="space20"></div>


            <p align="justify"><a href="#">Toscanini’s Ice cream</a> is absolutely awesome and has some wicked delicious flavors. The <a href="http://www.seriouseats.com/recipes/2013/04/mango-sorbet-recipe.html">mango sorbet</a> is to die for – not too sweet with a little tang and really bright notes.  I’m also in love with <a href="http://www.savoryspiceshop.com/recipes/salted-saffron-tinted-coconut-milk-ice-cream.html">Salted Saffron</a>, <a href="http://www.amazon.com/Keebler-Fingers-Original-Cookies-14-2-ounce/dp/B004X8TJ16">Vienna Finger Cookie</a> and <a href="http://www.marthastewart.com/285700/velvety-chocolate-pudding">Cocoa Pudding</a>.  What’s not to love about this ultimate #foodporn</p>

            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/seven-foodporn-worthy-eats-in-boston'
                           data-picture='https://www.filepicker.io/api/file/QDsBaD8sSqyorJEj1nsD'
                           data-source='https://www.filepicker.io/api/file/QDsBaD8sSqyorJEj1nsD'
                           data-caption="SEVEN #foodporn worthy eats in boston"
                           data-description='Boston is home to an extremely diverse culinary scene that will leave you craving dishes – even on the ride back home.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/seven-foodporn-worthy-eats-in-boston'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='SEVEN #foodporn worthy eats in boston'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Connect with one of our Boston local cousins if you're planning a trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/locations/Boston-MA-USA" class="call-to-action-button btn btn-lg">Find a Local in Boston</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <a href="https://www.yourlocalcousin.com/#/about">
                   <h3 class="fmob-sub">About The Author

                </h3>
            </a>
            <p align="justify"><strong>AARTI KANODIA</strong> - Aarti is one of the co-founders of Your Local Cousin and loves Boston.  Aarti always gets tips from locals when exploring a city and she has shared some of her Boston secrets in this article. To connect with a Boston local and get customized advice visit us <a href="https://www.yourlocalcousin.com/#/search">here</a>.  </p>

            </p>
            <div class="space30 hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/seven-foodporn-worthy-eats-in-boston" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
               <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
