<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Four days in Cuba
            </h2>
            <br>
            <!-- Some image here UoM9UptMRuKH8jxEn7Kz-->
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz?cache=true" alt="Four days in Cuba">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Kunal &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 16th December, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/four-days-in-cuba'
                           data-picture='https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz'
                           data-source='https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz'
                           data-caption="Four days in Cuba"
                           data-description="Planning a trip to Cuba for less than a week? Here is what a Havana local recommends you should eat, see and shop! Insider tips and a detailed four day itinerary for Havana and Vinales Valley.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/four-days-in-cuba'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Four days in Cuba'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                If you’re traveling to Cuba for less than a week and if this is your first time there, then you should definitely explore Havana and plan on staying for at least 3 nights.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/FFZ4qh2ZQzeWnvOwvyiR?cache=true" alt="Habana 1791: Perfume shop in Old Havana">
                <strong>Habana 1791: Perfume shop in Old Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                A big bustling and fast developing city, you will see traces of its old world charm as you will see several gas guzzling American vintage cars as taxis.
            </p>
            <div class="space20"></div>

            <p align="justify">
                I did not stay in Old Havana but in Vedado, a residential neighborhood and a 4-5 CUC taxi ride to Old Havana. Old Havana is where all the tourists end up and is also close to most of the sightseeing, restaurants, cafes etc. If you don’t mind the crowds and chaos then you should stay in Old Havana.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Sr7WLZsvTqCY2sAABSML?cache=true" alt="Limestone mountains in Vinales Valley, Cuba">
                <strong>Limestone mountains in Vinales Valley, Cuba</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                If you feel you’ve had enough of Havana after 3 nights you can plan a day trip to either Vinales, which is in the western part of the Island and the hub of tobacco plantations or the super touristy beach town of Veradado, similar to Cancun in Mexico – fancy and modern all-inclusive resorts with great beaches. I chose to do a day trip to Vinales and below you’ll find out exactly why!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/hYzCw7PqR8HtNB1wXTzQ?cache=true" alt="Tour of Havana on a hop-on hop-off bus">
                <strong>Tour of Havana on a hop-on hop-off bus</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                On my first day in Havana I decided to get a feel of the city’s layout and took a hop-on hop-off bus from Parque Central in Centro. The tour took about 2 hours and stopped at all major points of interest in the city. Once the tour was over I had a much better idea of which areas I wanted to delve deeper into and which areas to avoid given that I was in Cuba for a very limited period of time. Here is my list of the best that Havana has to offer:
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Top attractions in Centro Havana:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/kkohSIJRrGIN4oScIGLQ?cache=true" alt="The majestic Gran Teatro de La Habana">
                <strong>The majestic Gran Teatro de La Habana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Gran Teatro de La Habana</strong> is the Cuban capital’s answer to Boston Symphony Hall and home to the Cuban National Ballet and a variety of arts, festivals and performances are also organized here. This beautiful piece of architecture is even grander at night when it is all lit up.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Lav2qaRxTcueFICd5e9Q?cache=true" alt="El Capitolio is a replica of the US Capitol Hill">
                <strong>El Capitolio is a replica of the US Capitol Hill</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Capitolio Nacional</strong> or El Capitolio was the seat of the Cuban government until the Cuban revolution in 1959. This monument was designed to look like the US Capitol Hill, which it no doubt does. Too bad when I visited it was closed as there was some on-going restoration work.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Xd6cbMBuRWK6XzTaOlJb?cache=true" alt="Elegant hotel lobby in Havana">
                <strong>Elegant hotel lobby in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                There are several historic hotels in this part of town such as Hotel Telegrafo, Inglaterra, Parque Central. Just walk in and you’ll be amazed with the décor in the hotels’ lobbies. I saw a few outdoor cafes and restaurants in the ground floor of the hotels and was tempted to sit and eat there but I took Ana’s advice and avoided these touristy, expensive joints with really bad service!
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Where to eat in Centro Havana:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/RoZyES6kT3mQHo8aqpZD?cache=true" alt="Pork barbequed in Cuban style on a skewer">
                <strong>Pork barbequed in Cuban style on a skewer</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>La Terraza</strong> is at the corner of Hotel Parque Central on Paseo de Marti street. This building has three floors each with a restaurant serving a different cuisine. First floor is Italian, second is traditional Cuban and the third is the terrace specializing just in Cuban barbeque. Without wasting a second, I opted for the terrace! I ordered a juicy skewer of pork marinated in garlic and lemon and had a couple of Bucaneros to go along with the food. Great food but just a bit pricey!
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Top attractions in the Plaza de la Revolucion area:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/wanR3GgAQqSm8sUuSTzR?cache=true" alt="Artwork on the late Fidel Casto next to the Plaza de la Revolucion">
                <strong>Artwork on the late Fidel Casto next to the Plaza de la Revolucion</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Plaza de la Revolucion</strong> or the Revolution Square is where all the political rallies take place and is the backdrop in several images and videos you may have seen of Fidel Castro giving powerful speeches to the Cuban people.
            </p>
            <div class="space20"></div>

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/K5Rl6-j8iC8" frameborder="0" allowfullscreen></iframe>
                <strong>Malecon drive from Old Havana to Vedado</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                <strong>Malecon: </strong> This 8km long roadway lets you cruise from one end of Havana to the other. This is a popular late evening hang out spot for the locals and you will often see people playing music, dancing or fishing. One of the best ways to enjoy a drive along this coastal road is to hire a classic American open-top car which you can rent starting at 25 CUCs per hour.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/dAqBVndURYynN7Efu4bX?cache=true" alt="Drive on the Malecon in an American Vintage Car">
                <strong>Drive on the Malecon in an American Vintage Car</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                If renting an Oldsmobile is out of your budget, you can grab a couple of Bucaneros or Cristals (Cuban beers) and watch the sunset, attempt to strike a conversation with the locals, shoot some amazing photographs and perhaps even get to see a massive cruise liner pass by. To get to Malecon, if you’re walking from Centro just keep going north towards the coast on Paseo de Marti.
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Top attractions in Old Havana or La Habana Vieja </strong>
                <br>
            </p>
            <div class="space20"></div> 

            <p align="justify">
                Old Havana starts east of Parque Central. The streets leading to Old Havana are mostly car free and walking is the preferred way to explore the oldest part of the city.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/nmH90EXDTsqa5gq0UOas?cache=true" alt="Plaza de la Cathedral, Old Havana">
                <strong>Plaza de la Cathedral, Old Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Plaza del la Cathedral </strong> is a beautiful square with some magnificent mansions and a baroque style cathedral dating back to the 18th century. It is also home to several restaurants and a couple of art galleries. I overheard a tour guide who said this area used to be a swamp back in the day!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/5KkiyZSPRo27EYD5M08c?cache=true" alt="Plaza Vieja, Old Havana">
                <strong>Plaza Vieja, Old Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Plaza Vieja </strong> or the Old Square also has several colonial buildings now converted to restaurants and also has a couple of hotels
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/dq3Cs8lpTtKe3zWyU19V?cache=true" alt="Street Carnival in Old Havana">
                <strong>Street Carnival in Old Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Historically this was the site of several executions, bull fighting, carnivals and processions and I’m not in the least bit surprised why it wouldn’t be.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/07MVnHIUReqElht83Lam?cache=true" alt="The view from Castilo de la Real Fuerza">
                <strong>The view from Castilo de la Real Fuerza</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Castilo de la Real Feurza </strong> or the Castle of the Royal Forces was originally designed to fight off pirates off the coast of Havana during the 16th century. Over time it ended up as a library and today it stands as a maritime museum. The entry is 3 CUC, unfortunately there was no English speaking guide and the description of the artifacts in the museum were all in Spanish.
            </p>
            <div class="space20"></div>

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/BNWzOdgg2Do" frameborder="0" allowfullscreen></iframe>
                <strong>View of Havana Bay and Morro Castle</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                However, the views from the watchtower were outstanding and well worth the entrance fee!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/bTzaAX9uQFGpBUMxza5n?cache=true" alt="Plaza de Armas at night">
                <strong>Plaza de Armas at night</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Plaza de Armas </strong> or the Weapons Square is the oldest square in the city spanning four centuries. It was built to showcase military parades and musical concerts and today is home to several restaurants, Hotel Santa Isabel (a beautiful historic hotel) and several open-air bookstalls and flea market. You can get to this square by walking through Calle (street) Obispo from Parque Central.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/VOcLP8s4Rrql5X5N3vRl?cache=true" alt="The bustling Obispo Street in Old Havana">
                <strong>The bustling Obispo Street in Old Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Obispo Street</strong> has dozens of convenience stores, restaurants, bars and art galleries worth visiting. If you’re short of CUCs there are some banks here to exchange your money.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ZJNSnBJRWbGloNCLvQzz?cache=true" alt="Hotel Ambos Mundos (pink) where Ernest Hemingway stayed in 1930s">
                <strong>Hotel Ambos Mundos (pink) where Ernest Hemingway stayed in 1930s</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Obispo Street is also home to <strong> Hotel Ambos Mundos</strong> (the Wi-Fi is best outside this hotel), a beautiful early 20th century hotel, which was home to the famous American writer Ernest Hemingway in the 1930s.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ZLB8zKsrQ9mWyWLkXbpf?cache=true" alt="Plaza de San Francisco at night">
                <strong>Plaza de San Francisco at night</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Plaza de San Francisco</strong> is close to where the cruise ships dock in Havana. It also has a church by the same name – San Francisco church which also has a monastery. Historically this square was used to organize fairs and later on gambling activities as well. Today, the square has restaurants, cafes and a Benetton clothing store!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/BfbUs48ORO0m8FY1NqKf?cache=true" alt="Musio de la Revolucion in Havana">
                <strong>Musio de la Revolucion in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Musio de la Revolucion </strong>or the Museum of the Revolution sits in what used to the Presidential Palace but was converted to a museum after the Cuban revolution. This museum is the only one out of several in Havana that I visited for it depicted three floors of Cuban history from pre-colonial and Cuban fight for independence from Spain and the revolutionary war of the 1950/60s. Absolutely recommend it if you like history and have read or see movies on Fidel Castro and Che Guevara.
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Where to eat and drink in Old Havana:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/mhqZUcGzTfeZLVfRfrsA?cache=true" alt="Grilled prawns">
                <strong>Grilled prawns</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Sidewalk restaurant </strong>in Plaza de Armas: Decent out-door restaurant with a live band and great seafood but again a bit pricey.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/kYNhKIXiSwiSskMS1H1F?cache=true" alt="Ice-cream sandwich from Musio del Chocalate">
                <strong>Ice-cream sandwich from Musio del Chocalate</strong>
            </div>
            <div class="space20"></div>


            <p align="justify">
                <strong>Musio del Chocolate</strong> is not really a museum but more of a shop selling chocolates and a walk-in café. I had an ice-cream sandwich and a cold chocolate shake, both top grade, highly recommended and less than 1 CUC each! Not bad at all just when I was just about to give up on finding reasonably priced food in Havana!
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Café Paris</strong> on Obispo Street for a quick bite and a couple of mojitos was just what I needed after a long day of walking in Old Havana.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0NOKwzRMRXV97072pSnr?cache=true" alt="Los Frailes – a religious themed hotel with staff dressed as monks">
                <strong>Los Frailes – a religious themed hotel with staff dressed as monks</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>Hotel Los Frailes: </strong> Definitely stop by this religious-themed hotel to go back in time when you see the hotel staff dress as monks and its Spanish colonial gorgeous interior. You can get a coffee or a mohito from the bar.
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>What to buy in Cuba:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/qNQzEy0tRriexuPud6qx?cache=true" alt="Hand rolled Cuban Cigars">
                <strong>Hand rolled Cuban Cigars</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Cuban Cigars: No trip to Cuba is complete without buying at least one Cuban cigar. Now you can purchase quite a few Cuban cigars at very decent prices without any documentation. I was recommended to buy authentic Cuban cigars from either a shop inside a good hotel or better still from a government authorized shop. I purchased my stash of Cohiba and Montecristo brand Cuban cigars from La Casa del Habano in Od Havana.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/OGy8wUYuQQ6pPXQUj9yD?cache=true" alt="The best Cuban rum: Santiago de Cuba">
                <strong>The best Cuban rum: Santiago de Cuba</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Cuban Rum: More my poison than the Cuban cigars, Ana recommended I pick up a couple of bottles of the locals favorite – Santiago de Cuba rum aged 7+ years which is exactly what I did. After wrapping them tight in my check-in baggage I bought two bottles of Havana Club at the duty free just because I needed to get rid of the left over CUCs that I had.
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>Day trip to Vinales Valley:</strong>
                <br>
            </p>
            <div class="space20"></div> 

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/uE_yMaYOF50" frameborder="0" allowfullscreen></iframe>
                <strong>Beautiful Vinales Valley, Cuba</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                Absolutely unplanned, no clue and zero expectations but a desire to see more of Cuba than just Havana, made me do a day trip to Vinales Valley in the Pinar del Rio province of Cuba. Vinales Valley is 2.5 hours and 180km from the capital. I booked a day tour from a travel desk at one of the hotels in Centro Havana. The tour was 70 CUCs and included transportation in an air-conditioned coach, visit to a cigar factory and a tobacco farm, visit to the Mural de la Prehistoria, boat ride through an underground Indian cave and lunch which by the way was very average as is the case in most organized tours.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ob57gMVIQMaxFLxGPeHc?cache=true" alt="Lush green mountains and tobacco plantations in Vinales Valley">
                <strong>Lush green mountains and tobacco plantations in Vinales Valley</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                It is when you drive to Vinales Valley through the lush green countryside that you’re exposed to the kind of Cuban life one that literally takes you back in time. People commuting in horse carriages and carts, farmers using traditional agricultural techniques, shepherds walking their herd along the highway, sugarcane and tobacco plantations and just downright simplistic rural living – something you don’t see everywhere anymore! Not to forget the awesome views of the mountains and limestone cliffs surrounding the valley
            </p>
            <div class="space20"></div>

            <p align="justify">
                Included in the tour was a visit to a cigar factory. No cameras were allowed inside. Several workers were rolling cigars by hand, the more you roll the more you get paid!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/TVMSLDyqTG5bWYg6Kvab?cache=true" alt="Tobacco farm in Vinales Valley, Cuba">
                <strong>Tobacco farm in Vinales Valley, Cuba</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                We also visited a tobacco farm where the local farmer had just planted tobacco seeds which would be ready for harvest by March the following year.
            </p>
            <div class="space20"></div>

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/CuhT541DPkQ" frameborder="0" allowfullscreen></iframe>
                <strong>How to roll a Cuban Cigar</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                He showed us the fine art of picking the best tobacco leaves, cutting them and rolling them into cigars and cigar aficionados had an opportunity to buy some home made cigars from him as well.
            </p>
            <div class="space20"></div>

            <p align="justify">
                After lunch we proceeded to an underground Indian cave, which had a river flowing through it. These underground cave rivers are the only source of fresh water in Cuba.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/H506ultaSfiBnGFYWzT1?cache=true" alt="Mural de La Prehistoria painted by a Cuban artist in the 1960s">
                <strong>Mural de La Prehistoria painted by a Cuban artist in the 1960s</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Our last stop was Mural de la Prehistoria, a 120 meter long painting made on a cliff by the artist - Leovigildo González Morillo in the 1960s. It took him and his team four years to complete this piece of art! We also had fresh pina coladas at the bar on site, which was absolutely refreshing. Unlike other places, the bartender preferred we help ourselves to the rum in our. He gave us the bottle of rum and we were free to pour in as much as we wanted!
            </p>
            <div class="space20"></div>

            <p align="justify">
                Our last stop was Mural de la Prehistoria, a 120 meter long painting made on a cliff by the artist - Leovigildo González Morillo in the 1960s. It took him and his team four years to complete this piece of art! We also had fresh pina coladas at the bar on site, which was absolutely refreshing. Unlike other places, the bartender preferred we help ourselves to the rum in our. He gave us the bottle of rum and we were free to pour in as much as we wanted!
            </p>
            <div class="space20"></div>


            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/four-days-in-cuba'
                           data-picture='https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz'
                           data-source='https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz'
                           data-caption="Four days in Cuba"
                           data-description="Planning a trip to Cuba for less than a week? Here is what a Havana local recommends you should eat, see and shop! Insider tips and a detailed four day itinerary for Havana and Vinales Valley.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/four-days-in-cuba'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Four days in Cuba'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Click below to contact Kunal if you have any questions about planning your trip to Cuba.</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/27545058-f683-41d9-9eaf-90bffe1739c2" class="call-to-action-button btn btn-lg">Ask Kunal</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                <strong>Kunal Jain </strong> - Kunal’s deep love for travel led to him to create Your Local Cousin. He has worked, lived and studied in seven cities across three continents and as a result he can bust out his German while drinking craft beer in NYC, find the best street food in Singapore, track elephants in the jungles of South India and drive through the insane traffic in Agra, his hometown.
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/four-days-in-cuba" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q?cache=true" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
