<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                10 Off Beat Places to Visit in Central America
            </h2>
            <br>
            <!-- Some image here -->
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg" alt="10 Off Beat Places to Visit in Central America">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Marina &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 2nd December, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/ten-off-beat-places-to-visit-in-central-america'
                           data-picture='https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg'
                           data-source='https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg'
                           data-caption="10 Off Beat Places to Visit in Central America"
                           data-description='Just as it happens in every other region of the world, there are destinations that tend to call a traveler’s attention more than others. They usually receive a lot of visitors and seem, as though everyone you know has already been there or wants to go.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/ten-off-beat-places-to-visit-in-central-america'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='10 Off Beat Places to Visit in Central America'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                Just as it happens in every other region of the world, there are destinations that tend to call a traveler’s attention more than others. They usually receive a lot of visitors and seem, as though everyone you know has already been there or wants to go.
            </p>
            <div class="space20"></div>
            <p align="justify">
                Normally there is good reason for it. Most are amazing places that showcase some unique or exceptional aspects of the local culture. However there are also tons of places that not a lot of people know of and are also quite amazing. This makes them even better because you get to visit them and not feel as crowded as you would in other destinations.
            </p>
            <div class="space20"></div>
            <p align="justify">
                During the time that I have lived in <a href="http://travelexperta.com/central-america/"> Central America </a>I have been able to discover a few that I think everyone should visit.
            </p>


            <!-- First item -->
            <div class="space20"></div>            
            <p align="justify">
                <strong>1. Tikal National Park, Guatemala</strong>    
                <br>
                Ok this is kind of a touristy one but there is a cool service being offered by the park that not a lot of travelers know of. I am talking about their Sunrise Tour ($20USD).
            </p>
            
            <div class="space20"></div>
            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/HiRDfzYZSc2kT9euQf1W" alt="Mayan ruins in Tikal National Park">
                <strong> Mayan ruins in Tikal National Park</strong>
            </div>
            <div class="space20"></div>


            <p align="justify">
                <a href="http://mcd.gob.gt/tikal/">Tikal </a> is one of the largest and most spectacular Mayan Archaeological sites that are open to the public. Here you will find all sorts of old structures including tunnels and highways once used by the ancient Maya warriors.
            </p>
            
            <div class="space20"></div>
            <p align="justify">
                For the tour you can either camp at the park or stay in the hotels that are inside (there are only 2 hotels in the park). My personal favorite is Jaguar Inn. That way you can meet the guides at 4 am by the entrance. They will take you to the top of the highest building to wait for the sun to appear over the jungle.
            </p>
            
            <!-- Second Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong> 2. Great Blue Hole – Belize</strong>
                <br>
                This is definitely a must visit place when you travel to Central America. It is a huge sink hole in the middle of a coral reef. To get there you need to take a short boat ride that will take you 70 km away from the Belizean coast. Keep in mind that this is a full day trip and most tours leave from San Pedro Town in Ambergris Caye.
            </p>
            
            <!-- embeded video from youtube -->
            <div class="space20"></div>
            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/sfmBeM5z944" frameborder="0" allowfullscreen></iframe>
                Credits: Jeff Gosling
            </div>
            <div class="space20"></div>

            <p align="justify">
                It is definitely a unique experience when you leave the shallow waters of the coral reef and into the dark blue space where the immense whole is. The brave ones even get to do some snorkeling or diving in it. It tends to be a bit scary and exciting to go for a visit even knowing that you can’t sink into it.
            </p>
            <div class="space20"></div>

            <p align="justify">
                You could also take a helicopter tour to the <a href="https://www.belize.com/belize-blue-hole">Blue Hole</a> from Belize City. It lasts about 2 hours and allows you to see the coral reef from above. This is great for those with limited time.
            </p>


            <!-- Third Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>3. Cerro Negro – Nicaragua</strong><br>
                When in Nicaragua most people tend to visit its larger cities. I especially liked <a href="https://vianica.com/sp/nicaragua/granada">Granada</a> and the nearby Ometepe Island but I also think that Leon is worth visiting. When you are in the area take a short trip towards Cerro Negro. This is a tiny volcano of only 726 meters above sea level and one of the youngest in the world.
            </p>


            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/vKHeRtWVTVG2DyiXRrsP" alt="Cerro Negro Volcano">
                <strong>Cerro Negro Volcano</strong>    
            </div>
            <div class="space20"></div>


            <p align="justify">
                Its last eruption happened in 1995 so it still hasn’t been taken over by the surrounding vegetation. This makes it the perfect place for practicing or learning how to do some sand boarding.
            </p>

            <div class="space20"></div>
            <p align="justify">
                My family and I weren’t able to do this the last time we were there because my sons were too young but now that the youngest isn’t a baby anymore I would definitely take them there. It looks like a lot of fun.
            </p>


            <div class="space20"></div>
            <p align="justify">
                They basically take you to the top of the volcano, give you some safety tips and off you go. The little ones can also do this inside of the crater where the slopes aren’t as long and steep. If you wanted to you can also visit the volcano and not do the Sand Boarding by paying the $5 entrance fee.
            </p>
            <div class="space20"></div>


            <!-- Fourth Item -->
            <p align="justify">
                <strong>4. Montecristo Volcano – Guatemala</strong>
                <br>
                Guatemala is a land of volcanoes and mountains. You will see them everywhere! There are up to 37 official summits. So you have to hike at least one when in the region. Pacaya, Tajumulco and Acatenango are the most popular and rightfully so. Each has its perks but there is one that even most Guatemalans don’t know of that is a jewel.
            </p>
            

            <div class="space20"></div>
            <p align="justify">
                Montecristo Volcano is located on the Guatemalan territory but within a reserve that is shared among Guatemala, Honduras and El Salvador. The place has some of the most dense and pure cloud forests that I know. You can go for a one day visit but I recommend taking a guided tour that includes camping and rappelling in one of its crystal clear rivers.
            </p>


            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/SR8JRq1LSjqAW2ATaBUu" alt="Montecristo Volcano">
                <strong>Montecristo Volcano</strong>    
            </div>
            <div class="space20"></div>


            <p align="justify">
                If you go to <a href="http://www.sacred-destinations.com/guatemala/esquipulas-basilica-of-black-christ">Esquipulas</a>, chances are that you will find local guides that will take you to the park for a low price but they don’t provide transportation. If on the other hand you are around Antigua you can contact one of the companies that offer volcano trips in Guatemala City to see if they can offer a private tour with everything included.
            </p>


            <!-- Fifth Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>5. Cerro el Pital through Cayaguanca - El Salvador</strong><br>

                <a href="http://www.elsalvadorturismo.com.sv/turismoelsalvador/areasnaturales/cerro-el-pital/">Cerro Pital</a> is the highest mountain of El Salvador. You can drive almost to the top to a cute camping area. It is quite popular among locals. What not a lot of people know is that you can also reach the top by walking along the top of smaller surrounding mountains. You start the trek as if you only wanted to visit Peñon de Cayaguanca (a huge rock on the side of a mountain from where you get insane views) and continue through the winding paths that only local farmers take.
            </p>

            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/oofy090WSNumx0nWIn7E" alt="Hiking the Cerro El Pital">
                <strong>Hiking the Cerro El Pital</strong>    
            </div>
            <div class="space20"></div>

            <p align="justify">
                This hike takes about 7 hours and the last part tends to be a bit tough but it is and incredibly rewarding experience that takes you through gorgeous forests.
            </p>

            <div class="space20"></div>
            <p align="justify">
                When you take this route you have to pay the entrance fee once you get to the top, to the camping area. It is $6 per person even if you won’t stay there. Then you can arrange a car to pick you up there. For arranging this tour you can contact Federacion Salvadoreña De Montañismo Y Escalada.
            </p>


            <!-- Sixth Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>6. <a href="http://guanaja.honduras.com/">Guanaja</a> - Honduras</strong><br>
                Whenever you think about beaches in Honduras, chances are that the Bay Islands come to your mind. Everyone seems to know about Utila and Roatán. But there is a third island that usually gets neglected by visitors.
            </p>

            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/SoVxy38TluyLTJbDO5KZ" alt="Swimming with turtles">
                <strong>Swimming with turtles</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                The place is just as gorgeous as the other two islands, you get all of the perks from the other two but less touristy. You can enjoy the gorgeous coral reef without finding tons of visitors. There are less hotels and less restaurants but you still find them. You can get there by plane and by boat.
            </p>


            <!-- Seventh Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>7. – Pico Bonito National Park - Honduras</strong><br>
                It is home for the <a href="http://www.honduras.com/pico-bonito-national-park/">Pico Bonito Mountain</a> and is located near la Ceiba. Aside from a fun, challenging hike it offers the most bio diverse forests in the country. In it jaguars, boas, monkeys and deer can be found.
            </p>

            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/JrRDVmnS1m7w98NesAV2" alt="Pico Bonito National Park">
                <strong>Pico Bonito National Park</strong>    
            </div>
            <div class="space20"></div>

            <p align="justify">
                Another thing that makes it an amazing place to visit is the fact that the mountain is a major fresh water supplier for the Caribbean side of the country with up to 46 rivers that flow from it. One of them is even Pico Bonito National Park used for rafting.
            </p>

            <div class="space20"></div>
            <p align="justify">
                The best entrance option is from the visitor’s center. You will be charged $7 per person. If you are not in the mood for camping there is a hotel within the park (Lodge at Pico Bonito) from where you can go on your adventures along the park.                
            </p>

            <!-- Eigth Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>8. Matagalpa – Nicaragua</strong><br>
                This is a city surrounded by tons of mountains from two different mountain ranges. There are also rivers everywhere you look.  It is the perfect home base for your nature adventures in the area.
            </p>

            <div class="space20"></div>
            <p align="justify">
                There are tons of tours available, some include hikes to a nearby waterfall, checking out lagoons and exploring <a href="https://vianica.com/attraction/19/selva-negra-private-reserve">Selva Negra Reserve</a>. A little up north you will find coffee plantations and old mines.
            </p>

            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/gjX7J47jTd6fkV3f8EFt" alt="Matagalpa town in Nicaragua">
                <strong>Matagalpa town in Nicaragua</strong>    
            </div>
            <div class="space20"></div>

            <p align="justify">
                It is a great alternative to larger, more popular and a little too touristy cities in the country. Plus it is the perfect home base for all of your adventures in the region.
            </p>

            <!-- Ninth Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>9. Bahía Salinas - Costa Rica</strong><br>
                <p>Lately it seems like everyone is going to <a href="http://www.visitcostarica.com/ict/paginas/home.asp?ididioma=2">Costa Rica</a> and for good reason it is gorgeous! However some areas are starting to feel too much like some of the other more popular beach destinations with huge resorts everywhere.</p>
            </p>

            <div class="space20"></div>
            <p align="justify">
                Luckily, there are still some corners of the country that not a lot of travelers venture to. One of them is Bahia Salinas. It is a paradisiac area with gorgeous white sanded beaches, clear water and surrounded by forests.
            </p>

            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/rYsrCK0ESvyHjrgpRYza" alt="Kitesurfing in Bahia Salinas (Photo Credits: kitesurfatlas.com)">
                <strong>Kitesurfing in Bahia Salinas (Photo Credits: kitesurfatlas.com)</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                If you are looking for a more private beach day this is where you need to go. It is located in the northern, pacific coast of the country, near the border with Nicaragua.
            </p>

            <!-- Tenth Item -->
            <div class="space20"></div>
            <p align="justify">
                <strong>10. <a href="http://www.santacatalinabeach.com/">Santa Catalina</a> – Panama</strong><br>
                This is a tiny town in the Pacific Coast of Panama where you will be lucky if you find more than 300 people living in it. There is almost no touristic infrastructure or amenities. However the beaches and strong waves are an amazing reason to visit.
            </p>


            <div class="space20"></div>
            <!-- some image here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/TMdTjrzGTMm26eR7pCti" alt="Surfing in Santa Catalina, Panama (Photo Credits: Steve Betrisal)">
                <strong>Surfing in Santa Catalina, Panama (Photo Credits: Steve Betrisal)</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                When you come to this tiny surf town you won’t spot more than a few backpackers looking for some fun in the waves and friendly locals. It is definitely a diamond in the rough that you should visit if you are looking for privacy and amazing waves for surfing.
            </p>
            
            <div class="space20"></div>
            <p align="justify">
                So tell me, have you ever been to any of these places or heard of them. I would love to read what you think of them.
            </p>


            <div class="space20"></div>
            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/ten-off-beat-places-to-visit-in-central-america'
                           data-picture='https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg'
                           data-source='https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg'
                           data-caption="10 Off Beat Places to Visit in Central America"
                           data-description='Just as it happens in every other region of the world, there are destinations that tend to call a traveler’s attention more than others. They usually receive a lot of visitors and seem, as though everyone you know has already been there or wants to go.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/ten-off-beat-places-to-visit-in-central-america'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='10 Off Beat Places to Visit in Central America'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Click below if you would like Marina to help you plan your trip.</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/afe3b6d1-f705-4014-bfe2-8944b47381fc" class="call-to-action-button btn btn-lg">Ask Marina</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                Although from New York, Marina has been living with her husband and two young kids in Guatemala for 7 years. She has traveled all over the country and Central America with her family and is a specialist in helping people plan family trips in the region. She can also help you with advice on not just leisure travel but also if you are keen to relocate for work or simply looking to retire in this paradise!
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/ten-off-beat-places-to-visit-in-central-america" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
