<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Phnom Penh The Pearl Of Asia
            </h2>
            <br>
            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/wH1XkphEQG2PGOdI63mh" alt="Silver Pagoda, Phnom Penh, Pearl of Asia, Cambodia">
                <FIGCAPTION>Sunset view of Phnom Penh Pagoda. Photo Credits: Martin Boulanger</FIGCAPTION>
            </figcaption>
            <div class="space20">

            </div>
            <p align="justify">Matias Andres &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on July 25, 2015

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/phnom-penh-the-pearl-of-asia'
                           data-picture='https://www.filepicker.io/api/file/wH1XkphEQG2PGOdI63mh'
                           data-source='https://www.filepicker.io/api/file/wH1XkphEQG2PGOdI63mh'
                           data-caption="Phnom Penh, The Pearl of Asia"
                           data-description='Phnom Penh is one of Easts most tempting treasure and  lot of the Khmer culture revolves around food.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/phnom-penh-the-pearl-of-asia'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Phnom Penh, The Pearl of Asia'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="space10">

            </div>

            <p align="justify">The city of <a href="https://www.yourlocalcousin.com/locations/PhnomPenh12000-Cambodia">Phnom Penh</a> used to be known as “The Pearl of Asia” and enjoyed a rising popularity throughout the 50’s and 60’s. The Khmer “in”-crowd and artist would gather in Cambodia’s popular capital and a vibrant music-scene emerged from all parts of the country, mixing the western music with local, mesmerizing tunes.</p>
            <div class="space20"></div>

            <p align="justify">Footage and music from those days radiate with love, and can only be topped with what was rising from the darkness. What took place afterwards will forever be carved into the history of the city but now, almost 40 years later, saying “it doesn’t matter where you’ve been, it only matters where you’re going” seems more relevant than ever. Phnom Penh might not be what it used to be, but those vibrant tunes and the willingness to love is still as present as ever.</p>
            <div class="space20"></div>

            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/qTDYftKGT3ak1rHmjkNU" alt="Khmer Buddha Monks, Phnom Penh, Cambodia Temple Religion">
                <FIGCAPTION>Monks in Phnom Penh. Photo Credits: Sam Hummel</FIGCAPTION>
            </figcaption>
            <div class="space25"></div>

            <p align="justify">As a first-time visitor to Cambodia and it’s capital Phnom Penh I would recommend visiting the open wounds that are The Khmer Rouge heritage. This includes visiting The Killing Fields (also known as <a href="http://www.cekillingfield.org/index.php/en/history.html">ChoeungEk Genocidal Center</a>) and The ToulSleng Genocide Museum. Both of these are essential pieces of modern Khmer history and what I would call “must-visit’s” in Phnom Penh. Both of these places can be visited as part of a tour around the city and can be reached with tuk-tuk, taxi or motorbike, depending on your preferred comfort level and budget. (I guess you can ride your bicycle there too but considering the road conditions, and traffic, I wouldn’t recommend it – at all!)</p>

            <div class="space20"></div>
            <p align="justify">Even though these places can be somewhat traumatizing there is also a important point to be taken:Yes, this happened and in many ways it continuous to define and influence modern Cambodia BUT this country is so much more than this tragic event.</p>


            <div class="space20"></div>
            <p align="justify">This brings me to the real reason why I live and enjoy this crazy city. There are a wide variety of places to explore and experience and I will do my best to cherry-pick them and serve them on a colorful plate - a la’ Cambodia.</p>
            <div class="space20"></div>

            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/9SPtyR2MReufR1TuPSZF" alt="Tonle Sap Floating Village Lake Tour, Phnom Penh Travel/Trip Map, Cambodia">
                <FIGCAPTION>Catching the sunset from Tonlé Sap Lake</FIGCAPTION>
            </figcaption>

            <div class="space20"></div>

            <span style="font-size:16px">TOP THREE THINGS TO DO IN PHNOM PENH:</span>
            <div class="space20"></div>

            <strong>Catch a movie (The Flicks, Aeon Mall)</strong>
            <div class="space20"></div>
            <p align="justify">Things get tend to get hot in Cambodia’s capital and I’m not only referring to the late nights at the clubs. The blasting Khmer sun can be ruthless and drains the energy out of anyone brave enough to walk under its kingdom. In Southeast Asia Air Conditioning can feel like a gift from heaven and the cinema is a great place to worship the it and catch a movie.</p>

            <div class="space20"></div>
            <p align="justify">In Phnom Penh you’ll find a wide variety of cinemas and movies depending on your budget, movie taste and comfort. For example; catching a 4D-movie at the modern Aeon Mall can put you back $15 for a ticket & snacks while a screening at The Flicks usually goes for under $5 (without the 4D-experience, obviously). Both alternatives are great and I regularly visit them both.</p>

            <div class="space20"></div>
            <strong>Chill in the park (Royal Palace Park, Wat Bottom Park)</strong>
            <div class="space20"></div>

            <figcaption>
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/xxScR4XoRXq9pjjpcMXM" alt="Silk Island Kaftan Plantation, Phnom Penh tourist spots, Cambodia">
                <FIGCAPTION>On SILK ISLAND, A HIDDEN GEM IN THE OUTSKIRTS OF PHNOM PENH</FIGCAPTION>
            </figcaption>
            <div class="space20"></div>
            <p align="justify">When the sun starts to crawl behind the horizon, a park is usually where you want to be. The green patches of grass offers a great alternative to the busy city life and even though you’re just a stone throw away from crazy traffic the parks still keep your heartbeat on a healthy level. In the parks you’ll find a crowd of people ranging from backpackers to <a href="http://www.cambodiatribunal.org/history/cambodian-history/khmer-rouge-history/">Khmer</a> families and lonely businessmen – all running their hands through the fresh grass or chewing on snacks being offered by the numerous vendors pushing their carts around the areas.</p>

            <div class="space20"></div>
            <p align="justify">My favorite one is the Royal Palace Park. As the name implies, it’s the park outside of the Royal Palace and a great place to sit down and have nice chat. What makes this place so refreshing is the amount of life, people and food. The park is also well lit by a huge homage to the reigning king NorodomSihamoni, throwing a pleasant light over its visitors. On some days you can also hear the chanting and prayers from the nearby pagoda by the Riverside, all while you enjoy a fresh coconut and cool down after a long day.</p>
            <div class="space20"></div>
            <strong>Eat and drink (Everywhere)</strong>
            <div class="space20"></div>
            <p align="justify">A lot of the Khmer culture revolves around food and a quick look around will tell you why. The nature of Cambodia provides the people with basically everything they need – from the rice fields to fish from the Tonlé Sap to delicious fruits like mangoes, durians, coconuts and bananas. If you don’t like cooking there is no need to worry, the countless restaurants around Phnom Penh will be more then happy to cook you a meal. Be sure to check out the local restaurants for Khmer-specialties like <a href="http://www.travelfish.org/beginners_detail/cambodia/69">Amok</a> or Lok-Lak – usually around $2 per plate.</p>


            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/phnom-penh-the-pearl-of-asia'
                           data-picture='https://www.filepicker.io/api/file/wH1XkphEQG2PGOdI63mh'
                           data-source='https://www.filepicker.io/api/file/wH1XkphEQG2PGOdI63mh'
                           data-caption="Phnom Penh, The Pearl of Asia"
                           data-description='Phnom Penh is one of Easts most tempting treasure and  lot of the Khmer culture revolves around food.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/phnom-penh-the-pearl-of-asia'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Phnom Penh, The Pearl of Asia'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Connect with your local cousin Matias if you're planning a trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/facebook:10153198749568053" class="call-to-action-button btn btn-lg">Contact the Writer</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author

            </h3>

            <p align="justify"><strong>MATIAS ANDRES</strong> - is a writer and has a <a href="http://www.matiasandres.com/blog/">blog</a> and an avid traveler! He currently lives in Phnom Penh and has spent a significant amount of time in Oslo as well.


            </p>


            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/phnom-penh-the-pearl-of-asia" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space180 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <!--div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->

</div><!--Main container-->
