<div class="container">


    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Pokémon GO Guide – The Best Places to catch Pokemon in Delhi
            </h2>
            <br>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd" alt="Pokemon Go Guide – The Best Places to catch Pokemon in Delhi">
            <div class="space20"></div>

            <p align="justify">Craig Dominic Pinto&nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 7 September, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/pokemon-go-guide-delhi'
                           data-picture='https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd'
                           data-source='https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd'
                           data-caption="Pokemon GO Guide – The Best Places to catch Pokemon in Delhi"
                           data-description='Just downloaded version 0.35.0? Sweet!!! If you don’t know what I’m talking about, well you’re Slow-bro. Might just get another update, by the time you’re done reading this!'>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/pokemon-go-guide-delhi'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Pokemon GO Guide – The Best Places to catch Pokemon in Delhi'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="space10">

            </div>


            <p align="justify">Just downloaded <a href="https://play.google.com/store/apps/details?id=com.nianticlabs.pokemongo&hl=en">>version 0.35.0</a>? Sweet!!! If you don’t know what I’m talking about, well you’re Slow-bro. Might just get another update, by the time you’re done reading this! Gotta catch up, if you “wanna catch em all” - especially Pikachu!!! </p>
            <div class="space20"></div>

            <p align="justify"><a href="http://www.pokemon.com/us/pokemon-video-games/pokemon-go/">Pokémon GO</a> has literally kept trainers all over the world on their feet and I’m not ashamed to admit it, I nearly gave up in between, but then Mew came to me in my dreams and said stuff … not important. What is important? You are…</p>
            <div class="space20"></div>

            <p align="justify">As a Pokémon Trainer, you should know, when the going gets WigglyTuff, the tough get going. Imagine catching all the Pokémon … hold on, guess who I just Met… </p>
            <div class="space20"></div>

            Location: Pitampura
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/3fv36QH0SD2opDvdkUhF" alt="">
            <div class="space20"></div>

            <p align="justify">Gotcha!!! That’s the sound of another Pokémon being added to your <a href="https://www.pokedex.org/">Pokédex</a>. Admit it, the feeling makes you 10 years younger. Plus, it’s a serious challenge to catch these guys as you level up.  For instance,</p>
            <div class="space20"></div>

            Location: Pitampura
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0dTNOTr5T1iJW3PrEERy" alt="">
            <div class="space20"></div>


            <p align="justify">this 946CP Machoke refused to come quietly with a Great Ball and a Great Throw; it’s a good thing I had Ultra Balls. A Great Ball is a 1.5x multiplier and an Ultra Ball is a 2x multiplier, so an Ultra Ball has a higher chance of capture. </p>
            <div class="space20"></div>


            <h3 class="fmob-sub">Pokémon GO Tip #1</h3>
            <div class="space20"></div>

            <p align="justify">Always be prepped to capture high CP Pokémon, by stocking up at least 50 Pokéballs (or 10 Great Balls and 5 Ultra Balls) and 10 Razz Berries, at all times. Unless you want to risk catching that Pikachu…
</p>
            <div class="space20"></div>

            <h3 class="fmob-sub">Pokémon GO Tip #2</h3>
            <p align="justify">Even then, you may want to start curving your throw, to add that extra kick to the capture. Pokémon like Abra have a <a href="https://www.reddit.com/r/pokemongo/comments/4tc929/pokemon_catch_flee_rates_table_and_analysis/">flee rate</a> of 99%, so your odds if you miss the first ball are 0.5%. Good luck with that.</p>
            <div class="space20"></div>

            <p align="justify"><strong>Where in Delhi do you have the highest chances to catch Pokémon?</strong> </p>
            <div class="space20"></div>

            <p align="justify"><u>1. Lodhi Gardens: Over 45 Pokéstops</u></p>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/5iXNd6S3Sve3bysZnwJ3" alt="">
            <div class="space20"></div>

            <p align="justify">Popularly known as a Slowpoke and Ponyta nest. The place is so huge, you can easily find Growlithe, Sandshrew, Mankey, Machop, Cubone, Geodude, Doduo, Diglett, Rhyhorn and Pokémon like Kabuto, Squirtle, Psyduck, and Goldeen near the strip of water. Their evolved forms spawn for players with higher levels. You can find Charmander there too depending upon the time of day and your luck. As you can see in the sightings, that Jolteon gave me the slip. This place closes around 9 though, for stubborn PokémonGo trainers. </p>
            <div class="space20"></div>

            <p align="justify"><u>2. Haus Khas Village Lake and Deer Park: Over 30 Pokéstops</u> </p>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/PWpiLI5QPqVB3pPb068g" alt="">
            <div class="space20"></div>

            <p align="justify">Delhi’s Water Pokémon nest and my personal favorite spot to go hunting. The lures are plenty, and you can hunt past midnight. The area between the lake and HKV has the most spawn rate, and you can catch Staryu, Magikarp, Horsea, Goldeen, Krabby, Kabuto, Poliwag, Psyduck and Omanyte in abundance. You can commonly find Geodude, Doduo, Mankey, Machop, Cubone, Rhyhorn and uncommonly stumble upon Exeggcute, Hitmonlee and Squirtle. </p>
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/pvpGftfCT84QMWUogsrz" alt="">
            <div class="space20"></div>

            <p align="justify">Screenshot 11:11 PM ;).  It get’s better, you can also find Dratini here.</p>
            <div class="space20"></div>

            Location: Haus Khas Village
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0z9WuECLQ16Yd5uvfW6R" alt="">
            <div class="space20"></div>

            <p align="justify">But what really tops the list is the first time I went hunting at this location, this happened … </p>
            <div class="space20"></div>
            Location: Haus Khas Village
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/gzDpnSShQpK6jTqSYJsK" alt="">
            <div class="space20"></div>

            <p align="justify">yes, it’s also commonly known to be the spot where you find Charizard. These nests keep shifting, and keeping track of them brings me to… </p>
            <div class="space20"></div>


            <h3 class="fmob-sub">Pokémon GO Tip #3</h3>
            <div class="space20"></div>
            <p align="justify">Join a local community or <a href="https://www.facebook.com/groups/pokemongoindiaonline/?ref=br_tf">group</a> on FB for updates on nest locations rare Pokémon sightings and game features. </p>
            <div class="space20"></div>

            <p align="justify"> <u>3. Qutub Minar:  14 Pokéstops </u></p>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/diKoIJjiR9KFUbhpPmwm" alt="">
            <div class="space20"></div>

            Location: Qutub Minar
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ZxO2lcqdSXOsOyEe9hrq" alt="">
            <div class="space20"></div>

            <p align="justify">The close proximity of the Pokestops makes this a fun place to catch Pokémon like Cubone, Mankey, Sandshrew, Rhyhorn, Geodude and Charmander. The place is also the haunt for Drowzee, Charmeleon and Magmar. </p>
            <div class="space20"></div>

            <p align="justify"><u>4. Netaji Subhash Place: 11 Pokéstops </u></p>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/oszZ5ICPQGCJXaqNrygq" alt="">
            <div class="space20"></div>

            <p align="justify">This place has far-off Pokéstops, but its open 24/7 and has a high spawn rate for Domestic Pokémon. They’re the obvious names I haven’t been taking all this while namely, Pidgey, Ratata, Meowth, Ekans, Spearow and Zubat. However, you do find Machop, Sandshrew, Geodude, Growlithe, Doduo and Seel, but not as much as the others. This one time, after a long hunt, while returning feeling really drowsy, I caught a … wait for it … </p>
            <div class="space20"></div>

            Location: Netaji Suhash Place
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/FxbYV0vSTPWTMxZWygMs" alt="">
            <div class="space20"></div>

            <p align="justify">As you can see, this fat little guy made me run around to catch him. The Pokémon Go GPS can be a real pain sometimes, pay close attention to your sightings if you want to catch that unregistered Pokémon. Even though he was just a 14CP Pokémon, I fed him a berry, and used a Great Ball; totally unnecessary, but I couldn’t risk it <strong>*blush</strong>. Speaking of which, for those of you finding New Pokémon… </p>
            <div class="space20"></div>

            <h3 class="fmob-sub">Pokémon GO Tip #4</h3>
            <div class="space20"></div>
            <p align="justify">Now that the ‘Nearby’ Pokémon Go GPS has been replaced with ’Sightings’, most Pokémon spawn for about ten minutes and no longer appear in any sort of order. Any Pokémon on the list could be any relative distance from your location. So you better hustle … </p>
            <div class="space20"></div>
            <p align="justify"><u>5. Select Citywalk, Saket : 6 Pokéstops </u></p>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/fks3FxuTkCSlULIb60Ib" alt="">
            <div class="space20"></div>
            <p align="justify">Two reasons why you should hunt here, one, it’s air-conditioned, unlike every other location, you get to catch Pokémon without sweating, and two, it’s a fun place for a Pokédate with BAE <strong>*blush</strong> </p>
            <p align="justify">Growlithe, Sandshrew, Exeggcute, Mankey, Geodude, Rhyhorn, Doduo, Ponyta and other Domestic Pokémon are common here. I guess I was lucky to find Charmander here too. </p>
            <div class="space20"></div>

            <p align="justify"> <strong>Pokémon GO Hack For Commuters</strong> </p>
            <p align="justify">Another fun way to catch Pokémon is, riding the Delhi Metro. </p>
            <div class="space20"></div>

            Location: Kashmere Gate Metro Station
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/PfCemgHdQm34ReJ6P11o" alt="">
            <div class="space20"></div>

            <p align="justify">Almost every station has at least 1 Pokéstop, and that’s quite a blessing if you’re taking it to work in the morning. You know you’ll be well supplied by the time you reach office. Now all you have to do is catch Pokémon on the sly without your boss catching you. </p>
            <div class="space20"></div>
            <p align="justify">And if you’re lucky, you can catch Pokémon without moving a muscle, except your finger muscles duh! Gotta curve those Pokéballs… </p>
            <div class="space20"></div>

            Location: Pitampura
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/El2spiB4TWacjuNDknSw" alt="">
            <div class="space20"></div>

            <p align="justify">
                These are the kind of Pokémon I wake up to sometimes; free Pokémon Go <a href="http://pokemongo.gamepedia.com/Candy">Candy</a> honestly. You need to catch, hatch, transfer and evolve plenty of Pokémon to level up. Which is why, sometimes I like to practice getting an Excellent Throw when I’m home. If the Pokémon is really close to you, it’s worth a shot. Otherwise, always throw Curveballs.
            </p>
            <div class="space20"></div>

            Location: Pitampura
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/20TytI8YQRCpH2Do6V9Q" alt="">
            <div class="space20"></div>

            <p align="justify"><strong> Pokémon GO Hack For Max XP:  </strong> The Lucky Egg Evolution Trick</p>
            <p align="justify">
                Once you have close to 60-70 Pokémon, ready to evolve, open a <a href="http://www.ign.com/wikis/pokemon-go/Lucky_Eggs">Lucky Egg</a> and keep evolving your Pokémon for the 30min. that the egg lasts. You’ll get 1000XP for every evolution instead of 500XP, which you would earn normally.  Evolving 60 Pokémon with a Lucky Egg can earn you 60,000+XP, which can boost you from Level 8 to Level 10 and similarly, Level 10 to Level 11.
            </p>
            <div class="space20"></div>

            <p align="justify">
                Finally, the part, everyone’s been waiting for- Where to catch <a href="http://bulbapedia.bulbagarden.net/wiki/Pikachu_(Pok%C3%A9mon)">Pikachu</a>
                <br>
                So, I would say you have a better chance trying to hatch Pikachu, since you get them from 2km eggs, which is not so bad, but you also can get 14 other Pokémon, of which some might make you cry. However, you can try the Burari Bypass, as some players claim it’s a nest. Shhh….
            </p>
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/JiZqNsOGRZGTNp0G6o7q" alt="">
            <div class="space20"></div>

            <p align="justify"> This leads us to our final tip … </p>
            <div class="space20"></div>

            <h3 class="fmob-sub">Pokémon GO Tip #5</h3>
            <p align="justify">
                Never forget to add an Egg to the Incubator once one hatches. There is nothing worse, than walking 10km, without a single egg hatching.
            </p>
            <div class="space20"></div>

            <p align="justify">
                Now Go Catch’em All!!!
            </p>


            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/pokemon-go-guide-delhi'
                           data-picture='https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd'
                           data-source='https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd'
                           data-caption="Pokemon GO Guide – The Best Places to catch Pokemon in Delhi"
                           data-description='Just downloaded version 0.35.0? Sweet!!! If you don’t know what I’m talking about, well you’re Slow-bro. Might just get another update, by the time you’re done reading this!'>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/pokemon-go-guide-delhi'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Pokemon GO Guide – The Best Places to catch Pokemon in Delhi'>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Connect with one of our Delhi local cousins if you're planning a trip </strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/locations/NewDelhi-Delhi110001-India" class="call-to-action-button btn btn-lg">Find a Local in Delhi</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <br>
            <h3 class="fmob-sub">About The Author</h3>
            <br>

            <p align="justify"><strong>Craig Dominic Pinto </strong>
                is a Polymath from New Delhi. The Co-Author of
                <a href="http://www.hindustantimes.com/delhi/it-s-like-dating-through-words/story-uwYndSUbg1OJc6MsGCAXHO.html">"I Wrote This"</a> and
                <a href="http://www.amazon.in/Poems-Third-World-Tribhawan-Kaul/dp/1630410063">"Poems from Third World"</a>, Bassist of Prog-Rock Band 'Telescopium' and a Management Consultant with a UK based Management Consultancy called Profisor or how he likes to shorten it - Writer,Rocker,Talker,Walker. He has been playing Pokemon Games since he was 10, and is a proud PokéGeek.

                Facebook: <a href="https://www.facebook.com/Craig.Dominic.Pinto">www.facebook.com/Craig.Dominic.Pinto</a>
                Instagram: <a href="https://www.instagram.com/craigdominicpinto/"> www.instagram.com/craigdominicpinto/</a>
                Twitter:  <a href="https://twitter.com/angelzxorn">https://twitter.com/angelzxorn</a>
            </p>
            <div class="space20"></div>
            <div class="hr1"> </div>
            <br>
<div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/pokemon-go-guide-delhi" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space150 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3>OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>-->

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->

</div><!--Main container-->
