<div class="container">
    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant . . . 
            </h2>
            <div class="space20"> </div>
            <p align="justify">By Aarti Kanodia &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 11 August, 2016 </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/suitcase-challenge-i-tried-packing-130-items-into-a-carry-on-suitcase-like-rachel-grant'
                           data-picture='https://www.filepicker.io/api/file/7z4N5bnQSbOGaWwHntsi'
                           data-source='https://www.filepicker.io/api/file/7z4N5bnQSbOGaWwHntsi'
                           data-caption="Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant..."
                           data-description='When Rachel Grant (Bond Girl and Angelina Jolie’s stunt double!) told me that she is making a video where she packs 130 items into a small carry on bag I thought she was nuts!'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/suitcase-challenge-i-tried-packing-130-items-into-a-carry-on-suitcase-like-rachel-grant'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant...'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="space10"></div>
            <p align="justify">
                When Rachel Grant (<a href="http://rachelgrant.com/">Bond Girl and Angelina Jolie’s stunt double</a>!) told me that she is making a <a href="https://www.youtube.com/watch?v=sOC9oe_n70A&feature=youtu.be">video where she packs 130 items into a small carry on bag</a> I thought she was nuts! I pack (what I think is) 130 items into 2 large suitcases that I check in when traveling overseas for three weeks at a time. I can’t even fit enough clothes and shoes into a carry on for an OVERNIGHT stay! But Rachel Grant makes it look effortless in the video she just made below so I decided to challenge myself and try packing at least 130 items into a carry-on suitcase using her tips (the photographic evidence is below)!
            </p>
            <div class="space20"></div>
            
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/sOC9oe_n70A" frameborder="0" allowfullscreen></iframe>
            <div class="space20"></div>

            <p align="justify">
                In the video Rachel demonstrates that she can pack 130 items, including 23 items of clothing (not including under clothes) and 5 pairs of shoes.  She packs them all into a <a href="http://www.biaggi.com/zipsak">Biaggi “zipsak”</a>, a soft piece of foldable carry-on luggage from a New York based company known for its innovative design. Her tips and tricks include:
            </p>

            <div>
                <li>
                    <p align="justify">
                        Make good use of rubber bands, <a href="https://ziploc.com/en/products/bags">Ziploc bags</a> and “packing cubes” to compress clothes and compartmentalize items (Biaggi also has “<a href="http://www.biaggi.com/packing-cubes/">Zipcubes</a>”) 
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Roll clothes to save space 
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Stuff shoes with sock balls – this will also help your shoes keep their shape
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Rubber band shoes together to save space
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Fold similar shaped clothes together
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Pick lightweight fabrics (like silk, cotton etc.)
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Place heavier items at the bottom of the bag
                    </p>
                </li>
            </div>

            <div class="space20"></div>
            <h3 class="fmob-sub">The Challenge</h3>
            <div class="space20"></div>

            <p align="justify">
                After watching Rachel I was inspired to try this and I knew it would be a challenge for a “high maintenance packer” like myself.  I definitely thought that the only way I could fit 130 items into a carry on was if the following happened:
            </p>
            <div class="space20"></div>

            <div>
                <li>
                    <p align="justify">
                        120 items somehow made their way into the below toilet bag and that included makeup, hair ties, my snore strips (yes I snore!), and if every hairclip and Band-Aid counted
                    </p>

                    <div class="space20"></div>
                    <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/cPmgTws4S6SyhS6aMt5D" >
                    <div class="space20"></div>

                </li>
                <li>
                    <p align="justify">
                        I only had to pack underwear and toe socks into the suitcase
                    </p>
                </li>
                <li>
                    <p align="justify">
                        I could fill the suitcase with M&Ms and call it a day
                    </p>
                </li>
            </div>
            <div class="space20"></div>
            <p align="justify">
                But I decided to give it a shot! I figured if Rachel can do it, as an avid world traveler, then I could too.  I take at least 5-6 vacations per year and could certainly use the packing help. 
            </p>

            <div class="space20"></div>
            <h3 class="fmob-sub">What I Used to Try and Fit 130 Items into My Bag</h3>
            <div class="space20"></div>

            <p align="justify">
                <strong>The Carry-on Bag</strong>: On occasion I use the below carry-on bag.  It’s a <a href="http://www1.macys.com/shop/luggage-backpacks/tommy-hilfiger?id=21060&EFCKEY=%7B%22EXPERIMENT%22%3A%5B1008%2C1534%2C1756%2C1921%5D%7D&SEED=1995177787091784166">Tommy Hilfiger</a> canvas bag so it’s somewhat pliable but not as pliable as the Biaggi Zipsak that Rachel used.  It also doesn’t have as many pockets but it does have a large front pocket and a plastic waterproof pouch on the inside for additional storage opportunities. 
            </p>

            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/a3rhxxOfTXqqwgJJDQas">
            <div class="space20"></div>

            <p align="justify">
                <strong>Ziploc Bags and rubber bands</strong>:  The Ziploc bags are key to fitting clothing into the carry on since it really helps compress the fabrics and you can let all the air out (I’m certain you can fit even more clothing by using the <a href="https://ziploc.com/en/404">vacuum bags</a> that really get the air out).  The rubber bands came in handy to keep the shoes together and were also very helpful. I didn’t have “travel cubes” to fit the bags into so I will certainly be purchasing them before my next trip. 
            </p>

            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/YrGy2olRUvx6lL1fyooA" alt="">
            <div class="space20"></div>

            <div class="space20"></div>
            <h3 class="fmob-sub">The Results</h3>
            <div class="space20"></div>
            <p align="justify">
                I was up to the challenge of getting at least 130 items into my carry on suitcase and pretended I was going on a beach vacation to <a href="http://www.visitmexico.com/">Mexico</a>. I picked mostly lightweight clothing from silk tops to cotton capris but did throw in some more practical items even though they are bulky – like a pair of jeans.  Overall my packing list included:
            </p>

            <ul>
                <li>-	23 pieces of clothing (just like Rachel!) which included pants, shorts, tops, a pair of jeans and a swimsuit</li>
                <li>-	6 pieces of gym wear including tops/sports bras/workout pants</li>
                <li>-	8 pairs of underwear</li>
                <li>-	8 bras</li>
                <li>-	5 pairs of shoes</li>
                <li>-	1 pair of sunglasses + 1 pair reading glasses</li>
                <li>-	3 belts</li>
                <li>-	10 socks (toe socks for working out)</li>
                <li>-	hair straightener </li>
                <li>-	phone charger/computer charger</li>
                <li>-	a small notebook</li>
                <li>-	63 items in a makeup bag AND a toilet bag which included eye masks, sunblock, medication, toothpaste, shampoo, conditioner etc. </li>
            </ul>

            <p align="justify">
                <strong> TOTAL = 132 items! </strong>
            </p>

            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/3z8NhklTlO8x1Z9RFUoy">
            Clothes and shoes! 

            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/0ht5IN6LTuP72QmuMTkw">
            Gym clothes + miscellaneous

            <div class="space20"></div>
            <strong> What worked: </strong>
            <div>
                <li>
                    <p align="justify">
                        Rolling up all the clothing that is made of light material was key! I managed to roll up (almost) everything and even take most of the air out of the bags.  
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Rubber banding shoes together kept them in place!
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Stuffing socks into shoes reduced space and the shoes kept their shape
                    </p>
                </li>
            </div>

            <div class="space20"></div>
            <strong> What did not work: </strong>
            <div>
                <li>
                    <p align="justify">
                        Anything bulky took up too much space, including jeans! I decided to wear one pair of jeans to the airport and swapped it out for another pair of cotton capris. Jeans also didn’t fit into Ziploc bags very well
                    </p>
                </li>
                <li>
                    <p align="justify">
                        High-heel shoes didn’t really fit and were an odd shape so those got swapped out for dressy flats
                    </p>
                </li>
                <li>
                    <p align="justify">
                        Bulky bras also needed to be swapped out for “bralets” or tank tops with built-in-bras
                    </p>
                </li>
            </div>

            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/wWJfNYvJSKWHdKCCMDYY">
            <div class="space20"></div>
            <img class="img-responsive blog-img" src="https://cdn.filepicker.io/api/file/8Z4xL00Tj8j2HGrkwAES">


            <div class="space20"></div>
            <h3 class="fmob-sub">Challenge Successful!</h3>
            <div class="space20"></div>
            <p align="justify">
                Despite having little self-confidence upon hearing the words “130 items in a carry on suitcase”, using Rachel’s tips I managed to pack just over 130 items (it took a while)! I definitely think that having the packing cubes will help and getting a more pliable carry on bag like the ones <a href="http://www.biaggi.com/">Biaggi sells</a> could make the process more efficient.  
            </p>

            <p align="justify">
                <strong>Our challenge to Rachel</strong>: how many items can you fit in a carry-on bag for a ski trip? Just kidding! 
            </p>

            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/suitcase-challenge-i-tried-packing-130-items-into-a-carry-on-suitcase-like-rachel-grant'
                           data-picture='https://www.filepicker.io/api/file/7z4N5bnQSbOGaWwHntsi'
                           data-source='https://www.filepicker.io/api/file/7z4N5bnQSbOGaWwHntsi'
                           data-caption="Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant..."
                           data-description='When Rachel Grant (Bond Girl and Angelina Jolie’s stunt double!) told me that she is making a video where she packs 130 items into a small carry on bag I thought she was nuts!'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/suitcase-challenge-i-tried-packing-130-items-into-a-carry-on-suitcase-like-rachel-grant'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant...'>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Connect with one of our local cousins if you're planning a trip</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a ui-sref="home" class="call-to-action-button btn btn-lg">Find a Local Cousin</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author</h3>
            <br>
            <p align="justify"><strong><a href="http://rachelgrant.com/">RACHEL GRANT</a></strong> - is a Bond Girl (Die Another Day), former Miss Hawaiian Tropic and was Angelina Jolie’s stunt double in Tomb Raider. This bombshell is also an author, humanitarian and adventure traveler, having visited over 70 countries! Rachel is one of the tour guides in the new Bravo reality TV show, <a href="http://www.bravotv.com/tour-group">Tour Group</a>, with new episodes that aired this May. Rachel Grant is an incredible human being and we could only dream of doing half the things she has accomplished!. Rachel also has a social enterprise, <a href="http://furrykind.com/our-story/4582161752">Furry Kind</a>, which brands a line of non-toxic pet products. You can also view her beautiful photo gallery <a href="http://rachelgrant.com/">here</a>. </p>
            <br>
            <p align="justify"><strong>AARTI KANODIA</strong> -  is the co-founder of Your Local Cousin along with her actual cousin Kunal.  She loves to travel and wants everyone to explore the world like a local.  Aarti has an <a href="http://www.anderson.ucla.edu/">MBA from UCLA</a> and a BS in finance from NYU Stern.  In her past life Aarti owned a Belgian themed waffle truck, <a href="http://amp.cbslocal.com/2012/03/16/food-truck-friday-with-crispy-waffle-frite/">Crispy Waffle & Frite</a></p>

            <div class="hr1"> </div>
            <br>
            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/suitcase-challenge-i-tried-packing-130-items-into-a-carry-on-suitcase-like-rachel-grant" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- Right NAV Start-->
            <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
            <div class="col-md-12 btop">
                <div class="cousin-btn1 text-center">
                    <a ui-sref='blog.requirements'>
                        SUBMIT YOUR STORY
                    </a>
                </div>
            </div>
            <div class="space95"></div>
            <h3 class="fmob-sub">OUR OTHERS STORIES

            </h3>
            <div class="hr2">

            </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                     <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                     <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                     </h5>
                     </a>
                     </div>

                     <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
