
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form-box  answer-form ">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12 contactborder padding30">
                            <img class="img-responsive blog-img "src="https://www.filepicker.io/api/file/rGE4Cn3lRaqCRUoyg6xT" alt="">
                            <div class="space20"></div>
                            <h2>Article Submission Guidelines</h2>
                            <div class="contact">
                                <div class="space20"></div>

                            <p align="justify">Your Local Cousin’s blog is a collection of carefully curated articles written by travel enthusiasts around the globe. We seek to publish articles filled with unique information about a location, with a personalized approach. Our priority is to offer information from a local’s perspective aimed at travelers looking for a bespoke experience. Local insights on our blog help attract travelers planning their vacation to cities across the globe via</p>
                                <div class="space20"></div>

                                 <a href="www.YourLocalCousin.com">www.YourLocalCousin.com</a>
                                <div class="space20"></div>

                                <div class="blog-line"></div>

                                <div class="space20"></div>

                                <h3>Guidelines</h3>
                                <div class="space20"></div>

                                <p align="justify">We currently offer <b>$60</b> (US) for an article with over <b>1,000</b> words with at least three (3) high-resolution images / videos that are yours or that you have permission to use. If you'd like us to add back links to your blog, website, social media profiles or mention your business then we pay you <b>$30</b> for the article. Further, if your work is stellar (i.e. your work has been published in national/major publications or you have a popular blog etc.) <u>and</u> you have a strong social media following or you take very high quality photos that could grace the pages of National Geographic, contact us and we can work out a price - and send us a writing/photo sample!</p>
                                <div class="space20"></div>
                                <div class="blog-line"></div>
                                <div class="space20"></div>

                                <h3>Next steps:</h3>
                                <div class="space20"></div>

                                <p align="justify">Step 1: Submit an idea for your article along with any writing samples (hit “submit an idea” below).  A writing sample can be an article that you wrote that was published OR even just a paragraph about why you love your city.</p>
                                <div class="space20"></div>
                                <p align="justify">Step 2: After we approve it we will notify you by e-mail and you can get to work!</p>
                                <div class="space20"></div>
                                <p align="justify">Step 3: Send us your article, at least three high-resolution images and hyperlinks via e-mail</p>
                                <div class="space20"></div>
                                <p align="justify">Step 4: We have the right to ask you to revise the article and can reject it for any reason* (see reasons for rejection below)</p>
                                <div class="space20"></div>
                                <p align="justify">Step 5: Once approved we will pay you immediately via your Paypal account or other method of payment</p>
                                <div class="space20"></div>
                                <p align="justify">Step 6: We will market your post and hope you will too! Tell local businesses you write about that you love them – the more people and places you mention the better!</p>
                                <div class="space20"></div>



                                <p align="justify">***Frequency: we will try to publish posts every few days</p>
                                <div class="space20"></div>
                                <div class="blog-line"></div>
                                <div class="space20"></div>

                                <p align="justify">Our readers love engaging content that are easy, interesting reads.  Some popular formats include:</p>
                                <div class="space20"></div>
                                <p align="justify">•	Top 10 lists (or top 7 lists!)</p>
                                <div class="space20"></div>

                                <p align="justify">•	A deep dive into a unique destinations (i.e. Tallinn Estonia) or the unique side of a very popular destination (i.e. street art in Chicago)</p>
                                <div class="space20"></div>
                                <p align="justify">•	Money saving tips for a particular city</p>
                                <div class="space20"></div>
                               <p align="justify">•	Unique activities that are popular in a certain city (i.e. cliff diving in Jamaica)</p>
                                <div class="space20"></div>
                                <p align="justify">•	Topic specific articles (i.e. pet travel, vegetarian friendly restaurants, travel with kids, senior citizen travel etc.)</p>
                                <div class="space20"></div>
                                <p align="justify">•	Articles about upcoming events, festivals or fairs (i.e. Oktoberfest, Rio’s Carnival, Mardi Gras etc.)</p>
                                <div class="space20"></div>

                                <h3>The article must:</h3>

                                <p align="justify">•	Be original and include current content. We will not accept previously published pieces.</p>
                                <div class="space20"></div>
                                <p align="justify">•	Include at least 3 high-resolution photos along a brief description for each one. We prefer they are your own photos. However, if the photos are not your originals then send us proof of permission (Your Local Cousin is not liable for any photos you send us that are illegal to publish and copyrighted). NOTE: Your Local Cousin reserves the right to use your original photos on its social media accounts. Of course we will give you credit by tagging or mentioning you in the posts.</p>
                                <div class="space20"></div>
                                <p align="justify">•	Do not submit photos with any filters, keep them natural and bright – if you don’t have any then you can ask friends, family or people online if it is ok to use theirs and give them credit (e.g. Yelp users often take good photos – if you have an account you can message them and ask for permission to use them - send us their written consent.)</p>
                                <div class="space20"></div>
                                <p align="justify">•	Photos should not have any watermarks or text.</p>
                                <div class="space20"></div>
                                <p align="justify">•	Include backlinks/hyperlinks to any businesses or places mentioned</p>
                                <div class="space20"></div>
                                <p align="justify">•	You may NOT link to Wikipedia, TripAdvisor, CouchSurfing, Craigslist, travel or restaurant review sites etc.</p>
                                <div class="space20"></div>
                                <p align="justify">•	You may link to your personal blog or business</p>
                                <p align="justify">•	Video: if you have high quality video content feel free to add the link or embed it into the post</p>
                                <div class="space20"></div>

                                <h3>Photos</h3>
                                <div class="space20"></div>
                                <p align="justify">•	It is best to use your own photos.  Please do NOT sent photos that are blurry, out of focus or that have poor lighting</p>
                                <div class="space20"></div>
                                <p align="justify">•	Ask people to use their images if you don’t have any. You will be surprised what you will get if you just ask! If you find some great images online, contact the publisher and ask if you can post it and give them credit! We will only accept them if they say YES!</p>
                                <div class="space20"></div>
                                <p align="justify">•	There are many websites that allow you to use their high- resolution images for FREE! See the article below (some sites include <a href="https://unsplash.com/"> Unsplash</a>, <a href="http://www.gratisography.com/">Gratisography</a>, <a href="https://picjumbo.com/">Picjumbo</a>, <a href="http://snapwiresnaps.tumblr.com/">Snapwire Snaps etc</a>.):</p>
                                <div class="space20"></div>
                                <span class="text-center">https://bootstrapbay.com/blog/free-stock-photos/</span>
                                <div class="space20"></div>
                                <p align="justify">***make sure you can use the photos for commercial usage</p>
                                <div class="space20"></div>
                                <div class="blog-line"></div>
                                <div class="space20"></div>

                                <h3>Reasons for rejecting an article:</h3>
                                <div class="space20"></div>
                                <p align="justify">•	We do not edit articles with many grammatical and spelling errors (one or two here and there are ok)</p>
                                <div class="space20"></div>
                                <p align="justify">•	If you are not a native English speaker do NOT insert your article into Google Translate and send it to us – we will reject it – instead have a friend help you translate it!</p>
                                <div class="space20"></div>
                                <p align="justify">•	You plagiarized (copied) someone’s writing</p>
                                <div class="space20"></div>
                                <p align="justify">•	Your writing is offensive (i.e. we do not allow discrimination based on nationality, religion, sexuality, gender, etc.) – keep politics out!</p>
                                <div class="space20"></div>
                                <p align="justify">•	Your article is poorly written! See our existing blog to get an idea of what we publish!</p>
                                <div class="space40"></div>


                                <div class="blog-line"></div>
                                <div class="space20"></div>
                                <span class="acolor">Articles will be moderated in accordance with these guidelines and may be checked and edited for minor spelling and grammar. Your article will be published within 3-10 days unless otherwise stated. If you have any questions at all, feel free to email Your Local Cousin editors Aarti and Kunal at <a href="info@yourlocalcousin.com">info@yourlocalcousin.com</a></span>
                                <div class="space20"></div>
                                <button type="submit" ui-sref='blog.contact' class="blockbtn pull-right">
                                    Submit An Idea
                                </button>


                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 space30">

                            <div class="social">
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                                        </a>
                                    </li>

                                    <li>
                                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--Right NAV Start-->
                            <a ui-sref='blog.contact'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                            <div class="col-md-12 btop">
                                <div class="cousin-btn1 text-center">
                                    <a ui-sref='blog.contact'>
                                        SUBMIT YOUR STORY
                                    </a>
                                </div>
                            </div>
                            <div class="space95"></div>
                            <h3>OUR OTHERS STORIES

                            </h3>
                            <div class="hr2">

                            </div><br>

                            <div class="col-sm-12">
                                <div class="row">
                                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                                            Random Swede &nbsp;(The Swedish Number)

                                        </h5>
                                    </a>
                                </div>
                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                                        </h5>
                                    </a>
                                </div>
                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                                        <h5 class="right-text">&nbsp;Ecotourism & adventure in &nbsp;panama

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                                        </h5>
                                    </a>
                                </div>
                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn &nbsp;only &nbsp;locals know about

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in &nbsp;boston

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                                        </h5>
                                    </a>
                                </div>

                                <hr>

                                <div class="row">
                                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                                        </h5>
                                    </a>
                                </div>

                                <hr>


                                <div class="row">
                                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                                        </h5>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space100"></div>
</section>
