<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                The Tragic Histories of Nice
            </h2>
            <br>
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr" alt="The Hotel Negresco – grand beachfront hotel in Nice, France">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Tricia &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 26 October, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/the-tragic-histories-of-nice'
                           data-picture='https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr'
                           data-source='https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr'
                           data-caption="The Tragic Histories of Nice"
                           data-description='With a name like “Nice” and its 300 days of sunshine, it’s hard to imagine that this tranquil city carries some dark, tragic historical baggage that are not known to most travellers/visitors or even locals. '>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/the-tragic-histories-of-nice'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='The Tragic Histories of Nice'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                With a name like “Nice” and its 300 days of sunshine, it’s hard to imagine that this tranquil city carries some dark, tragic historical baggage that are not known to most travellers/visitors or even locals. 
            </p>
            <div class="space20"></div>


            <p align="justify">
                <strong><a href="http://www.hotel-negresco-nice.com/en/">The Hotel Negresco</a></strong>
                <br>
                Henri Negresco came to France from Romania as a young man and quickly made a name for himself in the casino and hotel industry in Paris. He eventually made his way to the <a href="https://www.roughguides.com/destinations/europe/france/c%C3%B4te-dazur/">Cote d'Azur</a> (or French Riviera) and rose up the ranks to a casino manager. In order to attract high net worth clients to the casinos, he dreamed up the most beautiful and luxurious hotel in Nice. The hotel Negresco is still, today, the Pearl of the Promenade because of its splendour.
            </p>
            <div class="space20"></div>

            <p align="justify">
                However, it wasn't always so. Merely a year after opening the hotel, to much success, war descended upon France in 1914 and the clients stopped swinging by. The hotel fell into arrears and creditors snatched the hotel out of Henri's hands and converted it into a much-needed hospital. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                Even after the war, the messy administration procedures prevented Henri Negresco from ever regaining ownership or claiming the damages done to the hotel during the war. He died penniless in Paris at the age of 52. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                The hotel passed through several hands before landing in the hands of Jeanne Augier's father, who bought the hotel as it was the only one at that time that had a lift for his wife to use, as she was wheelchair-bound. Jeanne and her husband spent almost 5 decades rebuilding and refurbishing the Negresco back to its former glory, which we can now appreciate (from the outside at least) from anywhere on the <a href="http://www.lonelyplanet.com/france/nice/sights/architecture/promenade-des-anglais">Promenade des Anglais</a>.
            </p>
            <div class="space20"></div>


            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr" alt="The Hotel Negresco – grand beachfront hotel in Nice, France">
            <strong> The Hotel Negresco – grand beachfront hotel </strong>
            <div class="space20"></div>

            <p align="justify">
                Since the attacks on the Promenade des Anglais on 14 July 2016, the hotel no longer permits the public to enter its premises to view their art collections in the lobby. It seems devastatingly unfair that Henri Negresco died bankrupt, thinking his precious hotel was in ruins – if only he could see it now! 
            </p>
            <div class="space20"></div>

            <p align="justify">
                Address: Hotel Negresco – 37 Promenade des Anglais, 06000 Nice
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong><a href="https://nice.regency.hyatt.com/en/hotel/home.html">Palais de Méditerranée</a></strong><br>
                Another tragic history revolving around the casino industry took place in the 1970s during what was called the <a href="http://www.telegraph.co.uk/news/worldnews/europe/france/10756093/Family-at-war-over-1970s-murder-of-casino-heiress.html">"Casino Wars"</a> in Nice. Jean-Dominique Fratoni, a Corsican with ties to the Mafia, was running Casino Ruhl at this time. Mysteriously, and somewhat coincidentally, the Palais de Méditerranée and the Sun Beach Casino near Menton were simultaneously hit with a colossal loss as a result of a small group of men sweeping up the millions of francs in winnings in a span of a few hours. There was reportedly even the same man, Simon Gavet, at both these suspicious winnings. Simon Gavet was later shot and killed in 1976. 
            </p>
            <div class="space20"></div>


            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/w73bdw5MRICjv5nCjMBB" alt="The Famous Casino Ruhl in Nice, France">
            <strong>The Famous Casino Ruhl</strong>
            <div class="space20"></div>

            <p align="justify">
                Casino Ruhl swooped in to save the financially troubled Sun Beach Casino (eventually taking over its operations, of course) and offered the same "assistance" to Palais de Méditerranée. However, the new owner of the casino, a formidable woman by the name of Renée Le Roux stepped up to the plate and outright refused - borrowing money from the bank instead to cover for the losses and insisting on bringing the casino back up through sheer determination and hard work. 
            </p>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/8lo8wX9RTNCcuzOwrsM9" alt="Palais de Méditerranée – the luxurious art-deco hotel in Nice, France">
            <strong>Palais de Méditerranée – the luxurious art-deco hotel in Nice</strong>
            <div class="space20"></div>


            <p align="justify">
                Fratoni played another angle. Maurice Agnelet, a lawyer and renowned French playboy (also a good buddy of Fratoni), started courting Le Roux's daughter - young, recently divorced and broke Agnès Le Roux - who was, incidentally, fighting with Renée for her father’s inheritance. Agnelet convinced Agnès to sell her shares of the casino to Fratoni and vote against her mother in a board meeting (with 3 million "persuasive" francs) which left the way open for Fratoni to step in and take over the operations of the Palais de Méditerranée.
            </p>
            <div class="space20"></div>

            <iframe width="100%" height="415" src="https://www.youtube.com/embed/oR_FSnV0nuI" frameborder="0" allowfullscreen></iframe>
            View of Nice from the terrace of a hotel
            <div class="space20"></div>

            <p align="justify">
                After the deal is done, Agnelet takes the young Le Roux on a romantic camping trip in Italy - a trip where Agnès Le Roux is never seen or heard from ever again. When questioned, Maurice Agnelet had a convenient alibi - he was with his mistress, Franҫoise Lausseure, in Switzerland the weekend Agnès Le Roux disappeared.
            </p>
            <div class="space20"></div>

            <p align="justify">
                Address:<br>
                Palais de la Méditerranée – 13 Promenade des Anglais, 06000 Nice<br>
                Casino Ruhl – 1 Promenade des Anglais, 06000 Nice
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong><a href="http://www.opera-nice.org/en">The Opera</a></strong><br>
On a performance night in 1881, the opera house was half packed with spectators when one of the gas lights exploded and sparked a fire which engulfed the stage curtains and grew dangerously fast. All the other lights in the opera were cut, plunging the crowd into complete darkness except for the light from the fire. Panic ensued. The opera's narrow corridors and massive doors (which were later found to have been bolted) proved to be the fatal design flaw in the planning and trapped many inside. 
            </p>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/IHynO2lVQoKVDRtyZ1Gh" alt="Opera House in Nice, France – home to Ballet Nice Méditerrannée and the Nice Philharmonic Orchestra">
            <strong>Opera House – home to Ballet Nice Méditerrannée and the Nice Philharmonic </strong>
            <div class="space20"></div>

            <p align="justify">
                The number of fatalities varies but most reports set it at more than 60 lives lost that night. Terrifyingly, the majority of victims were not taken by the fire but were, instead, trampled to death in the mass hysteria that followed the outbreak of the fire.
            </p>
            <div class="space20"></div>

            <p align="justify">
                Address: Nice Opera – 4-6 rue Saint-Franҫois de Paul, 06300 Nice
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong><a href="http://www.sobor.fr/index.php?content=home&lang=en">Russian Cathedral</a></strong><br>
                The Russian Cathedral in Nice is actually the biggest Russian Orthodox Church outside of Russia. It was built by Tsar Nicholas II in 1912 to accommodate the growing Russian community in Nice, after the nobles made Nice a famous destination to pass the bitter winters of Russia in. 
            </p>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/8Q1MM8VFRV6ZIXmAOShg" alt="Russian Cathedral in Nice, France - biggest Russian Orthodox Church outside of Russia">
            <strong>Russian Cathedral - biggest Russian Orthodox Church outside of Russia</strong>
            <div class="space20"></div>

            <p align="justify">
                Beside the cathedral is a white chapel, said to have been built in the memory of Tsesarevich Nicholas Alexandrovich, who was next in line for the throne. The future looked bright for the young Nicholas, he was even engaged to a Danish princess. However, in 1865, his health started to take a turn for the worse. He was brought to Nice where it had been said that the salty air was good for health. Alas, to no avail and the young Tsesarevich died at the tender age of 21. His dying wish was that his fiancée marry his younger brother, who would be next in line for the throne upon his death. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                The chapel that is next to the Russian cathedral is said to be built over the exact spot of Nicholas Alexandrovich’s deathbed. Unfortunately, the family's tragedy does not end there.
            </p>
            <div class="space20"></div>

            <p align="justify">
                The Danish princess eventually did get married to his younger brother and their son, the builder of the cathedral, Tsar Nicholas II, would be the last Tsar of the Russian monarchy. As you may know, the Romanovs were murdered in the middle of the night while they were in exile in 1918. In 1979, the bodies of the Tsar, his wife and three out of four of their daughters were found buried together but the bodies of his son and remaining daughter were still missing, sparking rumours that perhaps their son, Alexei, and daughter Anastasia had somehow escaped and had survived the slaughter (the same Anastasia the Disney movie is based on). However, almost three decades later in 2007, two more bodies were uncovered and DNA samples confirmed that the bodies belonged to that of Maria and Alexei Romanov, thus completing the final two missing members of the Romanov family.
            </p>
            <div class="space20"></div>

            <p align="justify">
                Address: The Russian Cathedral – Avenue Nicholas II, 06000 Nice
                <br>
                *Not to be confused with the smaller Russian Church on 6 rue Longchamp
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong><a href="http://www.frenchrivieratraveller.com/Nice_to_Monaco/Corniches.html">The Moyenne Corniche</a></strong><br>
                Nice has 3 main roads leading to <a href="https://www.theguardian.com/travel/2014/mar/28/menton-unknown-riviera-restaurant-food-drink">Menton</a> (direction Italy) called Corniches. The roads twist and turn tightly around the cliffs that follow the coast. The views while driving on them are simply amazing, overlooking some of the most beautiful cities on the French Riviera like Villefranche-sur-Mer, Eze and Monaco. 
            </p>
            <div class="space20"></div>

            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/evzYENOSpS3GFZhSSRTw" alt="Nice view from the Moyenne Corniche Road">
            <strong>Nice view from the Moyenne Corniche Road</strong>
            <div class="space20"></div>

            <p align="justify">
                It was on the <a href="http://www.frenchrivieratraveller.com/Nice_to_Monaco/Corniches.html">Moyenne Corniche</a> that former American actress and then Princess of Monaco, Grace Kelly, veered off the road in her Rover with her youngest daughter, Stephanie, inside. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                Earlier during the day of the accident, their chauffeur had offered to drive the princesses home to Monaco but Grace Kelly had filled the back seat with dresses and thus, had no space for all three of them in the car. Her chauffeur offered to send them home and come back for the dresses after but Kelly did not want to trouble him and insisted on driving. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                A witness behind the car said the car crashed through the safety barriers at full speed and he never saw the brake lights come on. By some miracle, Stephanie manages to escape the overturned wreckage through the driver's window (prompting later rumours that she was the one driving) and shouts to onlookers, "Please get help, call the palace, I'm Princess Stephanie - call my father, get help – my mother is still inside". 
            </p>
            <div class="space20"></div>

            <p align="justify">
                In a later interview, Princess Stephanie recounts that her mother was complaining about a headache during the drive and "for a fraction of a second, she seemed to black out". When she came to again, she was disoriented and went into complete panic as she lost control of the car. Medical experts who examined her body after the accident concluded that she had had a stroke while she was driving, causing the accident. A second cerebral haemorrhage triggered by the accident eventually took the life of the beloved star, mother and princess.
            </p>
            <div class="space20"></div>

            <p align="justify">
                It would be another 15 years before France would claim another princess in a car accident, but that’s another story for Paris.
            </p>
            <div class="space20"></div>

            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/the-tragic-histories-of-nice'
                           data-picture='https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr'
                           data-source='https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr'
                           data-caption="The Tragic Histories of Nice"
                           data-description='With a name like “Nice” and its 300 days of sunshine, it’s hard to imagine that this tranquil city carries some dark, tragic historical baggage that are not known to most travellers/visitors or even locals. '>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/the-tragic-histories-of-nice'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='The Tragic Histories of Nice'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Connect with your local cousin Tricia if you're planning a trip to Nice:</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/ElBehGAJHFNKQxuT8xlBSorC6Ou1" class="call-to-action-button btn btn-lg">Contact the Writer</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                <strong>Tricia</strong> - Tricia is originally from Singapore but has been living in Cote d’ Azur, Nice. She gives bike tours around Nice and has a business printing personalised postcards for your vacation. Find out more about Tricia <a href="https://www.yourlocalcousin.com/search/ElBehGAJHFNKQxuT8xlBSorC6Ou1">here</a>.
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/the-tragic-histories-of-nice" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
