<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Traveling to Cuba from the United States? This is how you do it.
            </h2>
            <br>
            <!-- Some image here -->
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa" alt="Traveling to Cuba from the United States? This is how you do it.">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Kunal &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 13th December, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/travelling-to-cuba-from-us'
                           data-picture='https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa'
                           data-source='https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa'
                           data-caption="Traveling to Cuba from the United States? This is how you do it."
                           data-description="How to travel to Cuba if you're an American citizen or live in the United States and do not want to go in an organized tour. Your guide to a hassle free entry in to the country and our top tips before you go to Cuba.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/travelling-to-cuba-from-us'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Traveling to Cuba from the United States? This is how you do it.'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                At a recent get together with some friends in New York, I popped the question – “I’m planning a trip to Cuba, who’s in?” I wasn’t surprised when no one raised their hand, instead the first question I got thrown back at me was whether it was legal to travel to Cuba if you’re in the United States and if the answer was yes, how do we go about planning a trip?
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Wj4gD6qeSeiapC4bwCCG" alt="American Vintage Cars and Horse Carriages in Havana">
                <strong>American Vintage Cars and Horse Carriages in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                It’s then that I went around asking people I knew who’d been there and started researching online on ‘travel to Cuba’ and this is what I found and followed on my trip to Cuba in November this year. Neither did I end up being questions by US Immigration nor did I go to jail for bringing in Cuban cigars and Cuban rum. How did I do that – no I didn’t smuggle myself in on a raft! I’m going to tell you exactly what I did so you too can avoid immigration and border control complications though I highly doubt that would be the case
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/RmPbSuZVRF1uOJDBgZsc" alt="Typical street in Havana">
                <strong>Typical street in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                I’m also going to tell you what I did in Cuba for 4 days. In hindsight, I wish I had stayed longer as there is soooo much to see and experience in this fascinating and ‘back to the future’ country.
            </p>
            <div class="space20"></div>

            <p align="justify">
                <strong>My research on Cuba told me this:</strong>    
                <br>
                With the recent meeting between Obama and Raul Castro relations between the two countries had started improving but it wasn’t clear what that meant for leisure travel to Cuba. Everyone had a different opinion on this. It will be interesting to know the impact on the relations between the two countries now that Trump is the president of the United States. Will his caricature make it to the below piece of art in the Musio de la Revolucion in Havana?
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/VO512V6FQGKMDOdna1M4" alt="Musio de la Revolucion: Cuba’s impression of previous US presidents">
                <strong>Musio de la Revolucion: Cuba’s impression of previous US presidents</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Which US airlines flew to Cuba? There are several that do such as Jet Blue, American, Delta, Spirit and United. Some of these flights are direct like the ones from New York, Newark, Houston, Atlanta and Los Angeles to Havana and then another 10 or more flights from cities in Florida as well. This was good news but what about visas to Cuba? Did I need one, should I apply at the embassy, what is the process to get a visa to Cuba? Again, the news was conflicting and the Cuban embassy’s website was not functional and neither did anyone answer the phone when I tried calling.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/PCr0SfuxRYCqIVHDMFdl" alt="Colorful facades of buildings in Havana">
                <strong>Colorful facades of buildings in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Regarding the Cuban tourist visa, if you're a permanent resident, US passport holder or do not own any of the above and are just visiting the United States then you must meet these <a href="https://travel.state.gov/content/passports/en/country/cuba.html">conditions</a> as determined by the US government in order to travel to Cuba from the United States. The conditions say if you're not going for a religious activity, to perform research, educational or journalistic activity, humanitarian work and athletic or other competitions etc. then you cannot travel to Cuba! You could argue that your visit falls under one of the above categories but then you may be asked to show solid evidence to back the purpose of your trip!
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/Koo5AAW3SaCToMdxVOjA" alt="Ford Hairline an American vintage car as a taxi in Cuba">
                <strong>Ford Hairline an American vintage car as a taxi in Cuba</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>What my local cousin Anna told me:</strong>    
                <br>
                Clearly this was not good as my travel plans to Cuba did not fall under any of the authorized categories and I began to dig deeper and see if there was another way around this. That’s when I contacted Ana, a local who lives in Havana and runs a casa particular (Cuban version of Airbnb). Ana had been receiving guests for decades from all over the world. Naturally, all her visitors tell her their stories of how they got in to Cuba and their experience coming in and out of the country.
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/nOKzqLRR3b6eECka7Mow" alt="Street art depicting colonial life in Havana">
                <strong>Street art depicting colonial life in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                After exchanging a few emails with Ana, I decided to fly to Cancun in Mexico first and then proceed to fly from Cancun to Cuba. This way I’m was not taking a direct flight to Cuba from the United States and I don’t have to demonstrate that the purpose of my trip to Cuba was for one of the categories specified by the United States. So I bought a return non-stop return ticket on Interjet from JFK to Cancun and bought a return ticket on Interjet from Cancun to Havana (1 hour flight)
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/GsuCrHkUQ2GuG86FtjnK" alt="Cuban Tourist Visa">
                <strong>Cuban Tourist Visa</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                I purchased the Cuban tourist visa (valid for 30 days) for US$12 at Cancun Airport from Interjet’s office. Beware of hustlers at Cancun airport who will claim they can get you a Cuban visa faster and without any hassles. I’m not sure if the visa they issue is the same but I refused to check it out especially when I heard that they were over-charging compared to what the Interjet ticketing office rep quoted me. I just had to show my passport and return ticket to Mexico and they didn’t ask me anything about my reasons for traveling to the Island. I had the visa in less than 15 minutes and was on my way to Havana. This was way too easy!
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/mLN4C9hRwaUn4nv41jsS" alt="View of Morro Castle from Malecon, Havana">
                <strong>View of Morro Castle from Malecon, Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>My top tips before you go to Cuba:</strong>
                Most places in Cuba (except the major hotels) do not accept credit cards so be prepared to carry US$, Euros or Pounds. Your best bet is to exchange your currency at Havana airport as I noticed the lines outside banks in the city were pretty damn long. Now Cuba is an exception, it has two currencies! The local currency or the Cuban Peso (CUP) which used by the locals and then a second currency, Convertible Peso or CUC (pronounced as kook) which is what you and I as a visitor should exchange and will transact in when in Cuba. The CUC is stronger than the dollar (don’t ask me why) so 1CUC = $0.80 to $0.87 (yup, Cuba is a bit expensive). Fortunately, for me I did not have to worry about exchange rates and standing in bank lines, as Ana was visiting Florida next year and needed US$.
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/0Vf4YVldSGCYluOFxPqQ" alt="People squatting for Wi-fi / Internet in public places in Havana">
                <strong>People squatting for Wi-fi / Internet in public places in Havana</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Internet is a luxury in Cuba, you’ll see people gathered outside public places like parks, hotels etc. busy staring at their gadgets. This is a sign that the Wi-Fi signal is strong in that location. I personally did not miss being online except for the usual update to friends and family that I’m alive. If you’re not like me and are an Instagram or Snapchat addict then you can buy a one hour ETECSA Internet card for 2 or 3 CUCs. These are sold at convenience stores or from a local in areas where the Wi-Fi is strong. You’ll get thrown off-line several times so be patient.
            </p>
            <div class="space20"></div> 

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/PZ43S8HwQUS8AdGFep0h" alt="Tobacco plantation in Vinales Valley, Cuba">
                <strong>Tobacco plantation in Vinales Valley, Cuba</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Carry a stash of your favorite snacks, candy, chocolate, medications, cigarettes etc. that you can’t live without as the Island does not have some the items that you would get in most convenience stores in the US or Europe.
            </p>
            <div class="space20"></div> 

            <p align="justify">
                Alcohol is cheap so don’t bother picking up any from duty free.
            </p>
            <div class="space20"></div> 

            <p align="justify">
                If you don’t know any Espanol then get a book that will help you translate the basics as most people in Cuba I came across did not speak English.
            </p>
            <div class="space20"></div> 

            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/X5OXCc6O1-8" frameborder="0" allowfullscreen></iframe>
                <strong>Malecon at sunset from Nacional de Cuba Hotel</strong>
            </div>
            <div class="space20"></div> 

            <p align="justify">
                You can book an Airbnb and you can also search for ‘casa particulars’ which is Cuba’s version of Airbnb. I would recommend you book a casa where the owners speak English. My casa owner and his son did not speak a word of English, which was good and bad. Good because I picked up a few words of Spanish and bad because they asked me if I wanted breakfast the next morning but I thought they were asking me if I was hungry and I said no as I had just eaten dinner! Epic lost in translation episodes! Besides that, my casa and its owners were excellent hosts and my room was clean and spacious. 
            </p>

            <div class="space20"></div> 
            <p align="justify">
                <strong>Next on our blog: A four day action packed itinerary for Cuba.</strong>
            </p>


            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/travelling-to-cuba-from-us'
                           data-picture='https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa'
                           data-source='https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa'
                           data-caption="Traveling to Cuba from the United States? This is how you do it."
                           data-description="How to travel to Cuba if you're an American citizen or live in the United States and do not want to go in an organized tour. Your guide to a hassle free entry in to the country and our top tips before you go to Cuba.">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/travelling-to-cuba-from-us'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Traveling to Cuba from the United States? This is how you do it.'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong>Click below to contact Kunal if you have any questions about planning your trip to Cuba.</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/27545058-f683-41d9-9eaf-90bffe1739c2" class="call-to-action-button btn btn-lg">Ask Kunal</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                <strong>Kunal Jain </strong> - Kunal’s deep love for travel led to him to create Your Local Cousin. He has worked, lived and studied in seven cities across three continents and as a result he can bust out his German while drinking craft beer in NYC, find the best street food in Singapore, track elephants in the jungles of South India and drive through the insane traffic in Agra, his hometown.
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/travelling-to-cuba-from-us" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
