<div class="container">

    <div class="row">
        <div class="col-md-8 space20"><!-- Content-->
            <h2 class="fmob">
                Why your next trek should be to Leh, Ladakh (India)
            </h2>
            <br>
            <!-- Some image here -->
            <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC" alt="Why your next trek should be to Leh, Ladakh (India)">
            <div class="space20"></div>

            <div class="space10"></div>

            <div class="space20">

            </div>
            <p align="justify">Abhishek &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;Posted on 5th December, 2016

            </p>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/why-your-next-trek-should-be-leh'
                           data-picture='https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC'
                           data-source='https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC'
                           data-caption="Why your next trek should be to Leh, Ladakh (India)"
                           data-description='For those interested in trekking, there are a number of good and challenging treks out there from the Markha Valley trek or the even more challenging Zanskar trek.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/why-your-next-trek-should-be-leh'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Why your next trek should be to Leh, Ladakh (India)'>
                        </a>
                    </li>

                    </ul>
            </div>
            <div class="space10">

            </div>
            <p align="justify">
                Leh, Ladakh is one of the most scenic and photogenic places in India especially so after the region was showcased in the extremely popular Bollywood movie – 3 Idiots in 2009.  Leh was the ancient capital of Ladakh and now in the state of Jammu and Kashmir in India.  Leh has several heritage sites and monasteries and is mainly dominated by Buddhism.  The best time to visit Leh is between April to September. I have myself visited Leh four times. It is not only a place where people go for treks and expeditions but also a great place for sightseeing and interacting with locals.  
            </p>
            
            <div class="space20"></div>
            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/wQvSgejRNWFjD02HnxgX" alt="Lamayuru Monastery">
                <strong>Lamayuru Monastery</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                One word of advice when visiting Leh is to rest on the day of arrival since Leh is 3500m above sea level.  You can get high altitude sickness so it is best to acclimatize slowly at this altitude before starting your trek.
            </p>

            <!-- embeded video from youtube -->
            <div class="space20"></div>
            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/AK-MUzWdpjU" frameborder="0" allowfullscreen></iframe>
                Credits: Reels and Frames
            </div>


            <!-- First item -->
            <div class="space20"></div>            
            <p align="justify">
                <strong>Trekking in Ladakh</strong>    
                <br>
                For those interested in trekking, there are a number of good and challenging treks out there from the Markha Valley trek or the even more challenging Zanskar trek.  Some trails can be wild and remote while others such as the Markha trek have home-stays but there are several options of camping as well.  Markha trail is quite popular and one of the easier treks in Ladakh.  For the more adventurous people out there, you could climb a 6000m peak in Ladakh but again this should be combined with a trek.
            </p>
            <div class="space20"></div> 


            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/KRm0ilZbTXCTJa6yK3tw" alt="A river forming zig-zag patterns along the canyon in the Zanskar region of Ladakh">
                <strong>A river forming zig-zag patterns along the canyon in the Zanskar region of Ladakh</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                Some of the most popular and straightforward trekking peaks in Ladakh are Stok Kangri and Kang Yatse II but these should not be taken lightly because even though they are classed as entry level climbs, it can be quite a strenuous 12 to 16 hour round trip from the base-camp of these peaks which requires a high level of fitness.
            </p>
            <div class="space20"></div>

            <p align="justify">
                I myself have done a number of treks in Ladakh from the Markha trek with climb on Kang Yatse II to trekking in Zanskar region. Trekking in Zanskar was very challenging especially when on one of days we had to cross the river 21 times in freezing water. Days were long ranging from 6 to 9 hours. There were a few crazy narrow trails with a steep vertical drop down the gorge. This route in Zanskar is very wild and remote and there is a very small chance of seeing other trekkers unlike in Markha. We crossed around 18 high passes within 3 weeks.
            </p>
            <div class="space20"></div>


            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/dqja557uR7WYNfRk1yBN" alt="Me at the Summit of Dzo Jongo East">
                <strong>Me at the Summit of Dzo Jongo East</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                This year I did another camping trek in Markha for 32 days. Here we ascended 5 peaks in total, 4 peaks over 6000m and one peak below 6000m plus crossing of two high passes at around 5850m. Two of the climbs were technical and required use of ice axe, crampons, fixed rope as the last pitch was snow covered at an angle of approximately 40 degrees.
            </p>
            <div class="space20"></div>


            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/2qclSeNWRPaIvCyT3rR4" alt="Dzo Jongo East summit group photo">
                <strong>Dzo Jongo East summit group photo</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                One of the other challenges is booking your trek and although there are a number of trekking agencies in Leh only a few are reliable. Avoid booking with trekking agencies that offer climbs to Stok Kangri or similar peaks in 5 days or less.  This is not possible and will result in death unless you are completely acclimatized up to lets say 5500m.  When trekking the general rule is to ascend 300m a day and rest after every 1000m ascent. Contact me if you need details of trekking companies who I have personally used and can recommend you. These companies will take you along some really wild and remote trails. 
            </p>
            <div class="space20"></div>

            <p align="justify">
                Apart from trekking, you could do mountain biking and rafting. I myself have not done any mountain biking but one of the popular biking routes is from Manali to Leh via various 5000m passes.
            </p>
            <div class="space20"></div>



            <p align="justify">
                <strong>Where to visit?</strong>    
                <br>
                For those not indulging in adventure activities, you can visit the various monasteries around Leh.  The most popular ones to visit are Lamayuru, Hemis and Thiksey monasteries.  Hemis and Thiksey are near to Shey and both can be visited in a day while Lamayuru is a 4 hour drive from Leh and will require an overnight stay. Other places of interest is Pangong Lake near the Chinese line of control.  Permits will be required to visit Pangong except for Indian Nationals but again consult with the hotel or driver as rules keep changing.  Nubra Valley via Khardungla Pass is also an interesting place to visit while in Leh.
            </p>
            <div class="space20"></div>


            <!-- embeded video from youtube -->
            <div align="center">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/GG1vNTelJGc" frameborder="0" allowfullscreen></iframe>
                Credits: Pramod Kaushik
            </div>
            <div class="space20"></div>

            <p align="justify">
                The Khardungla is a high motorable pass at around 5359m.  The locals claim it to be the highest motorable pass in the world but this is not true.  Nubra is around 150km away from Leh and is quite scenic due to its surrounding mountains, sand dunes and if you’re lucky you may also see camels in this high altitude cold desert.
            </p>
            <div class="space20"></div>

            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/imZIsxWBSWGFsw3H5N0u" alt="On the way to Nimaling on top of a high pass">
                <strong>On the way to Nimaling on top of a high pass</strong>
            </div>
            <div class="space20"></div>



            <p align="justify">
                <strong>Where to stay?</strong>    
                <br>
                There are a number of hotels and home-stays in Leh catering to tourists and travellers alike from those on a budget to ‘glamping’ or luxurious travelers. Contact me if you are looking for accommodation specifically if you’re in search of peace and quiet away from the main tourist crowd and traffic. Over time I have stayed at several local guesthouses and also motels owned by locals who are friendly and provide a great level of hospitality at a budget price.  If one does not mind the crowd then there is a nice hotel in the Changspa area of Leh however it is quite pricey.  The views from this hotel are great so paying a bit extra is worth it apart from getting great service.
            </p>
            <div class="space20"></div>


            <!-- some image needs to go here -->
            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/2talK5zTEj2YtqQovRBQ" alt="A confluence or meeting point of the Indus and Zanskar rivers at Nimmo, Ladakh. The Indus river is the green stream and the Zanskar is the blue stream.">
                <strong>A confluence or meeting point of the Indus and Zanskar rivers at Nimmo, Ladakh. The Indus river is the green stream and the Zanskar is the blue stream.</strong>
            </div>
            <div class="space20"></div>

            <p align="justify">
                <strong>What to eat in Leh?</strong>    
                <br>
                There are a number of coffee shops and restaurants that cater to Western tourists serving pizzas and pastas, Israeli cuisine, burgers and so on.  Then there are those eating spots that cater to locals or those on a budget and are equally good minus the wifi.  Il Forno is a nice place for not only for Indian food but also oven-baked pizzas.  While in Ladakh you should also try the Godfather beer, which is quite strong.
            </p>
            <div class="space20"></div>


            <div align="center">
                <img class="img-responsive blog-img" src="https://www.filepicker.io/api/file/ErzbbVVJSEuKoQvQ8r6K" alt="View of the mountains from Lamayuru Monastery">
                <strong>View of the mountains from Lamayuru Monastery</strong>
            </div>
            <div class="space20"></div>



            <p align="justify">
                <strong>Shopping in Leh</strong>    
                <br>
                Leh has a number of shops selling books, groceries, electronics, local handicrafts etc.  When purchasing handicrafts, try to negotiate as best as you can because the prices are generally exaggerated.  For anyone wanting to invest in traditional Ladakhi fashion, you can shop at <a href="http://jigmatcouture.com/">Jigmat Couture </a> as they design custom quality clothing for the luxury market.
            </p>
            <div class="space20"></div>



            <br>
            <div class="social1">
                <ul>
                    <li>
                        <a facebook-feed-share
                           class="facebookShare"
                           data-url='https://www.yourlocalcousin.com/blog/why-your-next-trek-should-be-leh'
                           data-picture='https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC'
                           data-source='https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC'
                           data-caption="Why your next trek should be to Leh, Ladakh (India)"
                           data-description='For those interested in trekking, there are a number of good and challenging treks out there from the Markha Valley trek or the even more challenging Zanskar trek.'>
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a twitter
                           data-lang="en"
                           data-count='horizontal'
                           data-url='https://www.yourlocalcousin.com/blog/why-your-next-trek-should-be-leh'
                           data-via='yourlocalcousin'
                           data-size="medium"
                           data-text='Why your next trek should be to Leh, Ladakh (India)'>
                        </a>
                    </li>

                    </ul>
            </div>

            <div class="hr1 space50"> </div>
            <br>
            <p align="justify"><span style="font-size:18px"><strong> Click below if you would like Abhishek to help you plan your trip.</strong> </span>
            </p>
            <br>
            <div class="cta-wrapper">
                <a href="https://www.yourlocalcousin.com/search/8JfVO2l2gqatFTcwUcGFkqyKyi13" class="call-to-action-button btn btn-lg">Ask Abhishek</a>
            </div>
            <div class="hr1 space20"> </div>
            <br>
            <h3 class="fmob-sub">About The Author </h3>
            <br>

            <p align="justify">
                Abhishek enjoys the outdoors and is passionate about trekking and climbing in the Himalayas and is also a keen photographer. He has visited Ladakh a number of times and can give advice and suggestions on how to make your stay a memorable one. He currently resides in England and is planning to relocate to India where he will be running photography workshops and trips across different parts of India
            </p>

            <div class="hr1">

            </div>
            <br>

            <div class="fb-comments" data-width="100%" data-mobile="100%"  data-href="https://www.yourlocalcousin.com/blog/why-your-next-trek-should-be-leh" data-numposts="5"></div>

        </div><!-- END CONTENT-->
        <div class="space140 mspace">

        </div>

        <div class="col-md-4"><!-- Start Blog Sidebar-->
            <div class="social">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i>

                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i>

                        </a>
                    </li>

                    <li>
                        <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i>

                        </a>
                    </li>
                </ul>
            </div>
                    <!-- Right NAV Start-->
                    <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/GJMmsw5TBKC9ieezkn1Q" alt="" class="img-responsive space30"></a>
                    <div class="col-md-12 btop">
                        <div class="cousin-btn1 text-center">
                            <a ui-sref='blog.requirements'>
                                SUBMIT YOUR STORY
                            </a>
                        </div>
                    </div>
                    <div class="space95"></div>
                       <h3 class="fmob-sub">OUR OTHERS STORIES

                    </h3>
                    <div class="hr2">

                    </div><br>
            <div class="col-sm-12">
                <div class="row">
                    <a ui-sref="blog.mike"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/71eyik1RoawJF7H8A88U">
                        <h5 class="right-text">&nbsp;Mike and Regina making a living &nbsp;traveling the world

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.swede"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/BXeTGQIR5OX1rjiT1o58">
                        <h5 class="right-text">&nbsp;We Tested Sweden’s new travel &nbsp;initiative, Call a
                            Random Swede &nbsp;(The Swedish Number)

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.grant"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/KH0DwOHTwiSrxplvUC5B">
                        <h5 class="right-text">&nbsp;The Incredible Rachel Grant!

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.madrid"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/ThVnLtyMRGGRRdf3QpaR">
                        <h5 class="right-text">&nbsp;My Top Eight Bars in Madrid

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.panama"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Z4pNVTLOwisssilz0jwW">
                        <h5 class="right-text">&nbsp;Ecotourism & adventure in panama

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.vicki"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/rY8d1yYARjGGZh61w0bH">
                        <h5 class="right-text">&nbsp;An Amazing Morning in Brooklyn &nbsp;with the Fabulous Vicki Winters

                        </h5>
                    </a>
                </div>
                <hr>

                <div class="row">
                    <a ui-sref="blog.charleston"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/kb7AXbZESO205Ri6MgDN">
                        <h5 class="right-text">&nbsp;The Charleston - South Carolina &nbsp;Bucket List

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/e5WbzLfTDaR6AayMdArQ">
                        <h5 class="right-text">&nbsp;Three hours in Georgetown, D.C... &nbsp;like a local and then Some

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.top10thing"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/MVSQWYERZGPLevFnXp2d">
                        <h5 class="right-text">&nbsp;Top ten things to do in brooklyn only &nbsp;locals know about

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.foodporn"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/pT9pTsqlQJ6962G0HktY">
                        <h5 class="right-text">&nbsp;SEVEN #foodporn worthy eats in boston

                        </h5>
                    </a>
                </div>

                <hr>

                <!--<div class="row">
                    <a ui-sref="blog.ylc"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/YYj5YgaPQ8OiINBCmbED">
                        <h5 class="right-text">&nbsp;Your Local Cousin: INSIDER TIPS &nbsp;FOR TRAVELERS

                        </h5>
                    </a>
                </div>

                <hr>-->

                <div class="row">
                    <a ui-sref="blog.george"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/WuUNdBRWQtqdnmGm3mgl">
                        <h5 class="right-text">&nbsp;Beyond Barcelona : offbeat travel &nbsp;destinations

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.phnom"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/x3PeexlSsOBLImgiDrVu">
                        <h5 class="right-text">&nbsp;Phom Penh: the pearl of asia

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.brooklynbridge"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/LWN3av9jSVewB8XxEChF">
                        <h5 class="right-text">&nbsp;Beyond Times Square & The &nbsp;Brooklyn Bridge

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.kolkata"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/Zhv15E3xQD2oPnZxCnWL">
                        <h5 class="right-text">&nbsp;Local insights on why kolkata is &nbsp;india's most charming city!

                        </h5>
                    </a>
                </div>

                <hr>

                <div class="row">
                    <a ui-sref="blog.triund"><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/y9lLHpkAQhSBgq4D5KYy">
                        <h5 class="right-text">&nbsp;The most beautiful trek in india - &nbsp;triund himachal pradesh!

                        </h5>
                    </a>
                </div>

                <hr>


                <div class="row">
                    <a ui-sref='blog.dellybelly'><img class="img-responsive right-image" src="https://www.filepicker.io/api/file/tIEjGwgWQWyxL5UIfrF3">
                        <h5 class="right-text">&nbsp;Local Indian Street Food that wont &nbsp;give you a Delhi-Belly!

                        </h5>
                    </a>
                </div>
            </div>
        </div><!--END NAV BAR-->
    </div><!--row-->
</div><!--Main container-->
