<div class="space70"></div>

<section>
        <div class="featured-articles-wrapper clearfix">
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.bluecliffmonastery' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/KEt9VXIbTpm3iSG5FqfW">
                        <h3 class="blog-text">Peace & Mediation – a short drive from New York City!</h3>
                        <h5 class="lightgrayclr">12 January 2017</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.chambalriversafari' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/hJCQAZFTDycOOqkF5IPw">
                        <h3 class="blog-text">River safari in croc-infested waters!</h3>
                        <h5 class="lightgrayclr">26 December 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.fourdaysincuba' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/UoM9UptMRuKH8jxEn7Kz">
                        <h3 class="blog-text">Four days in Cuba</h3>
                        <h5 class="lightgrayclr">16 December 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.travellingcuba' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/dbxX0HuARIS7oLjutMUa">
                        <h3 class="blog-text">Traveling to Cuba from the United States? This is how you do it.</h3>
                        <h5 class="lightgrayclr">13 December 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.trekhimalaya' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/FbZaKnVSoKquSRcN7ulC">
                        <h3 class="blog-text">Why your next trek should be Leh, Ladakh - India</h3>
                        <h5 class="lightgrayclr">5 December 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.offbeatcentral' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/ExMEYVLSQKto6xQv1dgg">
                        <h3 class="blog-text">10 Off Beat Places to Visit in Central America</h3>
                        <h5 class="lightgrayclr">2 December 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.tragichistories' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/qGOrjjwBTniOgUoEnTAr">
                        <h3 class="blog-text">The Tragic Histories of Nice</h3>
                        <h5 class="lightgrayclr">26 October 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.mexicostequila' class="blog-text1">
                        <!--<img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/svLYiTRxQv6Hz5iDWvyU">-->
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/1T18XNH1QmKHoCx5KUKJ">
                        <h3 class="blog-text">Mexico’s Tequila Trail - The Best Way To See Tequila Country</h3>
                        <h5 class="lightgrayclr">23 October 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.emilyblog' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/1tM9MWr2QEesvJxNdN10">
                        <h3 class="blog-text">My Experience using Your Local Cousin while traveling to Edinburgh, Scotland</h3>
                        <h5 class="lightgrayclr">18 October 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.scottishhighlands' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/5LUQaF1fRxqsIKxPYgV6">
                        <h3 class="blog-text">Inside the Scottish Highland Games – A wonderful Highland Gathering Tradition</h3>
                        <h5 class="lightgrayclr">20 September 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.pokemon' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/sGnZyN1mSCqbYZdw0UCd">
                        <h3 class="blog-text">Pokémon GO Guide – The Best Places to catch Pokemon in Delhi</h3>
                        <h5 class="lightgrayclr">7 September 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.oakland' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/zQebFNjTRr6QAgVDzQ4x">
                        <h3 class="blog-text">Traveling to the Bay Area? Oakland is the “Cool Kid” Everyone Wants to Eat With</h3>
                        <h5 class="lightgrayclr">15 August 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob">
                <div class="blog-border">
                    <a ui-sref='blog.rachelgrant' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/i2bIHr7pShaTYFgTkvbS">
                        <h3 class="blog-text">Suitcase challenge: I Tried Packing 130 Items Into a Carry On Suitcase Just Like Rachel Grant...</h3>

                        <h5 class="lightgrayclr">11 August 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob-2">
                <div class="blog-border">
                    <a ui-sref='blog.turkish' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/t2C9XCSiSXKWdv1VjMgQ">
                        <h3 class="blog-text">Turkish delight, Turkish tea, Turkish kebap and Turkish Coup d'etat (for dessert)</h3>

                        <h5 class="lightgrayclr">25 July 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob-3">
                <div class="blog-border">
                    <a ui-sref='blog.heyley' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/UaklRqEXTxuiShwh6gyl" alt="">
                        <h3 class="blog-text">Lecturer, PhD, Cabin Crew, Blogger and a Traveler – Meet Hayley</h3>

                        <h5 class="lightgrayclr">22 June 2016</h5>
                    </a>
                </div>
            </div>
            <div class="featured-article portfolio-item-mob-4">
                <div class="blog-border">
                    <a ui-sref='blog.corsica' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/NTeYC0VTJ2fmofLfsJrw">
                        <h3 class="blog-text">The Beauty of Corsica</h3>
                    </a>
                    <h5 class="lightgrayclr">21 May 2016</h5>
                </div>
            </div>


        </div>
    <!----------------------- For Desktop---------------------->
    <div class="top-img">
        <div class="social">
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i></a>
                </li>

                <li>
                    <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i></a>
                </li>

                <li>
                    <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i></a>
                </li>

                <li>
                    <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i></a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i></a>
                </li>

                <li>
                    <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i></a>
                </li>
            </ul>
        </div>
        <!---------------------------------End For Desktop------------------------------->
        <div class="space20"></div>
        <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/heKa6JwcSlKujWKGWnBq" class="img-responsive">
        </a>
    </div>
    </section>

<div class="space70"></div>

<section><!-- blog-menu start -->

    <div class="blog-menu-bg padding15">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="blog-menu text-center">
                        <ul class="list-inline">

                            <li>
                                <a href="#"class="text-center fsize25 orangeclr3">MORE STORIES</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog-menu end -->
<div class="space70"></div>
<section><!-- blog- image start -->
    <div class="container">
        <div class="row">
            <!--------------------------------- For Mobile------------------------------->
            <div class="col-md-4 img-mob text-center space20">
                <div class="social">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li>
                            <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter"></i></a>
                        </li>

                        <li>
                            <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram"></i></a>
                        </li>

                        <li>
                            <a href="https://uk.pinterest.com/yourlocalcousin/"><i class="fa fa-pinterest-p"></i></a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/company/your-local-cousin"><i class="fa fa-linkedin"></i></a>
                        </li>

                        <li>
                            <a href="http://yourlocalcousin.tumblr.com/"><i class="fa fa-tumblr-square"></i></a>
                        </li>
                    </ul>
                </div>
                <!---------------------------------End For Mobile------------------------------->
                <div class="space20"></div>
                <a ui-sref='blog.requirements'><img src="https://www.filepicker.io/api/file/heKa6JwcSlKujWKGWnBq" class="img-responsive">
            </div>
            <div class="space30"></div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.eatthisnow' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/sXwicEXJSRm2tS8Iuy8w" alt="">
                        <h3 class="blog-text">Eat This Now!</h3>

                        <h5 class="lightgrayclr">19 May 2016</h5>
                    </a>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.starbucks' class="blog-text1">
                        <img class="img-responsive" width="100%" src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/pdM6QtI5QNqVvh6xFUMe" alt="">
                        <h3 class="blog-text">Beyond Starbucks: discovering the Magnificent Mile as a college student</h3>

                    </a>
                    <h5 class="lightgrayclr">28 April 2016</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.mike'>
                         <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/ScUNfhC3QyiwLLAZuMLw" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">Mike and Regina making a living traveling the world</h3>
                    </a>
                    <h5 class="lightgrayclr">27 April 2016</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.swede'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/pzCVstwQzS5MhYsWustg" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">Call A Random Swede</h3>
                    </a>
                    <h5 class="lightgrayclr">12 April 2016</h5>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.grant'>
                    <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/UPebKtTET3aa3m8XAEFx" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">The Incredible Rachel Grant!</h3>
                    </a>
                    <h5 class="lightgrayclr">17 March 2016</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.madrid'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/lxzgQaMuRmGAQGrGhz0E" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">My Top Eight Bars in Madrid</h3>
                    </a>
                    <h5 class="lightgrayclr">17 February 2016</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.panama'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/XK1POcTNmCOKTmHoULQw" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">Bocas Del Toro - Ecotourism & adventure in Panama</h3>
                    </a>
                    <h5 class="lightgrayclr">18 June 2015</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.vicki'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/c4Cp9OSR1iIOt0e8TO1t"  alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">An Amazing Morning in Brooklyn with the Fabulous Vicki Winters</h3>
                    </a>
                    <h5 class="lightgrayclr">23 March 2016</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.charleston'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/lGelNORPRmSGs2pT8gSL"  alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">The Charleston - South Carolina Bucket List</h3>
                    </a>
                    <h5 class="lightgrayclr">26 August 2015</h5>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.george'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/JRAHYagTS9ykDpGkQp5W" alt="blog-img10" width="100%" class="img-responsive">
                        <h3 class="blog-text">Three hours in Georgetown, D.C. like a local . . . and then some</h3>
                    </a>
                    <h5 class="lightgrayclr">26 August 2015</h5>
                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.top10thing'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/dyoHn4gRT3GzvgyI6ULq" alt="blog-img9" width="100%" class="img-responsive">
                        <h3 class="blog-text">Top 10 Things to Do in Brooklyn That Only Locals Know About</h3>
                    </a>
                    <h5 class="lightgrayclr">13 August 2015</h5>

                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.foodporn'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/SfuGDZWtRqWtRk07wnlD" alt="blog-img_8" width="100%" class="img-responsive">
                        <h3 class="blog-text">SEVEN #foodporn worthy eats in boston</h3>
                    </a>
                    <h5 class="lightgrayclr">31 July 2015</h5>
                    <p></p>
                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.ylc'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/p5CDouoqSHmwWrKqV3ZV" alt="blog-img7" width="100%" class="img-responsive">
                        <h3 class="blog-text">Your Local Cousin: Insider Tips for Travelers</h3>
                    </a>
                    <h5 class="lightgrayclr">31 July 2015</h5>

                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.phnom'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/sTsN0QjujPgqFCqMlIA9" alt="blog-img6" width="100%" class="img-responsive">
                        <h3 class="blog-text">Phnom Penh: the pearl of asia </h3>
                    </a>
                    <h5 class="lightgrayclr">25 July 2015</h5>

                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.barcelona'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/Iqgob7vsR96ufi63yOUW" alt="blog-img5" width="100%" class="img-responsive">
                        <h3 class="blog-text">Beyond Barcelona: Offbeat travel destinations</h3>
                    </a>
                    <h5 class="lightgrayclr">19 July 2015</h5>

                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.brooklynbridge'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/vdt6apUiRiKLut09engn" alt="blog-img4" width="100%" class="img-responsive">
                        <h3 class="blog-text">Beyond Times Square & The Brooklyn Bridge: Welcome to NYC !</h3>
                    </a>
                    <h5 class="lightgrayclr">5 July 2015</h5>

                </div>
            </div>

            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.kolkata'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/x0dsi8YBTiuOTzQxh70d" alt="blog-img3" width="100%" class="img-responsive">
                        <h3 class="blog-text">Local insights on why kolkata is india's most charming city</h3>
                    </a>
                    <h5 class="lightgrayclr">25 May 2015</h5>

                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.triund'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/XNatYr7fTdm6AXzHEzJ9" alt="blog-img2" width="100%" class="img-responsive">
                        <h3 class="blog-text">The most beautiful trek in india - triund, himachal pradesh</h3>
                    </a>
                    <h5 class="lightgrayclr">18 May 2015</h5>

                </div>
            </div>
            <div class="col-md-4 portfolio-item">
                <div class="blog-contain">
                    <a ui-sref='blog.dellybelly'>
                        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:360,height:200,fit:crop,align:faces/https://www.filepicker.io/api/file/6r6PSK8VQ0iKKuxw2j2t" alt="blog-img1" width="100%" class="img-responsive">
                        <h3 class="blog-text">Local Indian Street Food that wont give you a Delhi-Belly!</h3>
                    </a>
                    <h5 class="lightgrayclr">17 May 2015</h5>

                </div>
            </div>
        </div>
    </div>
</section><!-- blog image end -->
