
<div class="space80"></div>
<section class="congrates">
    <!--<div class="container">-->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="answer-form thanksbox text-center"><!-- start answer form -->
                    <div class="complete-check">
                        <img src="https://www.filepicker.io/api/file/7hmq1hh6Tge9IdyLVx1I" class="img-responsive mautomargin" width="150" alt="">
                    </div>

                    <div class="thaks">
                        <h3 class="darkgreyclr ">
                            Thank you!
                        </h3>

                        <h4 class="darkgreyclr">{{heading}}</h4>
                        <h4>{{subheading}}</h4>
                    </div>
                    <div class="space40"></div>

                    <div class="text-center">
                        <a ng-click="continue()" class="blockbtn ">
                            CONTINUE TO CHAT WITH LOCAL
                        </a>
                    </div>

                    <div class="space40"></div>

                </div><!-- end answer form -->

            </div>
            <div class="col-md-2"></div>
        </div>
        <!--<div class="col-md-2 col-sm-1"></div>-->
    <!--</div>-->
</section>


<!--<section class="congrates">-->
    <!--<span us-spinner spinner-key="spinner-1"></span>-->
    <!--<div class="modal-header">-->
        <!--<div class="complete-check">-->
            <!--<img src="https://www.filepicker.io/api/file/7hmq1hh6Tge9IdyLVx1I" class="img-responsive mautomargin" width="150" alt="">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-body space10">-->
        <!--<div class="thaks">-->
            <!--<h3 class="darkgreyclr ">-->
                <!--Thank you!-->
            <!--</h3>-->
            <!--<h4 class="darkgreyclr">Your payment was successful</h4>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer text-center">-->
        <!--<button class="btn blockbtn" ng-click="$close(result)" type="submit">CONTINUE</button>-->
<!--&lt;!&ndash;-->
        <!--<div class="text-center">-->
            <!--<a ui-sref="dashboard.view" class="blockbtn ">-->
                <!--CONTINUE-->
            <!--</a>-->
        <!--</div>-->
 <!--&ndash;&gt;-->
        <!--&lt;!&ndash; <input type="submit" value="Pay ${{total}}"> &ndash;&gt;-->
        <!--&lt;!&ndash; <button class="btn blockbtn" type="submit">Pay ${{total}}</button> &ndash;&gt;-->
    <!--</div>-->
<!--</section>-->

