<div class="space20"></div>
<ul>
    <li>1. Easy and free set up. There are no set up fees - it's free to join our affiliate program. Also once you register via <a href="https://www.yourlocalcousin/affiliates">https://www.yourlocalcousin/affiliates</a> we will automatically send you the link and coding information to be added to your site. Once this is added, we can start the tracking, and you can start earning commission.</li>
    <div class="space10"></div>
    <li>2. Value-add service: Everyone travels, now more than ever. People are spending more money on travel than any other form of entertainment but because of information overload online makes it time-consuming and a tedious process. Your Local Cousin offers personalized travel advice from actual locals who understand your travel style and interests. They do all the research and homework so you can sit back, relax and enjoy your vacation.</li>
    <div class="space10"></div>
    <li>3. We offer a commission rate of 10% on all bookings. To see our current pricing. <a href="https://www.yourlocalcousin.com/pricing">Click here</a>. Of this amount, 70% is paid to the 'Local Cousin' for their time and insights, 20% we keep and 10% goes to you for referring travelers to us.</li>
    <div class="space10"></div>
    <li>4. Monthly payments - we pay on a monthly basis, for a minimum US$50 commission. If you have not reached US$50 within the month we will roll over the commission until you have reached US$50.</li>
    <div class="space10"></div>
    <li>5. Customisation - for certain affiliates, based upon the projected volume of bookings, we are able to provide customisation of the various affiliate options in order to best suit your site.</li>
    <div class="space10"></div>
    <li>6. Easy, up-to-date reporting to track your bookings and commissions through Google analytics.</li>
    <div class="space10"></div>
    <li>7. Customize how much and what you display. Offer as much or as little of our services as you wish.</li>
</ul>