<div class="space20"></div>
<p>When you link your site to <a href="http://www.yourlocalcousin.com">www.yourlocalcousin.com</a> you can earn commission when any users from your site book any interactions with Local Cousins on Your Local Cousins website. We pay a 10% commission for every confirmed and paid booking. We offer the below options under our affiliate program:</p>

<div class="space20"></div>
<ol>
    <li>1. Banner/link placed somewhere on your site which then directs traffic of people who place an order for customized travel advice from a Local Cousin through our site, with a 10% commission to the affiliate for all confirmed and paid bookings.</li>
    <div class="space5"></div>
    <li>2. Online travel agencies (OTA), travel insurance companies or companies selling travel products - it's possible to use our API which will give you access to our Local Cousins. You develop your own front-end under your own branding.</li>
    <div class="space5"></div>
    <li>3. Develop and maintain a widget for you which will be displayed on your website in your own branding. We provide you the option to either display all of our Local Cousins or those targeted towards specific destinations or category of locals. For example, you can display only those Local Cousins living in Europe who specialize in giving advice on family travel.</li>
    <div class="space5"></div>
    <li>4. In order to become an affiliate complete the form below. We will then send you a customized URL along with other material which you can use for becoming an affiliate</li>
</ol>

<div class="space20"></div>
<p>Our target market is basically any traveller (or even residents) who is in the process of planning a business or leisure trip, major event, celebrating a special occasion or relocating to another city or country. They are keen to get the advice of a local who can help provide an immersive travel experience.</p>