<div class="space20"></div>
<p>Your Local Cousin encourages travelers to delve deep in to the life and soul of their destination rather than only the top 10 major attractions. We want travelers to discover the world through the eyes of locals and visit the unique hidden gems that are often missed by review sites and travel forums.</p>

<div class="space20"></div>
<ul>
	<li>Shared Values: We are here to form win-win partnerships and wish to work with organisations and individuals sharing and promoting a common philosophy of traveling and living like a local.</li>
	<div class="space5"></div>
	<li>Same Demographics: We are marketing to the independent and small groups traveller market, with an emphasis on those travellers interested in getting off the beaten track. In short they want to "connect" with the people, culture and land in the country they are travelling to.</li>
</ul>