<div class="space20"></div>
<p>Travelers search the city they are visiting and then select from a number of Local Cousins that show up for that city. Travelers can filter and select like-minded locals based on their user ratings, travel style, interests, locals occupation and languages they speak as well as based on photos and videos on their profiles. For example, a single millennial traveler who enjoys winetasting and exploring street food could find a Local Cousin with similar interests. The goal is for you to find locals across the globe who love similar things you do and have them plan the perfect, hassle-free trip.</p>

<div class="space20"></div>
<p>Traveler then choose to contact locals from a number of communication options including:
    <ul>
        <li>Customized itineraries, depending on the length of stay ($25 - $60)</li>
        <div class="space5"></div>
        <li>30 minute conversation ($15)</li>
        <div class="space5"></div>
        <li>Text a local up to 20 questions ($15)</li>
        <div class="space5"></div>
        <li>Customized maps with up to 20 points of interest ($10)</li>
    </ul>
</p>

<div class="space20"></div>
<p>Local cousins get 70% of the above costs paid to their Paypal account. Once a traveler hires a local they fill out a form listing in detail their interests, travel companions, budget, dietary restrictions and how long they are traveling for etc. An internal chat system allows Local Cousins to ask follow-up questions and coordinate any communication. Travelers and Local Cousins decide the platform they wish to communicate on including WhatsApp, Skype, FaceTime etc., however we will be creating internal systems for all communication methods in the coming months. </p>

<div class="space20"></div>
<p>Travelers get unique insights from actual locals. For example, one of our clients, Alex, traveled to Florence and Milan with his family including his children ages 8 and 11. Alex was traveling on a budget, and wanted to take in the art, history and local culture. In addition, one of his children is allergic to nuts and eggs. The company connected Alex with Sarah, a Local Cousin and American expat living in Florence and who frequents Venice. In 30 minutes over Skype, Alex found out things like <em>Mama Florence</em> offers the best pasta making classes (including eggless pasta recipes), the Friends of the Uffizi card allows free admission to most Florence museums (it pays for itself after just 3 visits!), and gondola rides in Venice are true tourist traps skip them and learn how to row your own gondola at <em>Row Venice</em>.</p>
<p></p>