<section class="top-bar" ng-include="'core/views/navbar.tpl.html'"></section>
<!-- banner -->
<section>
    <div class="bannerabout">
        <img src="https://www.filepicker.io/api/file/Fx3hhUjsThyC8TYKyJoW" class="img-responsive" alt="about-bg_03" width="100%">
    </div>
</section>
<!-- banner -->
<!--about us -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about space50">
                    <h3 class="blackclr fsize30 text-center">About Us</h3>
                    <p class="blackclr fsize20 text-center  lheight25 lspace03 space30 about-font-mob">
                        Your Local Cousin helps you travel smarter by connecting you with vetted local experts who create
                        <br>
                        recommendations based on YOUR interests. Get tips on what the locals love to do and explore the
                        <br>
                        hidden gems they have discovered over the years.
                    </p>
                    <br>
                    <p class="blackclr fsize20 text-center lheight25">Skip the tourist traps, save money and live like a local.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space80"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="blackclr fsize30 text-center">Our Team</h3>
            </div>
        </div>

        <div class="row aboutbtm">

            <div class="space40"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-img">
                    <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:215,height:215,fit:crop,align:faces/https://www.filepicker.io/api/file/SWumnU0SKC0g8Nkwk2Pq" class="img-responsive" alt="about-circle_03">
                    <h3 class="orangeclr fsize16 text-center space20">Aarti Kanodia</h3>
                    <h3 class="blackclr fsize14 text-center">Co-founder</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-12">
                <p class="blackclr fsize16">Aarti’s two passions are food and travel and she has managed to turn both of them into businesses. This past January she was vacationing in Calcutta, India and after doing the things that locals love to do – eating street food, visiting the wholesale flower market at 6 am and drinking “chai-tea lattes” behind the Stock Exchange with the society crowd, she knew she wanted to help other travelers have the same localized experiences around the world. In her other life, Aarti owned and operated a Belgian themed waffle truck in Los Angeles after falling in love with the famous Liege waffles and pommes frites on the streets of Brussels. Aarti also spent several years on Wall Street and holds an MBA from UCLA Anderson and a BS in finance from NYU Stern. Next on Aarti’s bucket list is Thailand.</p>
            </div>
        </div>

        <hr>
        <div class="row aboutbtm">

            <div class="space50"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="about-img">
                    <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:215,height:215,fit:crop,align:faces/https://www.filepicker.io/api/file/5o5ITQBYSRqFGkqjuPoM" class="img-responsive" alt="about-circle_03">
                    <h3 class="orangeclr fsize16 text-center space20">Kunal Jain</h3>
                    <h3 class="blackclr fsize14 text-center">Co-founder</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-12">
                <p class="blackclr fsize16">Kunal’s deep love for travel led him to create Your Local Cousin. He has worked, lived and studied in seven cities across three continents and as a result he can bust out his German while drinking craft beer in NYC, find the best street food in Singapore, track elephants in the jungles of South India and drive through the insane traffic in Agra, his hometown. Kunal has a decade of risk management experience at the Big 4 and holds an MBA from S.P. Jain and a BS from University of Maryland. His favorite dish from all his travels is bee hoon fish soup because it is healthy, easy to make and delicious. Next on Kunal’s bucket list is to visit the biggest movement of life on the planet i.e. the wildebeest migration across East Africa and flamingos in Lake Natron, Tanzania.</p>
            </div>
        </div>


        <!--<div class="row aboutbtm">-->

            <!--<div class="space50"></div>-->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
                <!--<div class="about-img">-->
                    <!--<img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:215,height:215,fit:crop,align:faces/https://www.filepicker.io/api/file/LG0dYMD2Qxu8DdzcWH9e" class="img-responsive" alt="about-circle_03">-->
                    <!--<h3 class="orangeclr fsize16 text-center space20">TJ</h3>-->
                    <!--<h3 class="blackclr fsize14 text-center">Co-founder</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-8 col-xs-12">-->
                <!--<p align="justify" class="blackclr fsize14 text-left space20">TJ is an explorer and a builder and over the past several months he has been-->
                    <!--hard at work on Your Local Cousins’s new website!  When TJ isn’t coding he is-->
                    <!--exploring everything NYC has to offer - from hole in the wall places to fancy places, the locals frequent to tracking down the best and most unique ice cream-->
                    <!--flavors.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--https://www.filepicker.io/api/file/Ro2JCAc8Rxemw002XhXw/convert?crop=32,30,689,510-->
        <!--<div class="row aboutbtm">-->

            <!--<div class="space50"></div>-->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
                <!--<div class="about-img">-->
                    <!--<img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:215,height:215,fit:crop,align:faces/https://www.filepicker.io/api/file/fggLsnLhTYuH5oWIn9k0" class="img-responsive" alt="about-circle_03">-->
                    <!--<h3 class="orangeclr fsize16 text-center space20">TJ</h3>-->
                    <!--<h3 class="blackclr fsize14 text-center">Co-founder</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-6 col-sm-8 col-xs-12">-->
                <!--<p align="justify" class="blackclr fsize14 text-left space20">TJ is an explorer and a builder and over the past several months he has been-->
                    <!--hard at work on Your Local Cousins’s new website!  When TJ isn’t coding he is-->
                    <!--exploring everything NYC has to offer - from hole in the wall places to fancy places, the locals frequent to tracking down the best and most unique ice cream-->
                    <!--flavors.</p>-->
            <!--</div>-->
        <!--</div>-->

    </div>
</section>
<div class="space100"></div>
<footer class="text-center" ng-include="'core/views/footer.tpl.html'">
</footer>
