<section class="top-bar" ng-include="'core/views/navbar.tpl.html'"></section>
<div class="space40"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="f600 blackclr">
                    BECOME AN AFFILIATE
                </h1>
            </div>
            <div class="col-md-12 text-justify">
                <div class="space20"></div>
                <p>We offer you the chance to use direct links, banners, embedded links or white label affiliate options on your website. To become a Your Local Cousin affiliate, please click the link below and fill in the form. An email will be sent to you with details on how to get started. Click on the headings below for more information about participating in our program, or email us on <a href="mailto:affiliate@urbanadventures.com">info@yourlocalcousin.com</a></p>
                <div class="space20"></div>

                <uib-tabset active="active">
                    <uib-tab index="0" heading="About Us">
                        <div class="space20"></div>
                        <p>Three cousins founded Your Local Cousin (<a href="https://www.yourlocalcousin.com">https://www.yourlocalcousin.com</a>) the Airbnb for travel advice, which is part of the peer-to-peer on-demand sharing economy. We connect travelers who are looking for customized travel advice with vetted locals for conversations over text messaging and Skype / Facetime and customized itineraries and maps. We charge a fee from the traveler and Local Cousins keep 70% of this fee. In essence, Your Local Cousin adds the most human element to travel planning communicating with an actual person who understands your interests and travel style. We want travelers to discover the world through the eyes of locals and visit the unique hidden gems that are often missed by review sites and travel forums.</p>

                        <div class="space20"></div>
                        <p>We currently have Local Cousins in 110+ countries. About 90% of our users have asked Local Cousins for travel advice but the rest have asked for advice about college life, relocation and expat life. Hence, Your Local Cousin is a global network of locals with deep location-based expertise. </p>
                    </uib-tab>
                    <uib-tab index="1" heading="Our Service">
                        <div class="space20"></div>
                        <p>Travelers search the city they are visiting and then select from a number of Local Cousins that show up for that city. Travelers can filter and select like-minded locals based on their user ratings, travel style, interests, locals occupation and languages they speak as well as based on photos and videos on their profiles. For example, a single millennial traveler who enjoys winetasting and exploring street food could find a Local Cousin with similar interests. The goal is for you to find locals across the globe who love similar things you do and have them plan the perfect, hassle-free trip.</p>
                        
                        <div class="space20"></div>
                        <p>Traveler then choose to contact locals from a number of communication options including:
                            <ul>
                                <li>Customized itineraries, depending on the length of stay ($25 - $60)</li>
                                <div class="space5"></div>
                                <li>30 minute conversation ($15)</li>
                                <div class="space5"></div>
                                <li>Text a local up to 20 questions ($15)</li>
                                <div class="space5"></div>
                                <li>Customized maps with up to 20 points of interest ($10)</li>
                            </ul>
                        </p>
                        
                        <div class="space20"></div>
                        <p>Local cousins get 70% of the above costs paid to their Paypal account. Once a traveler hires a local they fill out a form listing in detail their interests, travel companions, budget, dietary restrictions and how long they are traveling for etc. An internal chat system allows Local Cousins to ask follow-up questions and coordinate any communication. Travelers and Local Cousins decide the platform they wish to communicate on including WhatsApp, Skype, FaceTime etc., however we will be creating internal systems for all communication methods in the coming months. </p>

                        <div class="space20"></div>
                        <p>Travelers get unique insights from actual locals. For example, one of our clients, Alex, traveled to Florence and Milan with his family including his children ages 8 and 11. Alex was traveling on a budget, and wanted to take in the art, history and local culture. In addition, one of his children is allergic to nuts and eggs. The company connected Alex with Sarah, a Local Cousin and American expat living in Florence and who frequents Venice. In 30 minutes over Skype, Alex found out things like <em>Mama Florence</em> offers the best pasta making classes (including eggless pasta recipes), the Friends of the Uffizi card allows free admission to most Florence museums (it pays for itself after just 3 visits!), and gondola rides in Venice are true tourist traps skip them and learn how to row your own gondola at <em>Row Venice</em>.</p>
                        <p></p>
                    </uib-tab>
                    <uib-tab index="2" heading="How does it works?">
                        <div class="space20"></div>
                        <p>When you link your site to <a href="http://www.yourlocalcousin.com">www.yourlocalcousin.com</a> you can earn commission when any users from your site book any interactions with Local Cousins on Your Local Cousins website. We pay a 10% commission for every confirmed and paid booking. We offer the below options under our affiliate program:</p>

                        <div class="space20"></div>
                        <ol>
                            <li>1. Banner/link placed somewhere on your site which then directs traffic of people who place an order for customized travel advice from a Local Cousin through our site, with a 10% commission to the affiliate for all confirmed and paid bookings.</li>
                            <div class="space5"></div>
                            <li>2. Online travel agencies (OTA), travel insurance companies or companies selling travel products - it's possible to use our API which will give you access to our Local Cousins. You develop your own front-end under your own branding.</li>
                            <div class="space5"></div>
                            <li>3. Develop and maintain a widget for you which will be displayed on your website in your own branding. We provide you the option to either display all of our Local Cousins or those targeted towards specific destinations or category of locals. For example, you can display only those Local Cousins living in Europe who specialize in giving advice on family travel.</li>
                            <div class="space5"></div>
                            <li>4. In order to become an affiliate complete the form below. We will then send you a customized URL along with other material which you can use for becoming an affiliate</li>
                        </ol>

                        <div class="space20"></div>
                        <p>Our target market is basically any traveller (or even residents) who is in the process of planning a business or leisure trip, major event, celebrating a special occasion or relocating to another city or country. They are keen to get the advice of a local who can help provide an immersive travel experience.</p>
                    </uib-tab>
                    <uib-tab index="3" heading="Benifits of being an affilate">
                        <div class="space20"></div>
                        <ul>
                            <li>1. Easy and free set up. There are no set up fees - it's free to join our affiliate program. Also once you register via <a href="https://www.yourlocalcousin/affiliates">https://www.yourlocalcousin/affiliates</a> we will automatically send you the link and coding information to be added to your site. Once this is added, we can start the tracking, and you can start earning commission.</li>
                            <div class="space10"></div>
                            <li>2. Value-add service: Everyone travels, now more than ever. People are spending more money on travel than any other form of entertainment but because of information overload online makes it time-consuming and a tedious process. Your Local Cousin offers personalized travel advice from actual locals who understand your travel style and interests. They do all the research and homework so you can sit back, relax and enjoy your vacation.</li>
                            <div class="space10"></div>
                            <li>3. Generous commission we offer an impressive commission rate of 10% on all bookings.</li>
                            <div class="space10"></div>
                            <li>4. Monthly payments - we pay on a monthly basis, for a minimum US$50 commission. If you have not reached US$50 within the month we will roll over the commission until you have reached US$50.</li>
                            <div class="space10"></div>
                            <li>5. Customisation - for certain affiliates, based upon the projected volume of bookings, we are able to provide customisation of the various affiliate options in order to best suit your site.</li>
                            <div class="space10"></div>
                            <li>6. Easy, up-to-date reporting to track your bookings and commissions through Google analytics.</li>
                            <div class="space10"></div>
                            <li>7. Customize how much and what you display. Offer as much or as little of our services as you wish.</li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="4" heading="Who is an ideal affilate?">
                        <div class="space20"></div>
                        <p>Your Local Cousin encourages travelers to delve deep in to the life and soul of their destination rather than only the top 10 major attractions. We want travelers to discover the world through the eyes of locals and visit the unique hidden gems that are often missed by review sites and travel forums.</p>

                        <div class="space20"></div>
                        <ul>
                            <li>Shared Values: We are here to form win-win partnerships and wish to work with organisations and individuals sharing and promoting a common philosophy of traveling and living like a local.</li>
                            <div class="space5"></div>
                            <li>Same Demographics: We are marketing to the independent and small groups traveller market, with an emphasis on those travellers interested in getting off the beaten track. In short they want to "connect" with the people, culture and land in the country they are travelling to.</li>
                        </ul>
                    </uib-tab>
                    <uib-tab index="5" heading="Terms and Condition">

                        <div class="space20"></div>
                        <p>This Agreement sets out the terms of the relationship between www.yourlocalcousin.com ("the Company") and the affiliate ("the Partner"). This Agreement permits the Partner to refer Internet users to the Company's website ("the Site(s)") through the Partner's site(s).</p>

                        <div class="space20"></div>
                        <p>The Company and the Partner agree that:</p>
                        <div class="space20"></div>
                        <ol>
                            <li>1. Background</li>
                            <div class="space20"></div>
                            <ol>
                                <li>1.1 The Partner is committed to promoting the Site(s) and/or the Product through online and/or offline methods to members of the public and companies who visit and make bookings on the Site(s) ("Customers") in accordance with the terms and conditions of this Agreement.</li>
                            </ol>
                        
                            <div class="space20"></div>
                            <li>2. Rights and obligations</li>
                            <div class="space20"></div>
                            <ol>
                                <li>2.1 Under the terms of this Agreement, the Partner will earn commissions in exchange for every booking made by a user of the Companys service on its Site(s) and in accordance with the Company guidelines.</li>
                                <li>2.2 The Company is obliged to offer its Products to the Partner at the same price as these Products are provided to Customers, and the Partner agrees to sell the Company's Products at the same rates. The Partner undertakes to not make any changes to any Site(s) content, unless specifically authorised in writing by the Company.</li>
                                <li>2.3 The Partner understands and accepts that this Agreement to the Site(s) is non-exclusive. The Company may, in its sole discretion, appoint one or more additional Partners with marketing rights in the same geographical region. The Company itself and the other Partners can also sell the same Products to Customers located anywhere in the world.</li>
                                <li>2.4 The Partner will not undertake any automatic lead-generation or browser redirection to any tracking URLs provided by the Company. The Partner accepts that the Company may run traffic audits to determine the booking conversion rates. The Company reserves the right to terminate the Agreement if the conversion rates are below a reasonable conversion rate.</li>
                                <li>2.5 The Partner will comply with all policies and procedures of the Company in relation to all its staff and partners, as communicated to the Partner and subject to change from time to time.</li>
                            </ol>

                            <div class="space20"></div>
                            <li>3. Distribution</li>
                            <div class="space20"></div>
                            <ol>
                                <li>3.1 The Partner agrees to accept the information contained on the Site(s), and undertakes to make no changes to the data, information, or graphics, including logos and trademarks, contained on or provided by the Site(s) ("Site Content"), except where it has been agreed in writing between the parties.</li>
                                <li>3.2 The Company will provide all the graphics and associated technical support required to assist the Partner's compliance with clause 2.1. The Partner has the option to make changes to the Site Content only to the extent authorised in writing by the Company.</li>
                                <li>3.3 The Company will provide reasonable technical assistance to the Partner throughout the term of the Agreement.</li>
                            </ol>

                            <div class="space20"></div>
                            <li>4. Liability</li>
                            <div class="space20"></div>
                            <ol>
                                <li>4.1 To the extent permitted at law, the Company excludes all express and implied conditions and warranties of the Site(s) or its performance, usability and/or functionality. All implied warranties of merchantability, fitness for a particular purpose, and non-infringement by the Company are explicitly excluded. In addition, the Company makes no representation or warranty that the operation of the Site(s) shall be carried out without interruption or error-free, and it is not responsible for the consequences to the Partner of any interruptions or errors.</li>
                                <li>4.2 The parties agree that any liability of one party to the other party for loss of revenue, loss of profits, loss of anticipated savings, pure economic loss, loss of data, loss of value of equipment, loss of opportunity or expectation loss and any other form of consequential, special, indirect, punitive or exemplary loss or damages suffered or incurred by the other party in connection with this Agreement is excluded.</li>
                                <li>4.3 The exclusion of liability in clause 4.2 does not apply to claims due to loss or damage caused by use of the Site(s) in violation of the terms of this Agreement or intellectual property breaches, personal injury or death or breaches of confidentiality.</li>
                                <li>4.4 The parties agree that any liability of that party to the other party for loss under or in connection with the Agreement is reduced to the extent that the other party's acts, omissions or equipment cause or contribute to that loss.</li>
                                <li>4.5 Subject to clauses 4.1 - 4.4 above, the Company's liability for loss suffered or incurred by the Partner in connection with this Agreement, whether based in contract, tort (including negligence), statute or otherwise, is limited in aggregate to the total amount of commission paid to the Partner in respect of confirmed bookings during the preceding 12 months prior to the occurrence of the event causing the loss.</li>
                                <li>4.6 The Company is solely responsible for the development, operation and maintenance of the of the Company's operating systems and the Site(s), the accuracy and relevance of communications with customers and ensuring that any materials published on the Site(s) of the Company are not defamatory or otherwise illegal.</li>
                                <li>4.7 The Partner indemnifies the Company against loss incurred by the Partner and related to the development, maintenance, operation and content of the Partner's website(s).</li>
                                <li>4.8 The Partner acknowledges that the Company does not have any control over the end users of the Partner's website(s) and indemnifies and will keep the Company indemnified for any loss suffered by the Company in connection with an end user claim, whether based in contract, tort (including negligence), statute or otherwise.</li>
                            </ol>
                            <div class="space20"></div>
                            <li>5. Communications</li>
                            <div class="space20"></div>
                            <ol>
                                <li>5.1 The Company is responsible for all matters relating to the booking procedure, and the Partner shall not engage in any correspondence or communications with the Customers in any way. Any correspondence received from Customers by the Partner in relation to the operations of the Company shall be forwarded immediately to the Company. All correspondence received from Customers by the Company in relation to the operations of the Partner shall be forwarded immediately to the Partner.</li>
                                <li>5.2 Neither the Company nor the Partner can create, publish, distribute, or permit any written material, which relates to or references the other party, without prior written consent, which shall not be unreasonably withheld or delayed. Neither party will make declarations or statements to the public or a third party with regards to the relationship between the parties or the transactions described in this agreement without the prior written consent of the other party, which shall not be unreasonably withheld or delayed.</li>
                            </ol>
                            <div class="space20"></div>
                            <li>6. Compensation</li>
                            <div class="space20"></div>
                            <ol>
                                <li>6.1 The Company agrees to pay commissions to the Partner as follows: (a) the agreed percentage (as detailed in the affiliate contract) of the total value of completed bookings generated by visitors referred by the Partner to the Site(s) ("Referrals"), exclusive of any service charges or local taxes.</li>
                                <li>6.2 All commission payments will be paid out to the Partner on a monthly basis in US Dollars (USD), within 30 days of the end of the previous calendar month. The Company will make payment in accordance with the payment method agreed with the Partner. The minimum threshold for monthly commission payments is USD50 for all currencies.</li>
                                <li>6.3 The Company will maintain a record of all transactions by Referrals. The Company provides the Partner, on request, reasonable access to the Company's reporting system to track the number of confirmed reservations for Referrals.</li>
                                <li>6.4 The Company will provide the option of repeat sales tracking and payment of commission for any bookings made by Referrals for a period of 6 months from the Referral's first visit to the Site(s), and to pay commission to the Partner as per Clause 5.1 (a). This must be done through an electronic cookie placed on the Customer's computer.</li>
                                <li>6.5 For commission to be properly monitored, the Partner shall ensure that the links between the Partner's website(s) and the Site(s) are the links provided by the Company. The Company shall not be responsible for lost commissions resulting from a failure by the Partner to use the appropriate links.</li>
                            </ol>
                            <div class="space20"></div>
                            <li>7. Confidentiality</li>
                            <div class="space20"></div>
                            <ol>
                                <li>7.1 The Site(s) is for the personal use of the Partner's Customers only. Any use of the Company's information obtained from the Site(s) for chain letters, junk mail, "spamming", solicitations (commercial or non-commercial) or bulk communications of any kind including but not limited to distribution lists is prohibited. If the Partner acts contrary to this agreement, the Company reserves the right to immediately terminate the contract without notice.</li>
                                <li>7.2 Each party agrees to keep the other party's Confidential Information confidential and to only disclose such Confidential Information to those of its employees, agents, contractors or advisers.</li>
                                <li>7.3 The obligations of confidentiality in clause 6.2 do not apply to the extent that disclosure is required by law or the listing rules of a stock exchange or pursuant to a direction of a government body.</li>
                            </ol>
                            <div class="space20"></div>
                            <li>8. Duration and Termination</li>
                            <div class="space20"></div>
                            <ol>
                                <li>8.1 The agreement shall commence on the date on the date of the last signature of this Agreement.</li>
                                <li>8.2 Both parties reserve the right to terminate the Agreement at any time, with due written notice of seven (7) days given to the other party.</li>
                                <li>8.3 Either party may terminate this Agreement with immediate effect by giving written notice to the other party if the other party:</li>
                                <div class="space20"></div>
                                <ol>
                                    <li>8.3.1 Breaches a material term of this Agreement and that breach is not capable of remedy or, if capable of remedy, is not remedied within 7 days after notice is given</li>
                                    <li>8.3.2 Any step has been taken to appoint a receiver, controller, liquidator, provisional liquidator, administrator or other person in whole or in part, of the other's assets or business(es).</li>
                                </ol>
                                <div class="space20"></div>
                                <li>8.4 In the event of termination for any reason other than breach by the Partner, any sum owed to the Partner, which is less than the minimum amount agreed upon in Clause 6.2, will be forfeited by the Partner. If the Agreement is terminated for breach by the Partner, no outstanding commission amounts, including those earned prior to termination, shall be payable by the Company.</li>
                                <li>8.5 In the event of termination for any reason, the Partner shall immediately cease using any Company logos, trade names or trademarks, links to the Site(s) and any licences granted under clause 9.2 of this Agreement shall cease.</li>
                            </ol>

                            <div class="space20"></div>
                            <li>9. Intellectual Property and use of marks</li>
                            <div class="space20"></div>
                            <ol>
                                <li>9.1 Each party has and retains all rights, title and interest of their names, logos, trademarks, service marks, copyrights, patents, and copyrights of their properties and technology. Neither party has the right to copy, distribute or use such intellectual property rights, unless it is expressly permitted under this agreement.</li>
                                <li>9.2 The Company grants the Partner, for the term of the Agreement, a worldwide, non-exclusive, non-transferrable, licence to provide access to the Site(s) to Customers using HTML links on the Partner's own website(s) and use any logos, trade names, trademarks provided by the Company solely for the display of such links and in accordance with any other restrictions of use communicated by the Company.</li>
                                <li>9.3 The Partner will not be permitted to undertake any advertising and/or marketing activities which could be misconstrued or misinterpreted as having come from the Company. These include (but are not limited to): using the trademark of the company, or any of its logos, or using the Company name(s) in search engine advertising without the Company's express written permission. Further, the Partner agrees not to represent that it is in any way affiliated with the Company other than is specifically set out in this Agreement.</li>
                                <li>9.4 The Partner agrees not to bid for keywords on search engines, which directly relate in any way to name(s) of the Company. These include (but are not limited): Your Local Cousin, Yourlocalcousin.com.</li>
                                <li>9.5 Any breach of this clause 8 shall be deemed to be a material breach of this Agreement and the Company shall have the right to immediate termination of this Agreement and pursue any remedies available to it at law.</li>
                            </ol>
                            <div class="space20"></div>
                            <li>10. General</li>
                            <div class="space20"></div>
                            <ol>
                                <li>10.1 This agreement establishes the understanding between the parties and supersedes all oral or written agreements or arrangements between the parties as to the specified purpose of this Agreement. This Agreement may be varied only by written agreement signed by both parties. Both sides are responsible for their own expenses and legal costs related to this agreement.</li>
                                <li>10.2 The Partner and the Company agree that the Partner is an independent contractor for all intents and purposes. Nothing in this Agreement shall constitute the Partner as the agent or legal representative of the Company for any purpose whatsoever, nor shall it be construed to create a partnership or joint venture between the parties. Neither party nor its personnel shall be deemed to be in the employment of the other, and each party is responsible for any withholding taxes, workers' compensation and all other issues relating to work and taxation.</li>
                                <li>10.3 This Agreement shall be governed in accordance with New York law.</li>
                                <li>10.4 This Agreement shall not be transferable by either party, except by operation of law, without the prior written consent of the other party, and any transfer without the written consent of the other party shall be deemed null and void.</li>
                                <li>10.5 Notices required under this Agreement must be in writing and delivered personally, by registered mail, by fax or email to the other party at that party's last known address.</li>
                                <li>10.6 A waiver by either party of a breach of any provision shall not be held to be a waiver of any subsequent breach.</li>
                                <li>10.7 Each party will be relieved of its obligations to the extent that it is unable to fulfil them as a result of circumstances beyond its reasonable control. If such an event occurs, the affected party must notify the other party as soon as reasonably possible.</li>
                            </ol>
                        </ol>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>

        <div class="space40"></div>
        <button ui-sref="affilate_apply" type="submit" class="blockbtn pull-right">
            APPLY
        </button>
    </div>
</section>
<div class="space50"></div>
<footer class="text-center" ng-include="'core/views/footer.tpl.html'">
</footer>
