<section modal="showModal">
<div class="modal-header">
    <h3 class="modal-title blackclr">
        Thank you for registering to advertise Your Local Cousin's services!
    </h3>
</div>
<div class="modal-body">
    <p>Thank you for registering as an affiliate with Your Local Cousin. You will receive an email shortly that will contain 'next steps'.
        Should you not receive this email within 24 hours of registering please contact us at <a href="mailto:info@yourlocalcousin.com">info@yourlocalcousin.com</a> </p>
    <div class="space20"></div>
    <p>Note: some emails may go to your spam folder. Please check this if you do not receive your confirmation email.</p>
    <p>Best,</p>
    <p>Your Local Cousin</p>

</div>
</section>