<section class="top-bar" ng-include="'core/views/navbar.tpl.html'"></section>

<section><!-- blog banner -->
    <div class="blog-banner">
        <img src="https://www.filepicker.io/api/file/IQ3Ld4Q9RmCMsDNG8zDS" class="img-responsive cm-img" alt="" width="100%">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <i class="space10">Photo Credits: Stefanie Bielekova</i>
                </div>
            </div>
        </div>
    </div>
</section><!-- end blog banner -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social-contest pull-right space30">
                    <ul class="list-inline">

                        <li>
                            <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><i class="fa fa-facebook fsize30 pull-right"></i>

                            </a>
                        </li>

                        <li>
                            <a href="https://twitter.com/yourlocalcousin"><i class="fa fa-twitter fsize30"></i>

                            </a>
                        </li>

                        <li>
                            <a href="https://instagram.com/yourlocalcousin/"><i class="fa fa-instagram fsize30"></i>

                            </a>
                        </li>

                    </ul>
                </div>
        </div>
    </div>
</section>
<hr>
<section><!-- start  local work -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h3 class="blackclr fsize24 cfont-mob fwieght space20">Where do you love to hangout?</h3>

            <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">We'd love to know about your favorite hangout spot.  It can be a <b>restaurant, park, bar, surf spot, ancient ruin,</b> your favorite spot on the beach or anything else you think fit. Let us know why you like it so much.</p>

            <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">Post photos of such places on <b>Facebook, Twitter and Instagram</b> as part of our social media contest and win up to <b>$200</b> in prizes. Isn't that cool? Maybe you already used to share such pics on social media profiles, but now you can win amazing prizes for doing just that.
            </p>


            <div class="space20"></div>
            </div>
        </div>
    </div>
</section><!-- end local work -->
<hr>

<section><!-- start testimonial -->
    <div class="container">
        <div class="row">
              <div class="col-md-12">
                <h3 class="blackclr fsize24 cfont-mob space20 fwieght">Contest duration:</h3>

                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space20 about-font-mob1">Start: May 9, 2016 9:00 AM US Eastern Standard Time (EST)</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space20 about-font-mob1">End: June 9, 2016 12:00 AM US EST</p>
                  <h3 class="blackclr fsize24 space30 fwieght">Prizes:</h3>
                  <p align="justify" class="blackclr fsize17 lheight25 lspace03 space20 about-font-mob1">1st place - $100 gift card (your choice!)</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space20 about-font-mob1">2nd place - $60 gift card (your choice!)</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space20 about-font-mob1">3rd place - $40 gift card (your choice!)</p>
                  <div class="space20"></div>
            </div>
        </div>
    </div>
</section><!-- end testimonial -->
<hr>

<section><!-- start local cousin-->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="blackclr fsize24 cfont-mob space20 fwieght">How to participate:</h3>
                <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf">
                    <h3 class="orangeclr fsize24 cfont-mob space30 fwieght">On our Facebook Page :</h3>
                </a>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">1.	Post photos of your favorite hangout spots and tag the place (if you can!). Your favorite hangout can be any place that you frequently visit with your friends and family. It can be a restaurant, park, bar, surf spot, ancient ruin, your favorite spot on the beach or anything else you think fit.</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">2.	Feel free to mention friends who you share memories with.</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">3.	Use the hashtag #ylccontest in your post.</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">4.	Your post and photo must be posted on YLC’s Facebook page: <a class="orangeclr" href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf">https://www.facebook.com/YourLocalCousins</a></p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">5.	Get your friends and family to like and comment on your post and share their favorite memory of you there.</p>
            </div>
                <div class="col-md-6">
                    <img src="https://www.filepicker.io/api/file/ZnjsotOTQyugIEROocPo" class="img-responsive space80" alt="" width="100%">
                </div>
        </div>

            <div class="row">
                <div class="col-md-6">
                    <a href="https://instagram.com/yourlocalcousin/"><h3 class="orangeclr cfont-mob fsize24 cfont-mob space30 fwieght">On our Instagram account:</h3></a>
                    <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">1.	Post photos of your favorite hangout spots and tag the place (if you can!). Your favorite hangout can be any place that you frequently visit with your friends and family. It can be a restaurant, park, bar, surf spot, ancient ruin, your favorite spot on the beach or anything else you think fit.</p>
                    <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">2.	Mention your friends in the post (if they have an instagram account).</p>
                    <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">3.	Use the hashtag #ylccontest (that's how we'll track you down!) </p>
                    <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">4.	You should post the photos on your own Instagram</p>
                    <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">5.	Get your friends and family to like and comment on your post with funny stories and favorite memories.</p>
                </div>
                <div class="col-md-6">
                    <img src="https://www.filepicker.io/api/file/ymUFelniSpOXzvsQG2yQ" class="img-responsive space40" alt="" width="100%">
                </div>
            </div>

        <div class="row">
            <div class="col-md-6">
                <a href="https://twitter.com/yourlocalcousin"><h3 class="orangeclr fsize24 cfont-mob space30 fwieght">On our Twitter handle:</h3></a>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">1. Post photos of your favorite hangout spots and tag the place (if you can!). Your favorite hangout can be any place that you frequently visit with your friends and family. It can be a restaurant, park, bar, surf spot, ancient ruin, your favorite spot on the beach or anything else you think fit.</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">2.	Mention your friends in the post (if they have Twitter accounts).</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">3.	Use the hashtag #ylccontest (that's how we'll track you down!)</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">4.	You should post the photos on your own Twitter account</p>
                <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">5.	Get your friends and family to like and retweet your post.</p>
            </div>
            <div class="col-md-6">
                <img src="https://www.filepicker.io/api/file/q2cBMbuRdaEnRmGgA3QC" class="img-responsive space40" alt="" width="100%">

            </div>
        </div>
    </div>
</section>
<hr>
<section><!-- start  local work -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h4 class="blackclr fsize24 space20 cfont-mob fwieght">How the winners are chosen:</h4>
            <p align="justify" class="blackclr fsize17 lheight25 lspace03 space30 about-font-mob1">The Your Local Cousin team will vote on the best photos and will take into account:</p>
            <p align="justify" class="blackclr fsize17 lheight25 lspace03 space15 about-font-mob1">•	Quality of submission and abiding by the rules of the contest.</p>

            <div class="space20"></div>
                </div>
        </div>
    </div>
</section><!-- end local work -->
<hr>
<section><!-- start testimonial -->
    <div class="container">
       <div class="row">
           <div class="col-md-12">
           <h4 class="blackclr fsize24 cfont-mob space20 fwieght">Terms and Conditions:</h4>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	The YLC contest is open to anyone 18 and over.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	 This promotion is in no way sponsored, endorsed or administered by, or associated with Facebook. You understand that you are providing your information to the owner of this Facebook page and not to Facebook.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	The YLC contest starts from May 9, 2016 9:00 AM US. Eastern Standard Time (EST) and closes on June 9, 2016 12:00 AM EST.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	Entrants shall accept these terms and conditions. Also, Contest Terms and Conditions are subject to change without prior notice.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	Entry to the Contest on Your Local Cousin is free.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	Entries on behalf of another person will not be accepted and joint submissions are not allowed.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	The image/photo shared must be original and you must have ownership of it and it should be high-resolution. Photos that are obscene, racial or derogatory in any manner will be removed immediately.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	A participant can submit multiple photos / images.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	Entrants confirm that each individual whose image is featured in the contest entry has given consent for the use of his/her image by Your Local Cousin for social media and marketing purposes.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	Selection of winner(s) is solely under the discretion of YLC Founders. Factors including quality of submission, number of social shares of entries by participants and number of likes on social entries will be taken into consideration.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	The participating member will be credited according to entry names provided. It is the entrant’s responsibility to ensure accuracy.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	Winners will be announced after a week from the end of the contest date.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	The prizes cannot be exchanged or transferred by you and cannot be redeemed by you for cash or any other prize.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	We take no responsibility for entries that are lost, delayed, misdirected or incomplete or cannot be delivered or entered for any technical or other reason. Proof of delivery of the entry is not proof of receipt.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	The participating member (a) grants Your Local Cousin a non-exclusive license to exercise all rights in perpetuity throughout the world in the entry material for social media purposes and all other material provided by the entrant to Your Local Cousin to this contest at any time; and (b) represents and warrants that the exercise of the rights granted to Your Local Cousin in these terms and conditions will not infringe the rights of any third parties; and (c) indemnifies Your Local Cousin against any loss or damage resulting from any breach of the foregoing representation and warranty.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	Responsibility of arrangement for receipt of the prize belongs to the winner(s), to ensure appropriate and correct collection.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	Prize(s) will be distributed within two weeks after the announcement of the winner(s), subject to confirmation email from the winner(s). Winning member(s) will be notified via email. If no acknowledgement is received by Your Local Cousin, it reserves the right to select another winner or retain the prize.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1"> •	We retain the right to substitute the prizes with another prize of similar value in the event that the original prize offered is not available.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	Your Local Cousin will not be held liable for any dissatisfaction arising out of the participants’ experience with the prizes offered. The participants shall indemnify Your Local Cousin from any liabilities, personal harm or losses incurred directly or indirectly as a result of participating in this Contest, or through the usage of the prizes.</p>
           <p align="justify" class="blackclr fsize14 lheight25 lspace03 space15 about-font-mob1">•	There should be a minimum cumulative entries of 150 across three social channel fot the contest to be valid.</p>
           <div class="space50"></div>
               </div>
       </div>
    </div>
</section><!-- end testimonial -->
<footer class="text-center" ng-include="'core/views/footer.tpl.html'">
</footer>