<section>
    <div class="text-center footer"><!-- start footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center space20">
                        <a class="navbar-brand1 whiteclr logo footer-heading" href="index.html"><h2>Your Local Cousin</h2></a>
                    </div>
                    <div class="social-icon space30">
                        <ul class="sicons list-inline">
                            <li>
                                <a href="https://www.facebook.com/YourLocalCousins?fref=ts&ref=br_tf"><img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:45,fit:crop,align:faces/https://cdn.filepicker.io/api/file/LKpuvIRLS2qLuAnhX3ZI?cache=true" alt="Travel Smarter with Your Local Cousin with access to locals in over 80 countries"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/yourlocalcousin"><img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:45,fit:crop,align:faces/https://cdn.filepicker.io/api/file/973x0JL5TMqBCuB6UHKj?cache=true" alt="Customized and Inexpensive Travel Planning by getting in contact with actual locals"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/your-local-cousin"><img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:45,fit:crop,align:faces/https://cdn.filepicker.io/api/file/Qvgcxn0fQT6paZbPiuYA?cache=true" alt="Explore the hidden gems of the cities you travel next."></a>
                            </li>

                            <li>
                                <a href="https://plus.google.com/115006908690956893901"><img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:45,fit:crop,align:faces/https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:150,height:150,fit:crop,align:faces/https://cdn.filepicker.io/api/file/MS5Qe6YhRICf2QGo7342?cache=true" alt="Get personalized travel itineraries at affordable cost."></a>
                            </li>

                            <li>
                                <a href="https://instagram.com/yourlocalcousin/"><img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:45,fit:crop,align:faces/https://cdn.filepicker.io/api/file/oUSQwSqHSJKPG3lHSTQP?cache=true" alt="Travel Smarter with Your Local Cousin with access to locals in over 80 countries"></a>
                            </li>
                        </ul>
                    </div>


                    <!--<div class="footer-menu-new">&lt;!&ndash; start footer menu &ndash;&gt;-->
                        <!--<ul class="list-inline whiteclr">-->
                            <!--<li>-->
                                <!--<a ui-sref="about">-->
                                    <!--About Us &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="signup" ng-show="!signedIn">-->
                                <!--<a ui-sref="signup" analytics-on="click" analytics-event="Become a local cousin button click">Become A Local Cousin &nbsp;&nbsp;|</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="giftcard">Gift Card &nbsp;&nbsp;|</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="faq">-->
                                    <!--FAQ &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="termsofuse">-->
                                    <!--Terms of Use &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a ui-sref="pricing">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Pricing &nbsp;&nbsp;|&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->


                            <!--<li>-->
                                <!--<a ui-sref="blog.view">-->
                                    <!--Blog &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="contact">-->
                                    <!--Contact Us &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="press">-->
                                    <!--Press &nbsp;&nbsp;|-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a ui-sref="affiliate">Affiliate Program</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash; end footer menu &ndash;&gt;-->
                </div>
            </div>
        </div>
        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:840,fit:crop,align:faces/https://cdn.filepicker.io/api/file/54j8UB8ST72J9wJyMXGi?cache=true" class="img-responsive" alt="Travel Smarter with Your Local Cousin with access to locals in over 80 countries" style="position: absolute; bottom: 0; left: 0; right: 840px; z-index: -1;">
        <img src="https://process.filestackapi.com/AFB3Ao0kOSgaTM65cLPchz/resize=width:840,fit:crop,align:faces/https://cdn.filepicker.io/api/file/54j8UB8ST72J9wJyMXGi?cache=true" class="img-responsive" alt="Travel Smarter with Your Local Cousin with access to locals in over 80 countries" style="position: absolute; bottom: 0; left: 840px; right: 0; z-index: -1;">
    </div><!-- end footer -->
</section>

<section class="last-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center" style="margin-top: 10px; margin-bottom: 25px;">
                    <h5 class="whiteclr">Copyright 	&copy;2017 Your Local Cousin</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>
