<section class="top-bar" ng-include="'core/views/navbar.tpl.html'"></section>
<section><!-- blog banner -->
    <div class="blog-banner">
        <img src="https://www.filepicker.io/api/file/F2WLn8ttQTKByBADyPcv" class="img-responsive" alt="press-header" width="100%">
    </div>
</section><!-- end blog banner -->



<section><!--start blog-bg -->
    <div class="blog-bg padding15">
        <div class="container">
            <div class="row">
                <h3 class="whiteclr text-center proximanova-regular text-upp">Press</h3>
            </div>
        </div>
    </div>
</section><!--end blog-bg -->



<section><!-- blog-menu start -->
    <div class="press-bg padding30">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="press">
                        <!--<div class="press-icon">
                            <img src="https://www.filepicker.io/api/file/wpJPh93Rd6PsL6nRSSee" alt="10-1_03" class="img-responsive">
                        </div>-->
                        <div class="press-txt">
                            <p class="fsize16 blackclr text-left "><span style="font-size: 23px; margin-left: -14px; color: #f15a24;">"</span> Two cousins noticed a hole in the market where traveling sites either focused on wealthier clients or left most of the work up to the travelers themselves. They developed the website Your Local Cousin to pair travel-enthusiasts with locals who have similar interests, to give an insider's take while sticking to a budget.<span style="font-size: 23px; color: #f15a24;">"</span>
                                <br>
                                <br>
                                <b> - Travel and Leisure</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="press">
                        <!--<div class="press-icon">
                            <img src="https://www.filepicker.io/api/file/wpJPh93Rd6PsL6nRSSee" alt="10-1_03" class="img-responsive">
                        </div>-->
                        <div class="press-txt">
                            <p class="fsize16 blackclr text-left "><span style="font-size: 23px; margin-left: -14px; color: #f15a24;">"</span> We recently tried this service in Singapore and it over exceeded our expectations. Thanks to the guide Anna we got, for example, a few memorable restaurant experiences that we otherwise would have missed.<span style="font-size: 23px; color: #f15a24;">"</span>
                                <br>
                                <br>
                                <b> - SvD (Swedish Newspaper)</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- blog-menu end -->
<div class="space50"></div>
<section><!-- blog- image start -->
    <div class="container">
        <div class="row">
            <div class="form-box coverage-bg ">
                <div class="col-md-8 col-sm-12 col-xs-12 padding30">
                    <div class="coverage">
                        <h3 class="blackclr fszie18 text-left">COVERAGE</h3>
                        <div class="coverage-txt space30">
                            <a href="http://www.bbc.com/travel/story/20161209-south-americas-most-underrated-city"
                               class="fsize14 text-left orangeclr ">South America's most underrated city?</a>
                            <h3 class="blackclr fsize14 text-left space10">BBC Travel</h3>
                            <h3 class="greyclr fsize14 text-left  space10">16 December, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.courageouslyfree.com/018-2/"
                               class="fsize14 text-left orangeclr ">Don’t Burn Your Bridges – Kunal Jain – Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Courageously free</h3>
                            <h3 class="greyclr fsize14 text-left  space10">30 November, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://skift.com/2016/10/18/5-new-travel-startups-where-tourism-is-a-dirty-word/"
                               class="fsize14 text-left orangeclr ">5 New Travel Startups Where Tourism Is a Dirty Word</a>
                            <h3 class="blackclr fsize14 text-left space10">Skift</h3>
                            <h3 class="greyclr fsize14 text-left  space10">18 October, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.budgettravel.com/feature/let-a-local-show-you-how-locals-live%20,68356/"
                               class="fsize14 text-left orangeclr ">Let a Local Show You How Locals Live </a>
                            <h3 class="blackclr fsize14 text-left space10">Budget Travel</h3>
                            <h3 class="greyclr fsize14 text-left  space10">23 September, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://sharetraveler.com/ylc-for-santiago/"
                               class="fsize14 text-left orangeclr ">Your Local Cousin: Getting Advice from a Local for a Trip to Santiago</a>
                            <h3 class="blackclr fsize14 text-left space10">Share Traveler</h3>
                            <h3 class="greyclr fsize14 text-left  space10">15 September, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.pinkpangea.com/2016/09/perfect-week-penang/"
                               class="fsize14 text-left orangeclr ">Your Guide to a Perfect Week in Penang, Malaysia</a>
                            <h3 class="blackclr fsize14 text-left space10">Pink Pangea</h3>
                            <h3 class="greyclr fsize14 text-left  space10">14 September, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href=" http://www.hindustantimes.com/travel/think-you-know-your-city-inside-out-be-a-local-cousin-and-help-tourists-discover-the-hidden-mumbai/story-1ZIZoRLJ3wQvjioMamWUvK.html"
                               class="fsize14 text-left orangeclr ">Do you know your city? Be a ‘local cousin’, help tourists discover Mumbai</a>
                            <h3 class="blackclr fsize14 text-left space10">Hindustan Times</h3>
                            <h3 class="greyclr fsize14 text-left  space10">29 August, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.bbc.com/travel/story/20160801-living-in-the-worlds-most-reputable-countries"
                               class="fsize14 text-left orangeclr ">Living in... the world's most reputable countries</a>
                            <h3 class="blackclr fsize14 text-left space10">BBC Travel</h3>
                            <h3 class="greyclr fsize14 text-left  space10">3 August, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.pinkpangea.com/2016/07/off-beaten-path-uzbekistan-conversation-neeraja-jain/"
                               class="fsize14 text-left orangeclr ">Off the Beaten Path in Uzbekistan: A Conversation with Neeraja Jain</a>
                            <h3 class="blackclr fsize14 text-left space10">Pink Pangea</h3>
                            <h3 class="greyclr fsize14 text-left  space10">4 July, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.pinkpangea.com/2016/06/work-leisure-manila-conversation-berrin-teo/"
                               class="fsize14 text-left orangeclr ">Work and Leisure in Manila: A Conversation with Berrin Teo</a>
                            <h3 class="blackclr fsize14 text-left space10">Pink Pangea</h3>
                            <h3 class="greyclr fsize14 text-left  space10">26 June, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.pinkpangea.com/2016/06/work-leisure-manila-conversation-berrin-teo/"
                               class="fsize14 text-left orangeclr ">Work and Leisure in Manila: A Conversation with Berrin Teo</a>
                            <h3 class="blackclr fsize14 text-left space10">Pink Pangea</h3>
                            <h3 class="greyclr fsize14 text-left  space10">June, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.bbc.com/travel/story/20160524-five-cities-beloved-by-digital-nomads"
                               class="fsize14 text-left orangeclr ">Living in.. the best cities for digital nomads</a>
                            <h3 class="blackclr fsize14 text-left space10">BBC Travel</h3>
                            <h3 class="greyclr fsize14 text-left  space10">30 May, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.allianztravelinsurance.com/travel/guides/corsica-guide.htm"
                               class="fsize14 text-left orangeclr ">The Beauty of Corsica</a>
                            <h3 class="blackclr fsize14 text-left space10">Allianz</h3>
                            <h3 class="greyclr fsize14 text-left  space10">21 May, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.voyagersworld.in/content/your-local-cousin-urges-travellers-experience-place-local-way"
                               class="fsize14 text-left orangeclr ">Your Local Cousin urges travellers to experience a place the local way</a>
                            <h3 class="blackclr fsize14 text-left space10">Voyager's World</h3>
                            <h3 class="greyclr fsize14 text-left  space10">19 May, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://thesurge.com/stories/settling-cairo-foodies"
                               class="fsize14 text-left orangeclr ">Settling In: Cairo For Foodies</a>
                            <h3 class="blackclr fsize14 text-left space10">The Surge</h3>
                            <h3 class="greyclr fsize14 text-left  space10">16 May, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://getkya.com/5-awesome-startups-we-saw-at-techday/"
                               class="fsize14 text-left orangeclr ">5 Awesome Startups We Saw at TechDay</a>
                            <h3 class="blackclr fsize14 text-left space10">Get Kya</h3>
                            <h3 class="greyclr fsize14 text-left  space10">03 May, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.builtinnyc.com/2016/04/22/ny-tech-day-recap"
                               class="fsize14 text-left orangeclr ">6 weird and awesome things we saw at NY Tech Day</a>
                            <h3 class="blackclr fsize14 text-left space10">Built In NYC</h3>
                            <h3 class="greyclr fsize14 text-left  space10">22 April, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://frontierenews.it/2016/04/your-local-cousin-la-startup-indiana-che-premia-i-consigli-di-viaggio/"
                               class="fsize14 text-left orangeclr ">Your local cousin, the Indian startups that rewards travel</a>
                            <h3 class="blackclr fsize14 text-left space10">Frontiere News</h3>
                             <h3 class="greyclr fsize14 text-left  space10">18 April, 2016</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.lt.lk/2016/03/launch-local-cousin/"
                               class="fsize14 text-left orangeclr ">Launch of Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Life Times Sri Lanka</h3>
                             <h3 class="greyclr fsize14 text-left  space10">March, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://lbb.in/delhi/get-help-exploring-the-world-with-your-local-cousin/"
                               class="fsize14 text-left orangeclr ">Get Help Exploring the World With Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Little Black Book Delhi</h3>
                             <h3 class="greyclr fsize14 text-left  space10">26 February, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.alleywatch.com/2016/02/this-nyc-startup-will-make-your-next-trip-a-lot-more-genuine/"
                               class="fsize14 text-left orangeclr ">This NYC Startup Will Make Your Next Trip a Lot More Genuine</a>
                            <h3 class="blackclr fsize14 text-left space10">Alley Watch</h3>
                            <h3 class="greyclr fsize14 text-left  space10">26 February, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.travhq.com/industry/startup-feature/your-local-cousin-will-make-trip-planning-a-breeze/"
                               class="fsize14 text-left orangeclr ">Your Local Cousin will make trip planning a breeze</a>
                            <h3 class="blackclr fsize14 text-left space10">travHQ</h3>
                            <h3 class="greyclr fsize14 text-left  space10">22 January, 2016</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.twoamericansinchina.com/2016/01/your-local-cousin-helps-you-travel-like-a-local.html"
                               class="fsize14 text-left orangeclr">Your Local Cousin Helps You Travel Like a Local</a>
                            <h3 class="blackclr fsize14 text-left space10 ">Two Americans in China</h3>
                             <h3 class="greyclr fsize14 text-left  space10">20 January, 2016</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://e4y.net/trv/five-cities-beloved-by-digital-nomads/"
                               class="fsize14 text-left orangeclr ">Five cities beloved by digital nomads</a>
                            <h3 class="blackclr fsize14 text-left space10">The Seattle Times</h3>
                            <h3 class="greyclr fsize14 text-left  space10">8 January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.seattletimes.com/life/travel/how-sharing-has-changed-the-face-of-travel/"
                               class="fsize14 text-left orangeclr ">How ‘sharing’ has changed the face of travel</a>
                            <h3 class="blackclr fsize14 text-left space10">E4Y</h3>
                            <h3 class="greyclr fsize14 text-left  space10">January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.stripes.com/travel/from-homes-to-meals-to-cars-sharing-has-revolutionaized-travel-1.387423"
                               class="fsize14 text-left orangeclr ">From homes to meals to cars, 'sharing' has revolutionaized travel</a>
                            <h3 class="blackclr fsize14 text-left space10">Stars & Stripes</h3>
                            <h3 class="greyclr fsize14 text-left  space10">6 January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://collectively.org/en/article/19-ways-to-use-the-sharing-economy-to-make-your-new-year-resolutions-stick-in-2016/?utm_source=collectivelytwittus"
                               class="fsize14 text-left orangeclr ">19 ways to make your New Year resolutions stick using the sharing economy</a>
                            <h3 class="blackclr fsize14 text-left space10">Collectively</h3>
                             <h3 class="greyclr fsize14 text-left  space10">4 January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.filepicker.io/api/file/7NtyWl1nTlOTfv0l2IZU"
                               class="fsize14 text-left orangeclr ">Customize Your Trip</a>
                            <h3 class="blackclr fsize14 text-left space10">Svenska Dagbladet Newspaper (January 3, 2016) – Sweden</h3>
                            <h3 class="greyclr fsize14 text-left  space10">January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.filepicker.io/api/file/fpHZAzXBQti83FgZNG0V"
                               class="fsize14 text-left orangeclr ">Gamechangers of the travel trade industry</a>
                            <h3 class="blackclr fsize14 text-left space10">Selling World Travel (January 2016 magazine) - India </h3>
                            <h3 class="greyclr fsize14 text-left  space10">January, 2016</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.govtech.com/applications/Rise-of-the-Sharing-Economy-Has-Revolutionized-Travel.html"
                               class="fsize14 text-left orangeclr ">Rise of the Sharing Economy Has Revolutionized Travel</a>
                            <h3 class="blackclr fsize14 text-left space10">Government Technology</h3>
                            <h3 class="greyclr fsize14 text-left  space10">17 December, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.chicagotribune.com/lifestyles/travel/sc-trav-1229-sharing-economy-20151216-story.html"
                               class="fsize14 text-left orangeclr ">From Homes to Meals to Cars, 'Sharing' has Changed the Face of Travel</a>
                            <h3 class="blackclr fsize14 text-left space10">The Chicago Tribune</h3>
                            <h3 class="greyclr fsize14 text-left  space10">16 December, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">Travel Advice from Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Travel Massive</h3>
                            <h3 class="greyclr fsize14 text-left  space10">December, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.filepicker.io/api/file/MmtWuHhATn2lV9hs2PsF"
                               class="fsize14 text-left orangeclr ">Coolest Indian Startups in 2015</a>
                            <h3 class="blackclr fsize14 text-left space10">Air Vistara (December 2015 in-flight magazine) - India</h3>
                            <h3 class="greyclr fsize14 text-left  space10">December, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.travhq.com/opinions/8-essential-travel-startup-lessons-every-budding-entrepreneur-should-know/"
                               class="fsize14 text-left orangeclr ">8 ESSENTIAL TRAVEL STARTUP LESSONS EVERY BUDDING ENTREPRENEUR SHOULD KNOW</a>
                            <h3 class="blackclr fsize14 text-left space10">TravHQ</h3>
                             <h3 class="greyclr fsize14 text-left  space10">28 December, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://elcomercio.pe/vamos/consejos-de-viajes/estas-paginas-webs-buscan-residentes-que-sirvan-guia-noticia-1852940"
                               class="fsize14 text-left orangeclr ">These websites looking for residents to guide</a>
                            <h3 class="blackclr fsize14 text-left space10">El Comercio</h3>
                             <h3 class="greyclr fsize14 text-left  space10">2 November, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.travelandleisure.com/articles/your-local-cousin-travel-startup" class="fsize14 text-left orangeclr ">Start-Up Pairs Travelers with Locals for a (Personalized!) Insider's Guide to 100 Cities.</a>
                            <h3 class="blackclr fsize14 text-left space10">Travel + Leisure</h3>
                            <h3 class="greyclr fsize14 text-left  space10">October, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.eluniversal.com.mx/articulo/destinos/2015/11/9/conoce-habitantes-dispuestos-mostrarte-su-ciudad"
                               class="fsize14 text-left orangeclr ">Meet People willing to show you their city</a>
                            <h3 class="blackclr fsize14 text-left space10">El Universal</h3>
                             <h3 class="greyclr fsize14 text-left  space10">11 September, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://roadwarriorvoices.com/2015/08/21/these-startups-help-travelers-explore-the-local-side-of-the-city/" class="fsize14 text-left orangeclr ">These startups help travelers explore the local side of the city</a>
                            <h3 class="blackclr fsize14 text-left space10">USA Today Travel,Road Warrior Voices</h3>
                             <h3 class="greyclr fsize14 text-left  space10">21 August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://www.yourlocalcousin.co/"
                               class="fsize14 text-left orangeclr ">Travelling? Ask Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Tabla Magazine - Singapore</h3>
                            <h3 class="greyclr fsize14 text-left  space10">August, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="http://www.tnooz.com/article/startup-pitch-your-local-cousin/"
                               class="fsize14 text-left orangeclr ">Your Local Cousin will hold your hand for better travel experiences</a>
                            <h3 class="blackclr fsize14 text-left space10">Tnooz</h3>
                             <h3 class="greyclr fsize14 text-left  space10">17 August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">The Portal to Connect with Your Cousins</a>
                            <h3 class="blackclr fsize14 text-left space10">Sabemos – Spain</h3>
                            <h3 class="greyclr fsize14 text-left  space10">August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.duggal.com/your-local-cousin-redefines-travel-planning-with-new-social-platform/"
                               class="fsize14 text-left orangeclr ">Your Local Cousin’ Redefines Travel Planning with New Social Platform</a>
                            <h3 class="blackclr fsize14 text-left space10">Duggal Visual Solutions - New York</h3>
                            <h3 class="greyclr fsize14 text-left  space10">17 August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">Get Travel Tips from Your Local Cousin</a>
                            <h3 class="blackclr fsize14 text-left space10">Trazee Travel</h3>
                            <h3 class="greyclr fsize14 text-left  space10">August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.blog.spjain.org/highlights/s-p-jains-alum-kunal-jain-launches-his-own-business"
                               class="fsize14 text-left orangeclr ">S P JAIN’S ALUM KUNAL JAIN LAUNCHES HIS OWN BUSINESS</a>
                            <h3 class="blackclr fsize14 text-left space10">S.P. Jain Blog</h3>
                            <h3 class="greyclr fsize14 text-left  space10">23 May, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="https://producthuntdelhi.splashthat.com/"
                               class="fsize14 text-left orangeclr ">Product Hunt IRL meet-up in India</a>
                            <h3 class="blackclr fsize14 text-left space10">Product Hunt Delhi</h3>
                            <h3 class="greyclr fsize14 text-left  space10">10 May, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">Radio 94.3 – Delhi</a>
                            <h3 class="blackclr fsize14 text-left space10"></h3>
                            <h3 class="greyclr fsize14 text-left  space10">May, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">Radio 89.1 - Dubai</a>
                            <h3 class="blackclr fsize14 text-left space10"></h3>
                            <h3 class="greyclr fsize14 text-left  space10">May, 2015</h3>
                        </div>

                        <div class="coverage-txt space30">
                            <a href="#"
                               class="fsize14 text-left orangeclr ">KCAA Radio Station – Los Angeles</a>
                            <h3 class="blackclr fsize14 text-left space10"></h3>
                            <h3 class="greyclr fsize14 text-left  space10">April, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://outwithleila.blogspot.com/2015/04/the-best-travel-tips-come-from-locals.html"
                               class="fsize14 text-left orangeclr ">The best travel tips come from locals: speak to one of them right now while planning your next holiday!</a>
                            <h3 class="blackclr fsize14 text-left space10">Out With Leila</h3>
                            <h3 class="greyclr fsize14 text-left  space10">21 April, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.tnooz.com/article/startup-pitch-your-local-cousin/"
                               class="fsize14 text-left orangeclr ">Your Local Cousin will hold your hand for better travel experiences</a>
                            <h3 class="blackclr fsize14 text-left space10">Tnooz</h3>
                            <h3 class="greyclr fsize14 text-left  space10">17 August, 2015</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://skift.com/2015/03/24/daily-travel-startup-watch-your-local-cousin-expatreviews-and-more/"
                               class="fsize14 text-left orangeclr ">Daily Travel Startup Watch: Your Local Cousin, Expat Reviews and More</a>
                            <h3 class="blackclr fsize14 text-left space10">Skift</h3>
                             <h3 class="greyclr fsize14 text-left  space10">24 March, 2015	</h3>
                        </div>
                        <div class="coverage-txt space30">
                            <a href="http://www.sheknows.com/living/articles/1077941/common-obstacles-that-get-in-the-way-of-traveling-and-how-to-get-around-them"
                               class="fsize14 text-left orangeclr ">5 Obstacles that get in the way of travel and how to overcome them</a>
                            <h3 class="blackclr fsize14 text-left space10">She Knows</h3>
                            <h3 class="greyclr fsize14 text-left  space10">11 March, 2015	</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 pressborder padding30">
                    <!--<div class="overview">
                        <h3 class="blackclr fszie18 text-left">OVERVIEW</h3>
                        <p class="fsize14 text-left blacklr space20">Contact Us or email us directly at <a href="mailto:info@yourlocalcousin.com"><span class="orangeclr">info@yourlocalcousin.com</span></a> for our Press Kit</p>
                    </div>-->
                    <div class="contact-txt">
                        <h3 class="blackclr fszie18 text-left">CONTACT</h3>
                        <p class="fsize14 text-left blacklr space10">Media Contact: <a href="mailto:info@yourlocalcousin.com"><span class="orangeclr">info@yourlocalcousin.com</span></a></p>
                        <p class="fsize14 text-left blacklr">Twitter: <a href="https://twitter.com/yourlocalcousin">
                            <span class="orangeclr">@yourlocalcousin</span>
                        </a></p>
                        <p class="fsize14 text-left blacklr">Facebook: <a href="https://www.facebook.com/YourLocalCousins/">
                            <span class="orangeclr">facebook.com/yourlocalcousins</span></a></p>
                        <p class="fsize14 text-left blacklr">Blog: <a href=""><span class="orangeclr"> yourlocalcousin.com/#/blog</span></a></p>
                    </div>

                    <div class="contact-txt space20">
                        <h3 class="blackclr fszie18 text-left">PRESS KIT</h3>
                        <div class="download-img">
                            <a href="https://www.filepicker.io/api/file/cd11izJ0S0yXq5awU0TL" class="orangeclr" download="PressKit">
                            <img src="https://www.filepicker.io/api/file/3gCMYgwAQTa6YJTKPSwg" alt="11-1_03" >
                            Download Press Kit</a>
                        </div>
                    </div>
                    <!--<div class="contact-txt space20">-->
                        <!--<h3 class="blackclr fszie18 text-left">DOWNLOAD LOGO</h3>-->
                        <!--<div class="download-logo">-->
                            <!--<a href="#" class="orangeclr">YourLocalCousin Logo</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="contact-txt space20">-->
                        <!--<h3 class="blackclr fszie18 text-left">VIDEOS</h3>-->
                        <!--<div class="download-img">-->
                            <!--<iframe width="100%" height="315" class="space20" src="https://www.youtube.com/embed/VMXO-wyrTy4" frameborder="0" allowfullscreen></iframe>-->
                            <!--<a href="#" class="orangeclr">Check out our Vine!</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section><!-- blog image end -->

<div class="space50"></div>
<footer class="text-center" ng-include="'core/views/footer.tpl.html'"></footer>
