<!--<section class="local-banner">&lt;!&ndash; start banner &ndash;&gt;-->
	<!--</section>&lt;!&ndash; end banner &ndash;&gt;-->

	<section>
		<div class="container padding30">
			<div class="row">
				<div class="col-md-12">
					<div class="quaot">
						<p class="fsize18  text-center">
							Wouldn’t it be great if there was a network of
							<br>
							‘Local Cousins’ across the globe who could give
							<br> 
							advice to travelers that would help uncover the
							<br> 
							places that locals love to go!
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section><!--start Join our family of 'Local Cousins' -->
		<div class="blog-bg padding15">
			<div class="container">
				<div class="row">
					<h3 class="whiteclr text-center proximanova-regular text-upp">Join our family of 'Local Cousins'</h3>
				</div>
			</div>
		</div>
	</section><!--end Join our family of 'Local Cousins'-->
	 
	<section>
		<div class="container-fulid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="https://www.filepicker.io/api/file/Vo3oZwVbSaOzNO6WONYh" alt="" class="img-responsive">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p class="orangeclr fsize30 lheight40 text-center space50">If you love bragging
					<br>
					about all the cool places
					<br>
					you know now you can
					<br>
					get paid for it!</p>
				</div>
			</div>
		</div>
	</section>


	<section>
		<div class="container-fulid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p class="orangeclr fsize30 lheight40 text-center space50">Work from anywhere in 
					<br>
					the world – on a boat, in a
					<br>
					park or even in your paja-
					<br>
					mas!</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="https://www.filepicker.io/api/file/gsJz4cRcOFHCAtlBtdlg" alt="" class="img-responsive">
				</div>
			</div>
		</div>
	</section>



	<section>
		<div class="container-fulid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<img src="https://www.filepicker.io/api/file/xfwBdxpQSyPnTWFakN4P" alt="" class="img-responsive">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p class="orangeclr fsize30 lheight40 text-center space50">You love to find the best food
					<br>
					and the best hangout spots -
					<br>
					while skipping the
					<br>
					commercial stuf</p>
				</div>
			</div>
		</div>
	</section>


<div class="space100"></div>
	<section><!-- create profile start -->
		<div class="container">
			<div class="row">
				<h3 class="blueclr fsize30 text-center">How to get started as a ‘Local Cousin’</h3>

				<div class="space50"></div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="bluecircle">
							<div class="num"><h3 class="text-center whiteclr fsize30">1</h3></div>
						</div>
						<h3 class="blackclr fsize20 text-center f700 space20">CREATE A PROFILE</h3>
						<p class="blackclr fsize16 text-center space20">Describe your interests, list
						<br>
						the languages you speak and
						<br>
						choose your product offerings.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="bluecircle">
							<div class="num"><h3 class="text-center whiteclr fsize30">2</h3></div>
						</div>
						<h3 class="blackclr fsize20 text-center f700 space20 text-upp">Get Verified</h3>
						<p class="blackclr fsize16 text-center space20">Describe your interests, list
						<br>
						the languages you speak and
						<br>
						choose your product offerings.</p>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="bluecircle">
							<div class="num"><h3 class="text-center whiteclr fsize30">3</h3></div>
						</div>
						<h3 class="blackclr fsize20 text-center f700 space20 text-upp">Start getting paid</h3>
						<p class="blackclr fsize16 text-center space20">Describe your interests, list
						<br>
						the languages you speak and
						<br>
						choose your product offerings.</p>	
					</div>
			</div>

			<div class="row space50">
					<div class="col-md-12">
						<div class="text-center space20">
							<a href="" ui-sref="create.about" class="profilebtn ">
								CREATE PROFILE
							</a>
						</div>
					</div>
				</div>


			<form ng-submit="submitSearchPhotos()">
				<div class="row space50">
					<div class="col-md-4">
						<div class="text-center space20">
							<div class="form-group">
								<input  class="form-control"
										placeholder="eg. London, UK"
										type="text"
										name="city"
										ng-model="location"
										force-selection="true"
										g-places-autocomplete
										autocomplete="off"
										id="city1"
										options="autocompleteOptions">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<ul class="list-inline">
							<li>
								<a href="" ng-click="uploadFile()">
									<div class="add-photo add-photo1">
										<img src="https://www.filepicker.io/api/file/IzDQdXGRSwGxk5uLhEfg" class="img-responsive" alt="plus_03" width="40%">
										<div class="space20"></div>
										<p class="whiteclr fsize16 text-center font-video">ADD PHOTO</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<div class="text-left space20">
							<button class="blockbtn" type="submit">
								SUBMIT CITY PHOTO
							</button>
						</div>
					</div>



					<div class="contactbtn">
					<button ng-click="uploadWebsitePhotos()" class="blockbtn btnpad text-upp space30">
					Submit Website Photos
					</button>
					<br>
					</div>


				</div>
			</form>
		</div>
	</section><!-- create profile start -->




